{% extends "admin/base_admin.html" %}

{% load i18n %}
{% load account %}

{% block content %}

<style type="text/css">
    #services{display: none}
</style>
<section class="ls ms section_padding_top_30 section_padding_bottom_30">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="customcard">
                
                    <div class="header mb-20">
                        <h3 class="theme-color">{% trans "Password Reset" %}</h3>
                    </div>
                    <div class="body">
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                        <form class="checkout with_padding form-horizontal" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form.email }}
                            <br>
                            <button class="theme_button color2 min_width_button margin_0 " type="submit">{% trans 'Reset My Password' %}</button>
                        </form>

                        <p class="">Si tiene alguna dificultad para restablecer tu contraseña, por favor <a href="/contactenos/">contáctanos</a>.</p>
                    </div>
                    <br>

                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $("#id_email").addClass("form-control");
</script>
    
{% endblock extra_js %}
