{% extends "../base.html" %}

{% load i18n %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
               <h1 class="white-color">{% trans "Sign Up" %}</h1>
           </div>
       </div>
   </div>
</section>

<div class="container">
	<div class="row">
		<div class="col-sm-7 col-md-8 col-lg-8">
			<div class="">
				<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

				<form class="checkout with_border with_padding form-horizontal" method="POST" action="/accounts/signup/">{% csrf_token %}
					{{form.username}} {{form.username.help_text}}
					{{form.email}} {{form.email.help_text}}
					{{form.password1}} {{form.password1.help_text}}
					{{form.password2}} {{form.password2.help_text}}
					<button type="submit">{% trans "Sign Up" %}</button>
					{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}
				</form>

				{% endblock %}

			</div>
		</div>
	</div>
</div>


