{% extends "admin/base_admin.html" %}

{% block content %}
<div class="card">
	<div class="header">
		<h2>Actualidad</h2>
		<ul class="header-dropdown">
			<li><a href="javascript:void(0);" class="btn btn-info" data-toggle="modal" data-target="#addcontact">Crear actualidad</a></li>
		</ul>
	</div>
	<div class="body">
		
	</div>
</div>
	<a href="./agregar">Crear actualidad</a>
	<br>
	<ul>
	{% for obj in list_object %}
		<li><a href="">{{obj}}</a> | <a href="{% url 'actualidad_editar' obj.id %}"> Editar </a>|<a href="{% url 'eliminar_actualidad' obj.id %}"> Eliminar</a></li>
	{% endfor %}
	</ul>
{% endblock content %}
