<html>
<head>

	{% block extra_css %}{% endblock extra_css %}
</head>

<body>
	{% if request.user.is_authenticated %}
	<ul>
		<li><a href="/alianzas">Organizaciones</a></li>
		<li><a href="/alianzas/actualidad">Actualidad</a></li>
		<li><a href="/alianzas/foros">Foros</a></li>
		<li><a href="/alianzas/iniciativas-destacadas/eventos/">Eventos</a></li>
		<li><a href="/alianzas/recursos-metodologicos/galerias/">Galería</a></li>
		<li><a href="/alianzas/puntos-vista/">Puntos de vista</a></li>
	</ul>
	
	
	<li><a href="/accounts/profile/">{{request.user.get_full_name|default:request.user.username}}</a></li>
	<li><a href="/accounts/logout/">logout</a></li>

	{% else %}
	<li><a href="/accounts/login/?next={{ request.path }}">login</a></li>
	{% endif %}

	{% block content %}{% endblock content %}

	<script src="/static/js/jquery.min.js"></script>
	{% block extra_js %}{% endblock extra_js %}

</body>
</html>