{% load thumbnail %}
{% load compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<title>Plataforma Regional Género y Metodologías</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	{% compress css %}
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/animations.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/icofont.min.css">
    <link rel="stylesheet" href="/static/css/main.css" class="color-switcher-link">
    <link rel="stylesheet" href="/static/css/shop.css" class="color-switcher-link">
    <link rel="stylesheet" href="/static/css/maincustom.css" class="color-switcher-link">
	
	<link rel="stylesheet" href="/static/css/admin_style.css" class="color-switcher-link">
	<link rel="stylesheet" type="text/css" href="/static/css/lato-font.css">
	{% block extra_css %}{% endblock extra_css %}

	{% endcompress %}

	{% compress js %}
    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    {% endcompress %}
	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->
</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->
	

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls with_padding">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
	-->
		</div>
	</div>
<!-- eof .modal -->
<!-- wrappers for visual page editor and boxed version of template -->
<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->
	

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls with_padding">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
	-->
		</div>
	</div>
<!-- eof .modal -->
<!-- wrappers for visual page editor and boxed version of template -->

	<div id="canvas">
		<div id="box_wrapper">
			<!-- template sections -->
			<section class="page_topline ds table_section table_section_lg section_padding_top_15 section_padding_bottom_15 columns_margin_0 bg_customgreen">
	            <div class="container-fluid">
	                <div class="row">
	            		<div class="col-lg-6 text-center text-lg-left hidden-xs">
	                		<div class="inline-content big-spacing">
	                            <div class="page_social"> 
	                            	<a class="social-icon socicon-facebook white-color" href="https://www.facebook.com/generoymetodologias/" target="_blank" title="Facebook"></a> 
	                            	<a class="social-icon socicon-twitter white-color" href="https://twitter.com/PMetodologias" target="_blank" title="Twitter"></a>  
	                            	<a class="social-icon socicon-youtube white-color" href="https://www.youtube.com/channel/UCdKHGzo0grM2e7rVpAWSR9A?view_as=subscriber" target="_blank" title="Youtube"></a> 
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-6 text-center text-lg-right">
	                        <div id="topline-animation-wrap">
	                            <div id="topline-hide" class="inline-content big-spacing"> 

	                               
	                                <ul class="inline-list menu">
	                                    {% if request.user.is_authenticated %}

	                                    <li>
                                            <div class="comment-author">
                                        		{% if user.avatar %}
                                            		{% thumbnail user.avatar "34x34" crop="center" as im %}
                                                		<img class="" src="{{ im.url }}" alt="">
                                            		{% endthumbnail %}
                                        		{% elif user.socialaccount_set.all.0.get_avatar_url %}
                                            		{% thumbnail user.socialaccount_set.all.0.get_avatar_url "34x34" crop="center" as im %}
                                                		<img class="" src="{{ im.url }}" alt="">
                                            		{% endthumbnail %}
                                        		{% else %}
                                            		<span><i class="icofont-ui-user white-color"></i></span>
                                        		{% endif %}
                                    		</div>
	                                    </li>
	                                    <li>

	                                    	<div class="dropdown dp-user">
	                                    		<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	                                    			{{user.get_full_name|default:user.username}}
	                                    			<i class="icofont-caret-down rotate"></i>
	                                    		</a>
	                                    		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	                                    			
	                                    			{% if user.organizacion %}
	                                                   <li><a href="{% url 'perfil' %}">Organización</a></li> 
	                                                {% endif %}
													<li><a href="{% url 'editar_perfil' user.id %}?next={{ request.path }}">Editar perfil</a></li>
													<li><a href="{% url 'account_change_password' %}">Cambiar contraseña</a></li>

	                                    			<li role="separator" class="divider"></li>
	                                    			<li><a href="/accounts/logout/">Cerrar Sesión</a></li>
	                                    		</ul>
	                                    	</div>
	                                    </li>
	                                    {% else %}
	                                    <li>
	                                        <a href="{% url 'account_login' %}?next={{ request.path }}" class="white-color small-text"><i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesión </a> 
	                                    </li>
	                                    {% endif%}


	                                </ul>
	                               
	                            </div>

	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>

			<header class="page_header header_white toggler_xs_right columns_margin_0">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-sm-12 display_table">
	                        <div class="header_left_logo display_table_cell"> 
	                        	<a href="/" class="logo">
	                                <img src="/static/img/logo.png" alt="">
	                            </a> 
	                    	</div>
	                        <div class="header_mainmenu display_table_cell text-right">
	                            <!-- main nav start -->
	                            <nav class="mainmenu_wrapper">
	                                <ul class="mainmenu nav sf-menu">
	                                    <li class="{% if request.path == '/' %} active {% endif %}"> <a href="/">Inicio</a>

	                                    </li>

	                                    <li> <a class="{% if request.path == '/quienes-somos' %} active {% endif %}" href="/quienes-somos/">¿Quienes Somos?</a>
	                                    </li>

	                                    <!-- eof pages -->
	                                    <li> <a class="{% if '/alianzas' in request.path %} active {% endif %}" href="/alianzas">Alianzas y Colaboraciones</a>

	                                    </li>

	                                    <div id="mobile_menu" class="nav">
	                                        <hr>

	                                        <li class="">

	                                            <a href="#"><span>Actualidad</span></a>
	                                            <ul>
	                                                <li> <a href="/actualidad/noticias">Noticias</a> </li>
	                                                <li> <a href="/actualidad/situacion-regional-genero">Situación regional de género</a> </li>
	                                            </ul>
	                                        </li>

	                                        <li> 
	                                            <a href="/puntos-vista">Puntos de vista</a>
	                                        </li>

	                                        <li> 
	                                            <a href="/foros">Foros</a>
	                                        </li>

	                                        <li class="#">

	                                            <a>
	                                                <span>Recursos metodológicos</span>
	                                            </a>
	                                            <ul>
	                                                <li> <a href="/recursos-metodologicos/publicaciones">Publicaciones</a> </li>
	                                                <li> <a href="/recursos-metodologicos/guias-metodologicas">Guías metodológicas</a> </li>
	                                                <li> <a href="/recursos-metodologicos/galerias/imagenes">Imágenes</a> </li>
	                                                <li> <a href="/recursos-metodologicos/galerias/videos">Videos</a> </li>
	                                                <li><a href="#">Audios</a></li>
	                                            </ul>
	                                        </li>
	                                    </div>

	                                </ul>

	                            </nav>
	                            <!-- eof main nav -->
	                            <!-- header toggler -->

	                        </div>



	                	</div>
	            	</div>
	        	</div>
	    	</header>
			<section id="services" class="ls section_intro_overlap columns_padding_0 columns_margin_0 container_padding_0">
				<div class="container-fluid">
					<div class="row flex-wrap v-center-content">

						<div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
							<div class="teaser main_bg_color transp with_padding big-padding margin_0">
								<a href="/alianzas/actualidad/">
									<div class="media xxs-media-left">
										<div class="media- media-middle text-center">
											<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-news highlight" aria-hidden="true"></i> </div>
										</div>

										<div class="media-body media-middle text-center">
											
											<h5>Actualidad</h5>

										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
							<div class="teaser bg_customgreen transp with_padding big-padding margin_0">
								<a href="/alianzas/puntos-vista/">
									<div class="media xxs-media-left">
										<div class="media- media-middle text-center">
											<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-eye highlight5" aria-hidden="true"></i> </div>
										</div>


										<div class="media-body media-middle text-center">
											<h5 class="white-color">Puntos de vista</h5>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
							<div class="teaser main_bg_color2 transp with_padding big-padding margin_0">
								<a href="/alianzas/foros/">
									<div class="media xxs-media-left">
										<div class="media- media-middle text-center">
											<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-ui-chat highlight2" aria-hidden="true"></i> </div>
										</div>
										<div class="media-body media-middle text-center">
											<h4>Foros</h4>

										</div>
									</div>
								</a>
							</div>
						</div>

						<div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
							<div class="teaser main_bg_color4 transp with_padding big-padding margin_0">
								<a href="/alianzas/recursos-metodologicos/">
									<div class="media xxs-media-left">
										<div class=" media-middle text-center">
											<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-read-book highlight4" aria-hidden="true"></i> </div>
										</div>
										<div class="media-body media-middle text-center">
											<h5>Recursos metodológicos</h5>
										</div>
									</div>
								</a>
							</div>
						</div>

						<div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
							<div class="teaser main_bg_color3 transp with_padding big-padding margin_0">
								<a href="/alianzas/iniciativas-destacadas/">
									<div class="media xxs-media-left">
										<div class="media-middle text-center">
											<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-favourite highlight3" aria-hidden="true"></i> </div>
										</div>
										<div class="media-body media-middle text-center">
											
											<h5>Iniciativas destacadas</h5>

										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
				</div>
			</section>
			
			{% block content %}{% endblock content %}



			<section class="ds ms parallax page_copyright overlay_color section_padding_top_30 section_padding_bottom_30">
	            <div class="container">
	                <div class="row">
	                    <div class="col-sm-12 text-center justify-content-center align-items-center">
	                        <p>&copy; Copyright &copy; 2019. Todos los derechos reservados</p>

	                    </div>
	                </div>
	            </div>
	        </section>
		</div>
	</div>

	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
	{% compress js %}

	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/compressed.js"></script>
	{% if '/alianzas/editar/' not in request.path %}
		<script src="/static/js/selectize.min.js"></script>
	{% endif %}
	<!--<script src="/static/js/selectize.min.js"></script>-->
	<script src="/static/js/main.js"></script>
	<script src="/static/js/jquery.fancybox.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('.table').DataTable( {
		        "language": {
		            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
		        }
		    } );
		} );
	</script>
	{% block extra_js %}{% endblock extra_js %}
	{% endcompress %}
	</body>
</html>