{% extends "admin/base_admin.html" %}

{% block content %}
<style type="text/css">
	#services{display: none}
</style>
<section class="ls ms section_404 section_padding_top_50 section_padding_bottom_50">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p class="not_found"> <span class="highlight2">ERROR</span> </p>
				<h1>Oops, No pertenece a ninguna organización!</h1>
				<p>Contáctenos para solicitar vinculación a una organización.</p>
				<p> <a href="/contactenos/" class="theme_button color1 min_width_button">Contáctenos</a> </p>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
