{% extends "admin/base_admin.html" %}
{% load crispy_forms_tags %}


{% block extra_css %}
<link rel="stylesheet" href="/static/css/jquery-ui.css">
<link rel="stylesheet" href="/static/css/jquery.timepicker.min.css">
{% endblock extra_css %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="header bg-amarillo">
					<h2 class="text-white">
						{% if '/eventos/editar/' in request.path %}
							Editar
						{% else %}
							Nuevo
						{% endif %} 
						Evento
					</h2>
				</div>
				<div class="body">
					<form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
						{{form.errors}}
						{% load static %}
						<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
						<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
						{{form|crispy}}
						<br>

						<div class="row">
							<div class="col-md-6 pt-10"  style="background-color:#FFAF92">
								<h4>Galería</h4>
								<hr>
								{{ formset.management_form }}
								<div id="form_set">
									{% for form in formset.forms %}
									    {{form.non_field_errors}}
										{{form.errors}}
								        <div class='no_error'>
								            {{ form }}
								        </div>
								    {% endfor %}
								</div>

								<a class="btn-add row" type="button" id="add_more">
									<span class="fa fa-plus"> </span>
									Agregar imagen adicional
								</a>
								<div id="empty_form" style="display:none">
								    <div class='no_error'>
								        {{ formset.empty_form }}
								    </div>
								</div>
							</div>
						</div>
						<input class="theme_button color2 min_width_button margin_0" type="submit" name="Agregar" value="Agregar Evento">

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block location_field %}
{{form.media}}
{% endblock location_field %}

{% block extra_js %}
<script>
$('#add_more').click(function() {
	var form_idx = $('#id_galeriaeventos_set-TOTAL_FORMS').val();
	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_galeriaeventos_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/datepicker-es.js"></script>
<script src="/static/js/jquery.timepicker.min.js"></script>
<script>
// $('#id_position').hide();
$('#id_inicio').datepicker({format: 'dd/mm/yyyy',});
$('#id_final').datepicker({format: 'dd/mm/yyyy',});
$('#id_hora_inicio').timepicker({ 'timeFormat': 'HH:mm:ss' , 
									interval: 60,
									dynamic: false,
									dropdown: true,
								    scrollbar: true});
$('#id_hora_fin').timepicker({ 'timeFormat': 'HH:mm:ss' , 
								interval: 60,
								dynamic: false,
								dropdown: true,
								scrollbar: true});

  // $( function() {
  //  //  for (var i=0; i<=11; i++) {
  //  //    $('#id_agendaevento_set-'+i+'-fecha' ).datepicker({ dateFormat: 'dd/mm/yy' });
  //  //    $('#id_agendaevento_set-'+i+'-hora_inicio').timepicker({ 'timeFormat': 'H:i:s' });
  //  //    $('#id_agendaevento_set-'+i+'-hora_fin').timepicker({ 'timeFormat': 'H:i:s' });
  // 	// }

  // });

</script>
{% endblock extra_js %}
