{% extends "admin/base_admin.html" %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/jquery-ui.css">
{% endblock extra_css %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="customcard">

				<div class="header bg-rojo">
					<h2 class="text-white">{% if '/foros/editar/' in request.path %}
							Editar
						{% else %}
							Nuevo
						{% endif %} 
						Foro</h2>
				</div>
				<div class="body">
					<form action="." method="POST" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
						{{form.media}}
						{{form.errors}}
						{{form|crispy}}
						<input class="theme_button color2 min_width_button margin_0" type="submit" name="Agregar" value="{% if '/foros/editar/' in request.path %}Editar{% else %}Agregar{% endif %} ">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/datepicker-es.js"></script>
<script>
$('#id_apertura').datepicker({format: 'dd/mm/yyyy',});
$('#id_cierre').datepicker({format: 'dd/mm/yyyy',});

</script>
{% endblock extra_js %}