{% extends "admin/base_admin.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" />
{% endblock extra_css %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="customcard">
				<div class="header bg-naranja">
					<h2 class="text-white">Foros</h2>
					<ul class="header-dropdown">
						<li><a href="/alianzas/foros/agregar/" class="btn btn-transparent" ><span class="fa fa-plus"></span> Agregar</a></a></li>

					</ul>
				</div>
				<div class="body">
					<div class="table-responsive">
						<table class="table table-custom">
							<thead class="bg-actualidad">

								<tr>
									<th>Nombre</th>
									<th>Temática</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>

								{% for obj in list_object_forum %}
									<tr>
										<td>
											<h6>{{obj.nombre}}</h6>
											<small>{{obj.creacion}}</small>
										</td>
										
										<td>
											{{obj.tematica}}
										</td>
										<td>
											<div class="action-btn">
												<a class="btn btn-sm btn-success" href="{% url 'foros_editar' obj.id %}">
													<i class="fa fa-pencil"></i>
												</a>
												<a class="btn btn-sm btn-info" href="{% url 'detalle-foro' obj.slug %}" target="_blank">
													<i class="fa fa-eye"></i>
												</a>
												<a data-fancybox data-src="#trueModal-{{obj.id}}" class="btn btn-sm btn-danger" href="javascript:;">
													<i class="fa fa-trash"></i>
												</a>
											</div>
										</td>
									</tr>
									<div id="trueModal-{{obj.id}}" class="p-5" style="display: none;max-width:600px;">
								        <h5>
								            Eliminar Foro
								        </h5>
								        <p>
								           Se eliminará "{{obj}}" permanentemente.<br>¿Esta seguro que desea eliminar?
								        </p>
								        <p>
								            
								            <a class="btn btn-sm btn-danger" href="{% url 'foro_eliminar' obj.id %}">Eliminar</a>
								            
								        </p>
								    </div>
								{% endfor %}

								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block extra_js %}
	<script src="/static/js/jquery.fancybox.min.js"></script>

	<script>
		$('.fancybox').fancybox({ 
			afterShow: function(){     
				$('.fancybox-iframe').contents().find('input').click(function(){
					window.parent.location.reload();
					window.parent.$.fancybox.close();
				}); 
			}
		});
	</script>
	
{% endblock extra_js %}