{% extends "admin/base_admin.html" %}


{% block extra_css %}
	<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" />
{% endblock extra_css %}

{% block content %}
			
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="admin-tabs tab-amarillo">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="{% if 'campana' in request.get_full_path or request.get_full_path == '/alianzas/iniciativas-destacadas/' %}active{% endif %}">
						<a href="#campana" aria-controls="campana" role="tab" data-toggle="tab">Campañas</a>
					</li>
					<li role="presentation" class="{% if 'eventos' in request.get_full_path %}active{% endif %}">
						<a href="#eventos" aria-controls="eventos" role="tab" data-toggle="tab">Eventos</a>
					</li>
					<li role="presentation" class="{% if 'concursos' in request.get_full_path %}active{% endif %}">
						<a href="#concursos" aria-controls="concursos" role="tab" data-toggle="tab">Concursos</a>
					</li>					
				</ul>
				<div class="tab-content ">
					<div role="tabpanel" class="tab-pane {% if 'campana' in request.get_full_path or request.get_full_path == '/alianzas/iniciativas-destacadas/' %}active{% endif %}" id="campana">
						<div class="customcard">
							<div class="header">
								<ul class="header-dropdown">
									<li><a href="{% url 'campanias_crear' %}" class="btn btn-amarillo text-white" ><span class="fa fa-plus"></span> Agregar</a></a></li>
								</ul>
							</div>
							<div class="body">
								<div class="table-responsive">
									<table class="table table-custom">
										<thead class="bg-actualidad">

											<tr>
												<th>Nombre</th>
												<th>Estado</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>

											{% for camp in campanias %}
												<tr>
													<td>
														<h6>{{camp.tittle}}</h6>
														<small>{{camp.created_on}}</small>
													</td>
													<td>{% if camp.aprobado == False %}En revisión{% else %}Aprobado{% endif %}</td>
													<td>
														<div class="action-btn">
															<a class="btn btn-sm btn-success" href="{% url 'campanias_editar' camp.id %}">
																<i class="fa fa-pencil"></i>
															</a>
															<a data-fancybox data-src="#campana-{{camp.id}}" class="btn btn-sm btn-danger" href="javascript:;">
																<i class="fa fa-trash"></i>
															</a>
														</div>
													</td>
												</tr>
												<div id="campana-{{camp.id}}" class="p-5" style="display: none;max-width:600px;">
											        <h5>
											            Eliminar Publicación
											        </h5>
											        <p>
											           Se eliminará "{{camp}}" permanentemente.<br>¿Esta seguro que desea eliminar?
											        </p>
											        <p>
											            
											            <a class="btn btn-sm btn-danger" href="{% url 'eliminar_actualidad' camp.id %}">Eliminar</a>
											            
											        </p>
											    </div>
											{% endfor %}											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane {% if 'eventos' in request.get_full_path %}active{% endif %}" id="eventos">
						<div class="customcard">
							<div class="header">
								<ul class="header-dropdown">
									<li><a href="{% url 'events_crear' %}" class="btn btn-amarillo text-white" ><span class="fa fa-plus"></span> Agregar</a></a></li>
								</ul>
							</div>
							<div class="body">
								<div class="table-responsive">
									<table class="table table-custom">
										<thead class="bg-actualidad">

											<tr>
												<th>Nombre</th>
												<th>Fecha</th>
												<th>Hora</th>
												<th>Estado</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>

											{% for obj in  list_object_events %}
												<tr>
													<td>
														<h6>{{obj}}</h6>
														<small>{{obj.city}}</small>
													</td>
													<td>
														<p>Inicio: {{obj.inicio}}</p>
														{% if obj.final %}
														<p>Final: {{obj.final}}	</p>
														{% endif %}
													</td>
													<td>
														<p>Inicio: {{obj.hora_inicio}}</p>
														<p>Final: {{obj.hora_fin}}	</p>
													</td>
													<td>{% if obj.aprobado == False %}En revisión{% else %}Aprobado{% endif %}</td>
													<td>
														<div class="action-btn">
															<a class="btn btn-sm btn-success" href="{% url 'events_editar' obj.id %}">
																<i class="fa fa-pencil"></i>
															</a>
															<a data-fancybox data-src="#trueModal-{{obj.id}}" class="btn btn-sm btn-danger" href="javascript:;">
																<i class="fa fa-trash"></i>
															</a>
														</div>
													</td>
												</tr>
												<div id="trueModal-{{obj.id}}" class="p-5" style="display: none;max-width:600px;">
											        <h5>
											            Eliminar {{obj.get_category_display}}
											        </h5>
											        <p>
											           Se eliminará "{{obj}}" permanentemente.<br>¿Esta seguro que desea eliminar?
											        </p>
											        <p>
											            
											            <a class="btn btn-sm btn-danger" href="{%url 'events_eliminar' obj.id %}">Eliminar</a>
											            
											        </p>
											    </div>
											{% endfor %}

											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane {% if 'concursos' in request.get_full_path %}active{% endif %}" id="concursos">
						<div class="customcard">
							<div class="header">
								<ul class="header-dropdown">
									<li><a href="{% url 'concursos_crear' %}" class="btn btn-amarillo text-white" ><span class="fa fa-plus"></span> Agregar</a></a></li>
								</ul>
							</div>
							<div class="body">
								<div class="table-responsive">
									<table class="table table-custom">
										<thead class="bg-actualidad">

											<tr>
												<th>Nombre</th>
												<th>Estado</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											{% for con in concursos %}
												
												<tr>
													<td>
														<h6>{{con.tittle}}</h6>
														<small>{{con.created_on}}</small>
													</td>
													<td>{% if con.aprobado == False %}En revisión{% else %}Aprobado{% endif %}</td>
													<td>
														<div class="action-btn">
															<a class="btn btn-sm btn-success" href="{% url 'concursos_editar' con.id %}">
																<i class="fa fa-pencil"></i>
															</a>
															<a data-fancybox data-src="#concurso-{{con.id}}" class="btn btn-sm btn-danger" href="javascript:;">
																<i class="fa fa-trash"></i>
															</a>
														</div>
													</td>
												</tr>
												<div id="concurso-{{con.id}}" class="p-5" style="display: none;max-width:600px;">
											        <h5>
											            Eliminar Publicación
											        </h5>
											        <p>
											           Se eliminará "{{con}}" permanentemente.<br>¿Esta seguro que desea eliminar?
											        </p>
											        <p>
											            
											            <a class="btn btn-sm btn-danger" href="{% url 'eliminar_concursos' con.id %}">Eliminar</a>
											            
											        </p>
											    </div>	
											{% endfor %}										
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block extra_js %}
	<script src="/static/js/jquery.fancybox.min.js"></script>

	<script>
		$('.fancybox').fancybox({ 
			afterShow: function(){     
				$('.fancybox-iframe').contents().find('input').click(function(){
					window.parent.location.reload();
					window.parent.$.fancybox.close();
				}); 
			}
		});
	</script>
	
{% endblock extra_js %}