{% extends "admin/base_admin.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
					<h2>Crear Evento</h2>
				</div>
				<div class="body">
					<form action="." method="POST" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
						{{form.media}}
						{{form.errors}}
						{{form|crispy}}
						
						<input type="submit" name="Agregar" value="Agregar Evento">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
  $( function() {
    $('#id_inicio').datepicker({ dateFormat: 'dd/mm/yy' });
    $('#id_final').datepicker({ dateFormat: 'dd/mm/yy' });
    $('#id_hora_inicio').timepicker({ 'timeFormat': 'H:i:s' });
    $('#id_hora_fin').timepicker({ 'timeFormat': 'H:i:s' });

   //  for (var i=0; i<=11; i++) {
   //    $('#id_agendaevento_set-'+i+'-fecha' ).datepicker({ dateFormat: 'dd/mm/yy' });
   //    $('#id_agendaevento_set-'+i+'-hora_inicio').timepicker({ 'timeFormat': 'H:i:s' });
   //    $('#id_agendaevento_set-'+i+'-hora_fin').timepicker({ 'timeFormat': 'H:i:s' });
  	// }

  });

</script>
{% endblock extra_js %}