{% extends "admin/base_admin.html" %}
{% load crispy_forms_tags %}


{% block content %}
<style type="text/css">
	select{
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="customcard">
				<div class="header bg-none">
					<h3 class="">Modificar Organización</h3>
				</div>
				<div class="body">
					<form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
						{{form.media}}
						
						{{form.errors}}
						{{form|crispy}}
						<div class="row">
							<div class="col-md-6 pt-10"  style="background-color:#FFAF92">
								<h4 class="blog-details__title">Redes</h4>
								<hr>
							 
								{{ formset.management_form }}
								<div id="form_set">
									{% for form in formset.forms %}
									    {{form.non_field_errors}}
										{{form.errors}}
								        <div class='no_error'>
								            
								            {{form.as_p}}
								        </div>
								        <hr>
								    {% endfor %}
								</div>
								<br>

								<a class="btn-add row" type="button" id="add_more">
									<span class="fa fa-plus"> </span>
									Agregar red adicional
								</a>

								<div id="empty_form" style="display:none">
								    <div class='no_error'>
								        {{ formset.empty_form }}
								    	
								    </div>
								</div>
							</div>
						</div>
						<br>
								
						<input class="theme_button color2 min_width_button margin_0" type="submit" name="guardar" value="Guardar">	

					</form>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
$('#add_more').click(function() {
	var form_idx = $('#id_redes_set-TOTAL_FORMS').val();
	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_redes_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

$('.no_error').addClass('control-group');
$('.no_error label').addClass('control-label');
$('.no_error input[type=text], .no_error input[type=url]').addClass('form-control mb-10');
</script>
{% endblock extra_js %}