{% extends "admin/base_admin.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" />
{% endblock extra_css %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="admin-tabs tab-azul">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="{% if 'publicaciones' in request.get_full_path or request.get_full_path == '/alianzas/recursos-metodologicos/' %}active{% endif %}">
						<a href="#publicaciones" aria-controls="publicaciones" role="tab" data-toggle="tab">Publicaciones</a>
					</li>
					<!--<li role="presentation">
						<a href="#guias" aria-controls="guias" role="tab" data-toggle="tab">Guías metodológicas</a>
					</li>-->
					<li role="presentation" class="{% if 'videos' in request.get_full_path %}active{% endif %}">
						<a href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a>
					</li>
					<li role="presentation" class="{% if 'audios' in request.get_full_path %}active{% endif %}">
						<a href="#audios" aria-controls="audios" role="tab" data-toggle="tab">Audios</a>
					</li>
					<li role="presentation" class="{% if 'imagenes' in request.get_full_path %}active{% endif %}">
						<a href="#imagenes" aria-controls="imagenes" role="tab" data-toggle="tab">Imágenes</a>
					</li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane {% if 'publicaciones' in request.get_full_path or request.get_full_path == '/alianzas/recursos-metodologicos/'%}active{% endif %}" id="publicaciones">
						<div class="customcard">
							<div class="header">
								<ul class="header-dropdown">
									<li><a href="{% url 'publicacion_agregar' %}" class="btn btn-azul text-white" ><span class="fa fa-plus"></span> Agregar</a></a></li>
								</ul>
							</div>
							<div class="body">
								<div class="table-responsive">
									<table class="table table-custom">
										<thead class="bg-actualidad">
											<tr>
												<th>Nombre</th>
												<th>Temática</th>
												<th>Estado</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											{% for pub in publicaciones %}
											<tr>
												<td><h6>{{pub.titulo}}</h6></td>
												<td>{{pub.tematica}}</td>
												<td>{% if pub.aprobado == False %}En revisión{% else %}Aprobado{% endif %}</td>
												<td>
													<div class="action-btn">
														<a class="btn btn-sm btn-success" href="{% url 'publicacion_editar' pub.id %}">
															<i class="fa fa-pencil"></i>
														</a>
														<a data-fancybox data-src="#publicacion-{{pub.id}}" class="btn btn-sm btn-danger" href="javascript:;">
															<i class="fa fa-trash"></i>
														</a>
													</div>
												</td>
											</tr>
											<div id="publicacion-{{pub.id}}" class="p-5" style="display: none;max-width:600px;">
										        <h5>
										            Eliminar Publicación
										        </h5>
										        <p>
										           Se eliminará "{{pub}}" permanentemente.<br>¿Esta seguro que desea eliminar?
										        </p>
										        <p>
										            
										            <a class="btn btn-sm btn-danger" href="{% url 'publicacion_eliminar' pub.id %}">Eliminar</a>
										            
										        </p>
										    </div>	
										    {% endfor %}										
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane {% if 'guias' in request.get_full_path %}active{% endif %}" id="guias">
						<div class="customcard">
							<div class="header">
								<ul class="header-dropdown">
									<li><a href="{% url 'guias_agregar' %}" class="btn btn-azul text-white" ><span class="fa fa-plus"></span> Agregar</a></a></li>
								</ul>
							</div>
							<div class="body">
								<div class="table-responsive">
									<table class="table table-custom">
										<thead class="bg-actualidad">

											<tr>
												<th>Nombre</th>
												<th>Temática</th>
												<th>Estado</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											{% for guia in guias %}
												<tr>
													<td>
														<h6>{{guia.titulo}}</h6>
													</td>
													<td>{{guia.tematica}}</td>
													<td></td>
													<td>
														<div class="action-btn">
															<a class="btn btn-sm btn-success" href="{% url 'guias_editar' guia.id %}">
																<i class="fa fa-pencil"></i>
															</a>
															<a data-fancybox data-src="#guias-{{guia.id}}" class="btn btn-sm btn-danger" href="javascript:;">
																<i class="fa fa-trash"></i>
															</a>
														</div>
													</td>
												</tr>
												<div id="guias-{{guia.id}}" class="p-5" style="display: none;max-width:600px;">
											        <h5>
											            Eliminar Guías metodológica
											        </h5>
											        <p>
											           Se eliminará "{{guia}}" permanentemente.<br>¿Esta seguro que desea eliminar?
											        </p>
											        <p>
											            
											            <a class="btn btn-sm btn-danger" href="{% url 'guias_eliminar' guia.id %}">Eliminar</a>
											            
											        </p>
											    </div>	
											{% endfor %}										
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane {% if 'videos' in request.get_full_path %}active{% endif %}" id="videos">
						<div class="customcard">
							<div class="header">
								<ul class="header-dropdown">
									<li><a href="{% url 'galeria_vid_crear' %}" class="btn btn-azul text-white" ><span class="fa fa-plus"></span> Agregar</a></a></li>
								</ul>
							</div>
							<div class="body">
								<div class="table-responsive">
									<table class="table table-custom">
										<thead class="bg-actualidad">

											<tr>
												<th>Nombre</th>
												<th>Temática</th>
												<th>Estado</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>

											{% for video in list_objects_video %}
												<tr>
													<td>
														<h6>{{video}}</h6>
													</td>
													<td>{{video.tematica}}</td>
													<td>{% if video.aprobado == False %}En revisión{% else %}Aprobado{% endif %}</td>
													<td>
														<div class="action-btn">
															<a class="btn btn-sm btn-success" href="{% url 'galeria_vid_editar' video.id %}">
																<i class="fa fa-pencil"></i>
															</a>
															<a data-fancybox data-src="#modalvideo-{{video.id}}" class="btn btn-sm btn-danger" href="javascript:;">
																<i class="fa fa-trash"></i>
															</a>
														</div>
													</td>
												</tr>
												<div id="modalvideo-{{video.id}}" class="p-5" style="display: none;max-width:600px;">
											        <h5>
											            Eliminar Video
											        </h5>
											        <p>
											           Se eliminará "{{video}}" permanentemente.<br>¿Esta seguro que desea eliminar?
											        </p>
											        <p>
											            
											            <a class="btn btn-sm btn-danger" href="{% url 'galeria_vid_eliminar' video.id %}">Eliminar</a>
											            
											        </p>
											    </div>
											{% endfor %}

											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane {% if 'audios' in request.get_full_path %}active{% endif %}" id="audios">
						<div class="customcard">
							<div class="header">
								<ul class="header-dropdown">
									<li><a href="{% url 'galeria_audio_crear' %}" class="btn btn-azul text-white" ><span class="fa fa-plus"></span> Agregar</a></a></li>
								</ul>
							</div>
							<div class="body">
								<div class="table-responsive">
									<table class="table table-custom">
										<thead class="bg-actualidad">

											<tr>
												<th>Nombre</th>
												<th>Temática</th>
												<th>Estado</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>

											{% for audio in list_objects_audio %}
												<tr>
													<td>
														<h6>{{audio}}</h6>
													</td>
													<td>{{audio.tematica}}</td>
													<td>{% if audio.aprobado == False %}En revisión{% else %}Aprobado{% endif %}</td>
													<td>
														<div class="action-btn">
															<a class="btn btn-sm btn-success" href="{% url 'galeria_audio_editar' audio.id %}">
																<i class="fa fa-pencil"></i>
															</a>
															<a data-fancybox data-src="#modalaudio-{{audio.id}}" class="btn btn-sm btn-danger" href="javascript:;">
																<i class="fa fa-trash"></i>
															</a>
														</div>
													</td>
												</tr>
												<div id="modalaudio-{{audio.id}}" class="p-5" style="display: none;max-width:600px;">
											        <h5>
											            Eliminar audio
											        </h5>
											        <p>
											           Se eliminará "{{audio}}" permanentemente.<br>¿Esta seguro que desea eliminar?
											        </p>
											        <p>
											            
											            <a class="btn btn-sm btn-danger" href="{% url 'galeria_audio_eliminar' audio.id %}">Eliminar</a>
											            
											        </p>
											    </div>
											{% endfor %}

											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane {% if 'imagenes' in request.get_full_path %}active{% endif %}" id="imagenes">
						<div class="customcard">
							<div class="header">
								<ul class="header-dropdown">
									<li><a href="{% url 'galeria_img_crear' %}" class="btn btn-azul text-white" ><span class="fa fa-plus"></span> Agregar</a></a></li>
								</ul>
							</div>
							<div class="body">
								<div class="table-responsive">
									<table class="table table-custom">
										<thead class="bg-actualidad">

											<tr>
												<th>Nombre</th>
												<th>Temática</th>
												<th>Estado</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>

											{% for obj in list_objects_imagenes %}
												<tr>
													<td>
														<h6>{{obj}}</h6>
													</td>
													<td>{{obj.tematica}}</td>
													<td>{% if ob.aprobado == False %}En revisión{% else %}Aprobado{% endif %}</td>
													<td>
														<div class="action-btn">
															<a class="btn btn-sm btn-success" href="{% url 'galeria_img_editar' obj.id %}">
																<i class="fa fa-pencil"></i>
															</a>
															<a data-fancybox data-src="#trueModal-{{obj.id}}" class="btn btn-sm btn-danger" href="javascript:;">
																<i class="fa fa-trash"></i>
															</a>
														</div>
													</td>
												</tr>
												<div id="trueModal-{{obj.id}}" class="p-5" style="display: none;max-width:600px;">
											        <h5>
											            Eliminar galería de imágenes
											        </h5>
											        <p>
											           Se eliminará "{{obj}}" permanentemente.<br>¿Esta seguro que desea eliminar?
											        </p>
											        <p>
											            
											            <a class="btn btn-sm btn-danger" href="{% url 'galeria_img_eliminar' obj.id %}">Eliminar</a>
											            
											        </p>
											    </div>
											{% endfor %}

											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>		
		</div>
	</div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
	$('.fancybox').fancybox({ 
		afterShow: function(){     
			$('.fancybox-iframe').contents().find('input').click(function(){
				window.parent.location.reload();
				window.parent.$.fancybox.close();
			}); 
		}
	});
</script>
{% endblock extra_js %}