/*=================================
=            variables            =
=================================*/
/************color***************/
a:hover,
a:focus {
  color: #cb4f24;
}
.bg-gray {
  background-color: #f9fafc;
}
/*=================================
=            Header            =
=================================*/
.hero-content h2 {
  color: #fff;
  font-size: 45px;
}
.main-banner {
  background-color: rgba(68,42,119,0.42);
  height: 500px;
  margin-top: 100px;
}
@media only screen and (min-width: 1910px) {
  .main-banner {
    height: 90vh;
  }
}
/*============================
=            menu            =
============================*/
.crake-nav {
  background-color: #5a4bad;
  padding-top: 0;
}
.crake-nav.is-sticky {
  background-color: #5a4bad !important;
}
.crake-nav nav .navbar-brand img {
  width: 180px;
}
.dropup .dropdown-menu {
  display: block;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
  border-color: transparent;
}
.dropup:hover >.dropdown-menu,
display block {
  opacity: 1;
}
.dropup:hover .visible_hover {
  color: #cb4f24;
}
.dropup:hover .rotate {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.visible_hover:hover {
  color: #cb4f24 !important;
}
/*===================================
=            menu iconos            =
===================================*/
.menu-icons {
  display: flex;
  flex-wrap: wrap;
}
.menu-icons li {
  flex: 0 0 25%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
}
.menu-icons li i.main {
  font-size: 30px;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 15px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #cb4f24;
  color: #fff;
}
.menu-icons li i.circle {
  font-size: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #cb4f24;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  padding-left: 10px;
}
.arrow-down:before {
  bottom: -7px;
  right: 0px;
  z-index: 99;
  border-top: 7px solid #fff;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-top-color: #fff;
  display: inline-block;
  position: absolute;
  content: '';
}
.gallery-area .single-image {
  max-height: 222px;
  overflow: hidden;
}
.footer-area .single-footer-widget .logo img {
  width: 200px;
}
.owl-carousel .owl-item img {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 300px;
}
.single-team-member .team-content ul li a.youtube {
  border-color: #f00;
  color: #f00;
}
a.youtube:hover {
  background-color: #f00 !important;
  color: #fff !important;
}
