@import 'mixin.styl'
/*=================================
=            variables            =
=================================*/
/************color***************/
rojo = #E40303
naranja = #FF8C00
amarillo = #FFED00
verde = #008026
azul = #004DFF
purpura = #750787
logo_color = #cb4f24

t_azul = #24A0CB
t_violeta = #A324CB
t_verde = #4DCB24







a:hover, a:focus
	color logo_color
.bg-gray
	background-color #F9FAFC

/*=================================
=            Header            =
=================================*/

.hero-content
	h2
		color white
		font-size 45px
.main-banner
	background-color #0E96B4
	
@media only screen and (min-width: 1910px)
	.main-banner
		height 90vh

/*============================
=            menu            =
============================*/

.crake-nav
	background-color t_violeta
	&.is-sticky
		background-color t_violeta !important
	nav .navbar-brand img
		width 180px
.dropup .dropdown-menu
	display block
	opacity 0
	transition all 0.3s ease-in-out
	box-shadow 0 0 30px 0 rgba(0, 0, 0, 0.25)
	border-color transparent
.dropup:hover >.dropdown-menu
 	display block
	opacity 1
.dropup:hover
	.visible_hover
		color logo_color
	.rotate
		transition 0.50s
		transform rotate(180deg)
.visible_hover:hover
	color logo_color !important
/*===================================
=            menu iconos            =
===================================*/
.menu-icons
	display flex
	flex-wrap wrap
	li
		flex 0 0 25%
		text-align center
		font-weight 700
		font-size 18px
		display inline-block
		i.main
			font-size 30px
			display inline-block
			width 80px
			height 80px
			line-height 80px
			border-radius 50%
			margin-bottom 15px
			transition 0.5s
			background-color logo_color
			color white
		i.circle
			font-size 15px
			border-radius 50%
			color logo_color
			width 20px
			height 20px
			line-height 18px
			text-align center
			padding-left 10px
.arrow-down:before
	bottom -7px
	right 0px
	z-index 99
	border-top 7px solid white
	border-left 15px solid transparent
	border-right 0px solid transparent
	border-top-color #fff
	display inline-block
	position absolute
	content ''


// galería de imagenes
.gallery-area
	.single-image
		max-height 222px
		overflow hidden
//footer

.footer-area .single-footer-widget .logo img
	width 200px