/*=================================
=            variables            =
=================================*/
vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -o-{prop} args
    {prop} args

transition()
    vendor('transition', arguments)
border-radius()
    vendor('border-radius', arguments)
box-shadow() 
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments


/*=====  End of variables  ======*/
/*==============================
=            colors            =
==============================*/
gris = #F4F7F6
rojo = #EB6658
verde = #6F9D34
naranja = #F48043
azul = #20B2D1
amarillo = #FCBB30

/*=====  End of colors  ======*/
body
	background-color gris
.card
	border-radius .55rem
	background #fff
	transition .5s
	border 0
	margin-bottom: 30px
	position relative
	width 100%
	box-shadow 0 1px 2px 0 rgba(0,0,0,0.1)
	.header
		color #444
		padding 20px 20px 10px 20px
		position relative
		box-shadow none
		h2
			font-size 1.2 rem
			color #444
			position relative
			font-weight 500
		.header-dropdown
			position absolute
			top 14px
			right 15px
			list-style none
			li a
				padding 5px 10px
	.body
		color #444
		padding 10px 20px
		font-weight 400
/*=============================
=            table            =
=============================*/
.table.table-custom
	border-collapse collapse !important
	thead th
		border-top 0
		color white
		font-weight 600
	tfoot th
		border-bottom 0
	tbody tr:hover
		background-color #f7f7f7
	th
	td
		border-top 1px solid #dee2e6
		border-bottom 0
		border-right 0
		border-left 0
		padding .75rem
		h6
			font-weight 500
		small
			display block
			font-size .8rem
	.action-btn
		.btn-sm
			font-size 15px !important
	.bg-actualidad
		background-color rojo
.table-responsive
	.pagination > li > a, .pagination > li > span
		width auto
		min-width 40px
		height auto
		line-height 35px
		padding 0 6px
	.form-control
		height 35px
		padding 0

table.dataTable thead .sorting_asc:after
table.dataTable thead .sorting_desc:after
	opacity 1 !important

/*=====  End of table  ======*/
/*==================================
=            tabs admin            =
==================================*/
.admin-tabs
	.tab-content
		padding 0


/*=====  End of tabs admin  ======*/
