/*=================================
=            variables            =
=================================*/
vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -o-{prop} args
    {prop} args

transition()
    vendor('transition', arguments)
border-radius()
    vendor('border-radius', arguments)
box-shadow() 
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments


/*=====  End of variables  ======*/
/*==============================
=            colors            =
==============================*/
gris = #F4F7F6
rojo = #EB6658
verde = #6F9D34
naranja = #F48043
azul = #20B2D1
amarillo = #FCBB30
negro = #3a3d44


.bg-rojo
	background-color rojo
.bg-verde
	background-color verde
.bg-naranja
	background-color naranja
.bg-azul
.btn-azul
	background-color azul
.bg-amarillo
.btn-amarillo
	background-color amarillo
.btn-transparent
	background rgba(31, 35, 43, 0.07)
	color white
	&:hover
	&:focus
		color white
.mb-10
	margin-bottom 10px
.mb-20
	margin-bottom 20px
.pt-10
	padding-top 10px
.pb-10
	padding-bottom 10px
/*=====  End of colors  ======*/
body
	background-color gris
.text-white
	color #fff !important

.card
	border-radius .55rem
	background #fff
	transition .5s
	border 0
	margin-bottom 90px
	position relative
	width 100%
	box-shadow 0 1px 2px 0 rgba(0,0,0,0.1)
	.header
		color #444
		padding 20px 20px 10px 20px
		position relative
		box-shadow none
		h2
			font-size 1.2 rem
			color #444
			position relative
			font-weight 500
		.header-dropdown
			position absolute
			top 14px
			right 15px
			list-style none
			li a
				padding 5px 10px
	.body
		color #444
		padding 10px 20px
		font-weight 400
/*=============================
=            table            =
=============================*/
.table.table-custom
	border-collapse collapse !important
	thead th
		border-top 0
		color white
		font-weight 600
	tfoot th
		border-bottom 0
	tbody tr:hover
		background-color #f7f7f7
	th
	td
		border-top 1px solid #dee2e6
		border-bottom 0
		border-right 0
		border-left 0
		padding .75rem
		h6
			font-weight 500
		small
			display block
			font-size .8rem
	.action-btn
		.btn-sm
			font-size 15px !important
	.bg-actualidad
		background-color negro
.table-responsive
	.pagination > li > a, .pagination > li > span
		width auto
		min-width 40px
		height auto
		line-height 35px
		padding 0 6px
	.form-control
		height 35px
		padding 0

table.dataTable thead .sorting_asc:after
table.dataTable thead .sorting_desc:after
	opacity 1 !important

/*=====  End of table  ======*/
/*==================================
=            tabs admin            =
==================================*/
.admin-tabs
	.tab-content
		padding 0
		border 0
.tab-amarillo 
	li.active > a
	li.active > a:hover
	li.active > a:focus
	li > a:hover
	li > a:focus
		border-color amarillo
		background-color: amarillo
		color #ffffff
	ul.nav.nav-tabs
		border-bottom 2px solid amarillo
.tab-azul 
	li.active > a
	li.active > a:hover
	li.active > a:focus
	li > a:hover
	li > a:focus
		border-color azul
		background-color: azul
		color #ffffff	
	ul.nav.nav-tabs
		border-bottom 2px solid azul
/*=====  End of tabs admin  ======*/
/*==================================
=            Form admin            =
==================================*/
.control-group
	margin 10px 0px
	label
		font-weight 600
		font-size 1.1em
.theme_button[class*="color"]
	&:active
	&:focus
	&:hover
		color white
.btn-add
	display block
	text-align right
	padding 10px 10px
	background rgba(31,35,43,0.07)
	color white
	cursor pointer
	font-weight 600
	font-size 16px
	&:hover
		color white
		background-color rgba(31,35,43,0.15)

.selectmultiple .selectize-input::after
	content "\f107"
	font-family FontAwesome
	display block
	position absolute
	top 50%
	right 25px
	margin-top -8px
	font-size 16px
	line-height 1em
	color #e85242
.card
	input[type="text"]
	input[type="email"]
	input[type="url"]
	input[type="password"]
	input[type="search"]
	input[type="tel"]
	input[type="number"]
	input[type="date"]
	textarea
	select
	.form-control
	.selectize-control
	.selectize-input
		height 40px
		width: 400px;
	.selectize-input
		padding 5px 60px 5px 30px
	.selectize-control.multi .selectize-input.has-items
		padding 3px 8px 3px
	.selectize-input > *
		line-height 24px !important
/*=====  End of Form admin  ======*/


/*=============================
=            login            =
=============================*/
.socialaccount_providers
	text-align center
	margin 0px

	.socialaccount_provider
		border-radius 50px
		text-align center
		color white
		.btn
			padding 10px 30px
		&:hover
			color white !important
		.google
			background-color #dd4b39
		.facebook
			background-color #3b5998
		.twitter
			background-color #1da1f2


.or-seperator 
	margin 25px 0 -20px
	text-align center
	border-top 1px solid #e0e0e0
	b 
		padding 0 10px
		width 40px
		height 40px
		font-size 16px
		text-align center
		line-height 40px
		background #fff
		display inline-block
		border 1px solid transparent
		border-radius 50%
		position relative
		top -22px
		z-index 1

.dp-user
	.dropdown-toggle
		font-family 'Lato', sans-serif
		font-weight 600
		text-transform uppercase
		font-size 14px
/*=====  End of login  ======*/
.admin_content
	background: white
