.logo img {
	max-width: 190px;
}

.size_small {
    font-size: 40px;
}

.ds.ms a[class*='socicon-']:before{
  font-size: 23px;
  line-height: 23px;
}
.ds.ms a.border-icon{
  border-color: white;
  background-color: white;
  padding: 13px 13px;
}

.ds.ms {
    background-color: #6e9d33;
    color: white;
}
.ds input[type="submit"]:hover{
  color: #05a8cb;
}
.ds .form-control,
.ds input[type="email"]{
  border-color: white;
}

.ds .highlight, .ds .highlight1{
  color: white;
}
.ds h1, .ds h2, .ds h3, .ds h4, .ds h5, .ds h6 {
    color: white;
}

.ds .greylinks a {
    color: #6c6c73 !important;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.vertical-item.big-padding .item-content {
    padding: 30px;
}

.event-color {
	color: #FFFFFF !important;
	text-shadow: 1px 1px #565356;
}
i.xx-large {
	font-size: x-large;
}

.white-color {
	color: #FFFFFF !important;
}

.entry-meta + h1.entry-title {
    margin-top: 25px;
}

.tagcloud a{
    background: #f5f9ff;
    color: #938da6;
    display: inline-block;
    padding: 6px 26px;
    border-radius: 30px;
    margin-bottom: 5px;
    font-weight: 600;
}

.tagcloud a:hover{
    background: #93DEDB;
    color: #938da6;
}


.bg_customgreen {
    background: #6E9D33 !important;
}

.highlight5 {
    color: #6E9D33;
    border-color: #6E9D33;
}

a.menuhover:hover{
    color: #3a3d44 !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .05rem 1.5rem;
    clear: both;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropup .dropdown-menu {
  display: block;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
  border-color: transparent;
}
.dropup:hover >.dropdown-menu,
display block {
  opacity: 1;
}
.dropup:hover .visible_hover {
  color: #71606f;
}
.dropup:hover .rotate {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.visible_hover:hover {
  color: #71606f !important;
}

/* Menu icons*/
.arrow-down:before {
  bottom: -7px;
  right: 0px;
  z-index: 99;
  border-top: 7px solid #fff;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-top-color: #fff;
  display: inline-block;
  position: absolute;
  content: '';
}

.dropdown-item:hover {
  color: #514550;
  font-weight: 800;
}
.xxs-media-left a {
  display: block;
}
a.actual_content:hover:before {
  color: #FFFFFF !important;
    content: "Informate";
    font-weight: 600;
}
a.actual_content:hover span {
    display: none;
}

a.puntos_content:hover:before {
  color: #FFFFFF !important;
    content: "Opina";
    font-weight: 600;
}
a.puntos_content:hover span {
  color: #FFFFFF !important;
    display: none;
}

a.foro_content:hover:before {
  color: #FFFFFF !important;
    content: "Participa";
    font-weight: 600;
}
a.foro_content:hover span {
    display: none;
}

a.recurso_content:hover:before{
  color: #FFFFFF !important;
    content: "Comparte";

font-size:16px;
font-weight: 600;  }
a.recurso_content:hover span{
    display: none;
}

a.iniciativa_content:hover:before{
  color: #FFFFFF !important;
    content: "Únete";

font-size:16px;
font-weight: 600;  }
a.iniciativa_content:hover span {
    display: none;
}

#services .media {
    overflow: visible !important;
}
#services a.dropdown-header{
  border-top: 1px solid #e9ecef;
  color: #959BA0 !important;
  font-size: 15px;
}

#list_alianza .with_border .item-media {
    margin: 15px;
}

#detail_alianza .with_border .item-media {
    margin: 15px;
}


.color-bg-icon.socicon-whatsapp, a.socicon-whatsapp.bg-icon:hover, .socicon-whatsapp.color-icon.border-icon:hover {
    background-color: #01E676;
}

a[class*="socicon-"].socicon-whatsapp:hover {
  color: #01E676;
  border-color: #01E676;
}

h3.entry-title.minismall {
    font-size: 18px;
}

.fixed-height {
  height: 460px !important;
}

#contact_alliance i.font-alliance {
  padding: 0px 10px 15px;
  font-size: 1.5em !important;
}

/* redes sociales */
.socialaccount_providers{
text-align: center;
margin: 0px;
}

.socialaccount_providers .socialaccount_provider{
border-radius: 50px;
text-align: center;
color: white;

}
.socialaccount_providers .btn{
padding: 10px 30px;
}
.socialaccount_providers .google{
background-color: #dd4b39;
}

.socialaccount_providers .google:hover{
background-color: #be3423;
}
.socialaccount_providers .facebook{
background-color: #3b5998;
}

.socialaccount_providers .facebook:hover{
background-color: #192e59;
}
.socialaccount_providers .twitter{
background-color: #1da1f2;
}
.socialaccount_providers .twitter:hover{
background-color: #1c6ea1;
}

img.b_avatar {
    border-radius: 50% !important;
    max-width: 90px !important;
    border: 2px solid #e4e4e4 !important;
}
.bgtext {
  background: rgba(0, 0, 0, 0.2);
  padding: 0px 8px 0px 8px;
}

#mobile_menu{
  display: none;
}

@media only screen and (max-width: 1199px){
 #mobile_menu{
 display:block;

}
.mainmenu_wrapper{
  z-index: 3000;
}
#services{
 display: none;
}
}
@media only screen and (max-width:960px){
  #show_services {
  display: none;
}
}

#mobile_menu a.orangefont {
    color: #e85242 !important;
  }

#mobile_menu a.orangefont {
    color: #e85242 !important;
    background-color: rgba(0, 0, 255, 0) !important;
  }



/*****dropdown*****/
.dp-user .dropdown-toggle{
  font-size: 14px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-transform: uppercase;

}
.dp-user .dropdown-toggle:hover{
  color:white;
}
.dp-user .dropdown-menu{
  background-color: #fff;

}

.dp-user:hover .dropdown-menu {
   display: block;
}
.dp-user .dropdown-menu{
  border-bottom: 2px solid #e85242;
}
.dp-user .dropdown-menu li a:hover{
  color: #e85242;
}

.ds .dropdown-menu {
    background-color: #ffffff !important;
    color: #e85242 !important;
}

.customcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 15px;
  background-color: #FFF;
  border-radius: 15px;
}

.customcard .header {
  color: #444;
  padding: 20px 20px 10px 20px;
  position: relative;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.customcard .header h2 {
  font-size: 1.2rem;
  color: #444;
  position: relative;
  font-weight: 500;
}
.customcard .header .header-dropdown {
  position: absolute;
  top: 14px;
  right: 15px;
  list-style: none;
}
.customcard .header .header-dropdown li a {
  padding: 5px 10px;
}
.customcard .body {
  color: #444;
  padding: 10px 20px;
  font-weight: 400;
}
  /*lista de audio*/
  .audiojs{
    width: 100%;
    margin-bottom: 10px;
  }
  .audiojs .play-pause{
    width: 10% !important;
  }
  .audiojs .scrubber{
    width: 60% !important;
  }
  .audiojs .time{
    width: 20% !important;
  }
  .list-group-item.active a{
    color: white;
  }

  .background_cover {
    background-size: cover !important;
  }

  .visible_hover span{
      font-size: 17px;
      font-weight: 600;
  }
  /* .sf-menu a{
    font-size: 16px;
  } */

  .entry-content img{
		height: auto !important;
		max-width: 100%;
  }
  
  [class*="-item"] .links-wrap a.download:before {
    font-family: 'FontAwesome';
    content: "\f019" !important;
}
.page_header{
  position: initial;
}
.mt-10{
  margin-top: 10px;
}
.page_breadcrumbs .text-center{
 position: initial;
}
/*Mapa*/
.section_map .conteo_map{
  justify-content: space-between;
}
.section_map .conteo_map .value{
	font-size: 50px;
	color: #e85242;
	font-weight: bold;
}
.section_map .conteo_map .value.main_value{
	font-size: 50px;
	color: #03a8cb;
	font-weight: bold;
}

.text-white{
  color: white;
}

.fontsize_18{
  font-size: 18px;
}

.servicios {
  position: relative;
  z-index: 99;
}
.servicios .menu_service{
  position: absolute;
  width: 100%;
  top: -120px;
}
.servicios .menu-index.sf-menu{
  display: flex;
  flex-direction: row;
  align-items: stretch ;
}
.servicios .menu-index.sf-menu > li{
  width: 20%;
  white-space: normal;
  display: flex;
}

.servicios .menu-index.sf-menu > li #dropdownMenuButton{
  width: 100%;
  white-space: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  text-transform: capitalize; 

}
.servicios .menu-index.sf-menu > li #dropdownMenuButton h4{
  text-transform: capitalize;
  margin: 0;
  color: #fff;
}
.servicios .menu-index.sf-menu > li #dropdownMenuButton .media-middle{
  margin-right: 20px;
}


.servicios .menu-index.sf-menu > li > a{
  color: white;
  text-align: center;
}
.servicios .menu-index.sf-menu i[class]{
  margin-right: 0px;
}

.servicios .menu-index.sf-menu .teaser_icon.thick_border_icon[class*="_bg_color"].big_wrapper, .teaser_icon.thick_border_icon.with_background.big_wrapper {
  width: calc(1.8em + 20px);
  height: calc(1.8em + 20px);
}

.servicios .menu-index.sf-menu .teaser_icon[class*="_bg_color"].big_wrapper > *, .teaser_icon.with_background.big_wrapper > * {
    line-height: 1.8em;
}

.page_header_wrapper{
  min-height: 125px !important;
}

@media (max-width: 1200px){
  #mobile_menu {
    display: none;
  }
  
}

@media (max-width: 767px) {
  #account_login .account_info h4,
  #account_login .account_info h5{
    text-align: center;
  }
}

@media (max-width: 1199px){
  .page_breadcrumbs.section_padding_top_65.section_padding_bottom_65 > [class*="container"] {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .page_header_wrapper{
    min-height: 85px !important;
  }
}

@media (min-width: 1200px){
  .servicios .menu-index.sf-menu .teaser[class*="_bg_color"].big-padding, .teaser[class*="with_"].big-padding{
    padding: 0px;
  }

  .servicios .menu-index.sf-menu > li > a{
    padding: 15px;
  }
  #account_login .account_info h4,
  #account_login .account_info h5{
    text-align: left;
  }
  .page_header_wrapper{
    min-height: 120px !important;
  }
}
@media (min-width: 1400px){
  .servicios .menu-index.sf-menu .teaser[class*="_bg_color"].big-padding, .teaser[class*="with_"].big-padding{
    padding: 0px;
  }
}
@media (min-width: 1600px){
  .servicios .menu-index.sf-menu .teaser[class*="_bg_color"].big-padding, .teaser[class*="with_"].big-padding{
    padding: 0px;
  }

  .section_padding_top_65 > [class*="container"] {
      padding-top: 120px;
  }
}

.text-black{
  color: #1D1D1B !important;
}
.text-base{
  color: #e85242 !important;
  line-height: 1.4em;
}

/*Compartir*/
.post-share.compu  .compartir{
  text-align: right;
}
@media (max-width: 991px){
  .post-share.compu  .compartir{
    padding-top: 10px;
    text-align: left;
  }

}




/*banner seccion*/
.banner_seccion{
  padding: 4rem 0;
}

.margin_bottom_30{
  margin-bottom: 30px;
}
.margin_bottom_10{
  margin-bottom: 10px;
}
.margin_bottom_20{
  margin-bottom: 20px;
}
.margin_top_20{
  margin-top: 20px;
}

@media (max-width: 1200px){
  .banner_seccion{
    padding: 75px 0;
  }

}

/*social org*/
.social-org{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-org li{
  align-self: center;
}
.social-org li a{
  text-align: center;
  width: 35px;
  height: 35px;
  display: flex;
  color: white;
  align-items:center;
  justify-content: center;
  margin: 0 5px 5px 5px ;
}



a[class*="fa-"].fa-globe:hover{
  color: #eea642;
  background-color: rgba(120, 120, 120, 0.2);
}
a[class*="socicon-"].socicon-facebook:hover{
  color: #1877f2;
  background-color: rgba(120, 120, 120, 0.2);
}
a[class*="socicon-"].socicon-twitter:hover{
  color: #1da1f2;
  background-color: rgba(120, 120, 120, 0.2);
}
a[class*="socicon-"].socicon-youtube:hover{
  background-color: rgba(120, 120, 120, 0.2);
}
a[class*="socicon-"].socicon-instagram:hover{
  color: #833ab4;
  background-color: rgba(120, 120, 120, 0.2);
}
a[class*="socicon-"].socicon-linkedin:hover{
  color: #0077b5;
  background-color: rgba(120, 120, 120, 0.2);
}
a[class*="socicon-"].socicon-flickr:hover{
  color: #0077b5;
  background-color: rgba(120, 120, 120, 0.2);
}
a[class*="socicon-"].socicon-pinterest:hover{
  color: #e60023;
  background-color: rgba(120, 120, 120, 0.2);
}
a[class*="socicon-"].socicon-vimeo:hover{
  color: #1ab7ea;
  background-color: rgba(120, 120, 120, 0.2);
}


.social-org li a.socicon-facebook{
  background-color: #1877f2;
}
.social-org li a.fa-globe{
  background-color: #eea642;
}
.social-org li a.socicon-twitter{
  background-color: #1da1f2;
}
.social-org li a.socicon-youtube{
  background-color: #ff0000;
}
.social-org li a.socicon-instagram{
  background-color: #833ab4;
}
.social-org li a.socicon-linkedin{
  background-color: #0077b5;
}
.social-org li a.socicon-flickr{
  background-color: #0063dc;
}
.social-org li a.socicon-pinterest{
  background-color: #e60023;
}
.social-org li a.socicon-vimeo{
  background-color: #1ab7ea;
}
.social-org li a.socicon-link{
  background-color: #4d4f53;
}


.descargas_archivos .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.descargas_archivos .btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.descargas_archivos  .btn-group>.dropdown-toggle .caret{
  line-height: 19px;
}



.descargas_archivos .theme_buttons[class*="color"]:hover,
.descargas_archivos .theme_buttons[class*="color"]:focus, 
.descargas_archivos .theme_buttons[class*="color"]:active, 
.descargas_archivos .theme_button[class*="color"]:hover, 
.descargas_archivos .theme_button[class*="color"]:focus, 
.descargas_archivos .theme_button[class*="color"]:active {
  color: #fff;
}


.popup_item{
  display: block;
  max-width: 300px;
  position: fixed;
  bottom: 130px;
  right: 10px;
  z-index: 9999;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
}
.popup_item .entry-header{
  margin-bottom: 10px;
}
.popup_item h5.entry-title{
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  color: #1f232b;
  line-height: 1.4em;
}

.line_2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.popup_item:hover h5.entry-title{
  color: #e85242;
}
.popup_item p{
  font-size: 14px;
  font-weight: bold;
  color: #e85242;
}
.popup_item:hover p{
  color: #1f232b;
}
.popup_item .xbutton{
  display: block;
  text-align: right;
  padding: 0 10px;
}

/*map*/
.highcharts-label span > span{
  display: none;
}
.tooltip_map {
  background-color: white;
}

.tooltip_map h5{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #03a8cb !important;
  margin: 5px;
}
.vertical-item.big-padding.tooltip_map .item-content{
  padding: 20px;
}
.tooltip_map .main_value{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 26px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin:10px;
}
.tooltip_map .sex_value{
  list-style: none;
  font-family: sans-serif;
  padding: 10px 0;
  margin: 0;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  color: #1f232b !important;
}

.owl-map .owl-dots{
  margin-top: 0;
}

.bottom_color_border.tooltip_map:after{
  background-color: #03a8cb;
}



/*Menu principal*/
.menu_punto a:hover{
  color: rgba(110, 157, 51, 1) !important;
}
.menu_foro a:hover{
  color: rgba(243, 112, 43, 1) !important;
}
.menu_recurso a:hover,
.header_white .sf-menu > li.menu_recurso.sfHover > a,
.menu_service #recurso_content ul a:hover{
  color: rgba(3, 168, 203, 1) !important;
}
.menu_iniciativa a:hover{
  cursor: pointer;
}
.menu_iniciativa a:hover,
.header_white .sf-menu > li.menu_iniciativa.sfHover > a,
.menu_service #iniciativa_content ul a:hover{
  color: rgba(252, 179, 21, 1) !important;
}

.sf-menu li.menu_recurso > ul,
.menu_service #recurso_content ul{
  border-bottom-color: rgba(3, 168, 203, 1);
}
.sf-menu li.menu_iniciativa > ul,
.menu_service #iniciativa_content ul{
  border-bottom-color: rgba(252, 179, 21, 1);
}
/*login alianza*/
#account_login .row.flex-wrap.v-center-content{
  align-items: center;
  justify-content: center;
}

#account_login .account_info{
  margin: 20px;
}
#account_login .account_info h4,
#account_login .account_info h5{
  font-family: 'Lato', sans-serif;
}
#account_login .account_alianza{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

#account_login .account_alianza li a{
  padding:15px;
  font-size: 18px;
}

/*Footer*/
.page_footer .logo img{
  max-width: 230px;
  margin-bottom: 10px;
}