<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<title>Plataforma Regional Género y Metodologías</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animations.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/icofont.min.css">
	<link rel="stylesheet" href="css/main.css" class="color-switcher-link">
	<link rel="stylesheet" href="css/shop.css" class="color-switcher-link">
	<link rel="stylesheet" href="css/maincustom.css" class="color-switcher-link">

	<script src="js/vendor/modernizr-2.6.2.min.js"></script>
	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->
</head>

<body>
	<style type="text/css">
	.page_breadcrumbs.background_cover {
		background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./images/banner3.jpg);
	}
	</style>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->
	<div class="preloader">
		<div class="preloader_image"></div>
	</div>
	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">
			<i class="rt-icon2-cross2"></i>
		</span>
	</button>
	<div class="widget widget_search">
		<form method="get" class="searchform search-form form-inline" action="./">
			<div class="form-group bottommargin_0"> <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input"> </div> <button type="submit" class="theme_button no_bg_button">Search</button> </form>
		</div>
	</div>
	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls with_padding">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
	-->
</div>
</div>
<!-- eof .modal -->
<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
	<div id="box_wrapper">
		<!-- template sections -->
		<section class="page_topline ds table_section table_section_lg section_padding_top_15 section_padding_bottom_15 columns_margin_0">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 text-center text-lg-left hidden-xs">
						<div class="inline-content big-spacing">
							<div class="page_social"> <a class="social-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon socicon-youtube" href="#" title="Youtube"></a> </div> </div>
						</div>
						<div class="col-lg-6 text-center text-lg-right">
							<div id="topline-animation-wrap">
								<div id="topline-hide" class="inline-content big-spacing">
									<div class="xs-block">
										<ul class="inline-list menu greylinks">

											<li class="dropdown"> <a id="search-show" href="./">
												<i class="fa fa-search"></i>
											</a> </li>
										</ul>
									</div>
								</div>
								<div id="topline-show" class="widget widget_search">
									<form method="get" class="searchform inline-form" action="./">
										<div class="form-group-wrap">
											<div class="form-group"> <label class="sr-only" for="topline-widget-search">Search for:</label> <input id="topline-widget-search" type="text" value="" name="search" class="form-control" placeholder="Enter Keyword..."> <a href="./" id="search-close">
												<i class="fa fa-close"></i>
											</a> </div> <button type="submit" class="theme_button no_bg_button color1">ok</button> </div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<header class="page_header header_white toggler_xs_right columns_margin_0">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12 display_table">
								<div class="header_left_logo display_table_cell"> <a href="./" class="logo logo_with_text">
									<img src="images/logo.png" alt="">

								</a> 
							</div>
							<div class="header_mainmenu display_table_cell text-center">
								<!-- main nav start -->
								<nav class="mainmenu_wrapper">
									<ul class="mainmenu nav sf-menu">
										<li class="active"> <a href="index.html">Inicio</a>
											<ul>
												<li> <a href="index.html">Home</a> </li>
												<li> <a href="index-static.html">Home static intro</a> </li>
												<li> <a href="index-single.html">Home single page</a> </li>
											</ul>
										</li>

										<li> <a href="about.html">¿Quienes Somos?</a>
											<ul>
												<!-- features -->
												<li> <a href="shortcodes_teasers.html">Shortcodes &amp; Widgets</a>
													<ul>
														<li> <a href="shortcodes_typography.html">Typography</a> </li>
														<li> <a href="shortcodes_buttons.html">Buttons</a> </li>
													</ul>
												</li>
												<!-- eof features -->
												<li> <a href="about.html">About</a> </li>
												<li> <a href="team.html">Team</a>
													<ul>
														<li> <a href="team.html">Leaders</a> </li>
														<li> <a href="team-single.html">Team Member</a> </li>
													</ul>
												</li>
												<li> <a href="donate.html">Donate</a> </li>
												<li> <a href="timetable.html">Timetable</a> </li>
												<!-- events -->
												<li> <a href="events-left.html">Events</a>
													<ul>
														<li> <a href="events-left.html">Left Sidebar</a> </li>
														<li> <a href="events-right.html">Right Sidebar</a> </li>
														<li> <a href="events-full.html">Full Width</a> </li>
														<li> <a href="event-single-left.html">Single Event</a>
															<ul>
																<li> <a href="event-single-left.html">Left Sidebar</a> </li>
																<li> <a href="event-single-right.html">Right Sidebar</a> </li>
																<li> <a href="event-single-full.html">Full Width</a> </li>
															</ul>
														</li>
													</ul>
												</li>
												<!-- eof events -->
												<li> <a href="comingsoon1.html">Comingsoon</a>
													<ul>
														<li> <a href="comingsoon1.html">Comingsoon</a> </li>
														<li> <a href="comingsoon2.html">Comingsoon 2</a> </li>
													</ul>
												</li>
												<li> <a href="faq.html">FAQ</a>
													<ul>
														<li> <a href="faq.html">FAQ</a> </li>
														<li> <a href="faq2.html">FAQ 2</a> </li>
														<li> <a href="faq3.html">FAQ 3</a> </li>
													</ul>
												</li>
												<li> <a href="404.html">404</a>
													<ul>
														<li> <a href="404.html">404</a> </li>
														<li> <a href="404-2.html">404 2</a> </li>
													</ul>
												</li>
											</ul>
										</li>

										<!-- eof pages -->
										<li> <a href="services.html">Alianzas y Colaboraciones</a>
											<ul>
												<li> <a href="services.html">Services</a> </li>
												<li> <a href="service-single.html">Single Service</a> </li>
											</ul>
										</li>

									</ul>
								</nav>
								<!-- eof main nav -->
								<!-- header toggler --><span class="toggle_menu"><span></span></span>
							</div>
							<div class="header_right_buttons display_table_cell text-right hidden-xs"> <a href="donate.html" class="theme_button color2 margin_0">Iniciar Sesión</a> </div>
						</div>
					</div>
				</div>
			</header>
			<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="white-color ">VIOLENCIA ENTRE LOS GÉNEROS. CUESTIONES NO PENSADAS O "IMPENSABLES"</h2>
							<ol class="breadcrumb white-color">
								<li> <a href="./">
									Inicio
								</a> </li>
								<li> <a href="#">Foro</a> </li>
								<li class="active">VIOLENCIA ENTRE LOS GÉNEROS. CUESTIONES NO PENSADAS O "IMPENSABLES"</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="ls section_padding_top_110 section_padding_bottom_100 columns_padding_30">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-8 col-lg-8">
							<article class="vertical-item content-padding big-padding with_border single-post post">

								<div class="item-content">
									<header class="entry-header">
										<div class="entry-meta greylinks color4 inline-content"> <span>
											<i class="fa fa-calendar highlight4 rightpadding_5" aria-hidden="true"></i>
											<time datetime="2017-10-03T08:50:40+00:00">17 Ene, 2018</time>
										</span> <span>
											<i class="fa fa-comment highlight4 rightpadding_5" aria-hidden="true"></i>
											<a href="blog-single-full.html#comments">4 comentarios</a>
										</span> <span class="categories-links">
											<i class="icofont-comment highlight4 rightpadding_5" aria-hidden="true"></i>
											<a href="blog-full.html">A. Estrada</a>
										</span> 
										<span class="text-right">
											
										</span>

									</div>
									<div class="highlight1 small-text text-right">	
												<!-- <i class="icofont-tack-pin"></i>

												<a href="">Seguir</a> -->

												<div class="theme_button color2 inverse"> <i class="icofont-tack-pin"></i><a href="#" class=""> Seguir</a></div>
											</div>


									<h1 class="entry-title"> Violencia entre los géneros. Cuestiones no pensadas o “impensables”. </h1>
								</header>
								<div class="entry-content">
									<p class="">La violencia entre los géneros es un fenómeno marcadamente
										asimétrico, donde en la vida adulta, los hombres se ubican mayoritariamente
										del lado del agresor y las mujeres entre las víctimas. Este aspecto para nada es
										ambiguo, y sin embargo se ve confrontado con otras dimensiones del análisis,
									en las que no es tan fácil evitar la confusión. </p>
									<p class="text-center">La forma de agresión intrafamiliar más común es la conyugal.</p>
									<blockquote class="text-center">
										<p>La violencia doméstica es definida como todo acto cometido en la unidad
											doméstica por un miembro de la familia que perjudica gravemente el cuerpo, la
										integridad psicológica o la libertad de otro miembro de la familia. </p>

									</blockquote>
									<p>Se ha relacionado la violencia intergénero con la asimetría jerárquica
										existente entre varones y mujeres. En algunos casos es expresión directa de la
										extremada subordinación femenina, y en otros, una manifestación mediante la 
										2
										cual se pretende reinstalar el dominio masculino amenazado. En última
										instancia, el sistema sexo género, o la división polarizada entre los géneros,
									crearía las condiciones de posibilidad de la violencia. </p>
									<img src="images/violence.png" alt="" class="alignleft">
									<p>En los últimos años, los especialistas en el tema han realizado una labor
										de sensibilización y difusión acerca de esta problemática, que puede
										considerarse extraordinariamente exitosa, en el sentido de haber logrado una
										extendida percepción acerca de la violencia conyugal como un fenómeno
										inaceptable, y una sanción moral compartida con respecto de los ofensores. Es
										difícil evaluar si los actos violentos han disminuido, ya que al dejar de ser
										naturalizados, su denuncia sufrió un incremento exponencial. Lo que resulta
										evidente es la pérdida de legitimidad de los actos violentos en las sociedades
									occidentales.</p>
									<p>A esta deslegitimación se ha sumado un conjunto de estrategias
										destinadas a prevenir la violencia y atender a sus protagonistas, tales como: la
										aprobación de medidas legales nacionales y de convenios internacionales, el
										diseño de campañas para modificar la opinión pública, la creación de refugios,
										el entrenamiento y capacitación del personal de salud, del personal policial y
										otros actores sociales vinculados a la atención y prevención de la violencia, la
										implementación de grupos de mujeres golpeadas, ya sean con coordinación
										técnica o de autoayuda, el agrupamiento compulsivo de agresores para su
									tratamiento, etc.</p>


								</div>
								<!-- .entry-content -->
							</div>
							<!-- .item-content -->
						</article>
						<div class="post-share"> <a href="#" class="social-icon color-bg-icon socicon-twitter"></a> <a href="#" class="social-icon color-bg-icon socicon-facebook"></a>  </div>
						<div class="row page-nav columns_padding_10">
							<div class="col-md-6 col-xs-12">
								<div class="nav-item prev-item with_padding big-padding ds bg_teaser after_cover darkgrey_bg ms"> <img src="images/side-image.jpg" alt="">
									<div>
										<div class="highlight4 small-text"> Foro Anterior </div>
										<h4 class="entry-title">LA COOPERACIÓN INTERNACIONAL Y AYUDA HUMANITARIA</h4>
									</div>
									<!-- eof .item-content -->
									<div class="media-links"> <a href="#" class="abs-link"></a> </div>
								</div>
							</div>
							<div class="col-md-6 col-xs-12">
								<div class="nav-item next-item with_padding big-padding ds bg_teaser after_cover darkgrey_bg ms"> 
									<img src="images/side-image.jpg" alt="">
									<div class="item-content">
										<div class="highlight4 small-text"> Siguiente Foro </div>
										<h4 class="entry-title">
											<a href="blog-single-right.html">LOS VOLUNTARIOS DE LAS ENTIDADES NO LUCRATIVAS</a> </h4>
										</div>
										<!-- eof .item-content -->
										<div class="media-links"> <a href="#" class="abs-link"></a> </div>
									</div>
								</div>
							</div>

							<div class="comments-area" id="comments">
								<h3>6 Comentarios en este foro</h3>
								<ol class="comment-list">
									<li class="comment even thread-even depth-1 parent">
										<article class="comment">
											<div class="comment-author"> <img class="media-object" alt="" src="images/user2.jpg"> </div>
											<div class="comment-body">
												<div class="comment-meta darklinks"> <a class="author_url" rel="external nofollow" href="#">Jenny P. </a> <span class="comment-date">
													<i class="fa fa-calendar highlight4 rightpadding_5" aria-hidden="true"></i>
													<time datetime="2017-10-03T08:50:40+00:00">
														25 eero, 2019
													</time>
												</span> </div>
												<div class="comment-text">
													<p>avanza según opino un paso más, cuando en su   análisis   acerca   del   problema   de   ladominación,  se  dedica  al  estudio  de la intersubjetividad.</p>
												</div> <span class="reply">
													<a href="#respond">
														<i class="fa fa-reply" aria-hidden="true"></i>
														<span class="sr-only">Reply</span> </a>
													</span>
												</div>
											</article>
											<!-- .comment-body -->
											<ol class="children">
												<li class="comment byuser odd alt depth-2 parent">
													<article class="comment">
														<div class="comment-author"> <img class="media-object" alt="" src="images/forumuser2.jpg"> </div>
														<div class="comment-body">
															<div class="comment-meta darklinks"> <a class="author_url" rel="external nofollow" href="#">Devin McGee</a> <span class="comment-date">
																<i class="fa fa-calendar highlight4 rightpadding_5" aria-hidden="true"></i>
																<time datetime="2017-10-03T08:50:40+00:00">
																	25 enero, 2019
																</time>
															</span> </div>
															<div class="comment-text">
																<p>el origen infantil de las  perversiones  se refiere a duelos inaceptables, a sentimientos de pérdida y abandono no elaborados.</p>
															</div> <span class="reply">
																<a href="#respond">
																	<i class="fa fa-reply" aria-hidden="true"></i>
																	<span class="sr-only">Reply</span> </a>
																</span>
															</div>
														</article>
														<!-- .comment-body -->

														<!-- .children -->
													</li>
													<!-- #comment-## -->
												</ol>
												<!-- .children -->
											</li>
											<!-- #comment-## -->
											<li class="comment even thread-even depth-1 parent">
												<article class="comment">
													<div class="comment-author"> <img class="media-object" alt="" src="images/forumuser1.png"> </div>
													<div class="comment-body">
														<div class="comment-meta darklinks"> <a class="author_url" rel="external nofollow" href="#">Sharon Tyler</a> <span class="comment-date">
															<i class="fa fa-calendar highlight4 rightpadding_5" aria-hidden="true"></i>
															<time datetime="2017-10-03T08:50:40+00:00">
																25 enero, 2019
															</time>
														</span> </div>
														<div class="comment-text">
															<p>si fracasa el reconocimiento hay dominación</p>
														</div> <span class="reply">
															<a href="#respond">
																<i class="fa fa-reply" aria-hidden="true"></i>
																<span class="sr-only">Reply</span> </a>
															</span>
														</div>
													</article>
													<!-- .comment-body -->

													<!-- .children -->
												</li>
												<!-- #comment-## -->
											</ol>
											<!-- .comment-list -->
										</div>
										<!-- #comments -->
										<div class="comment-respond text-center" id="respond">
											<h3>Deja un comentario</h3>
											<form class="comment-form" id="commentform" method="post" action="./">
												<div class="row columns_padding_10">
													<div class="col-xs-12">
														<div class="form-group margin_0"> <label for="author">Nombre<span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="author" id="author" class="form-control text-center" placeholder="Nombre"> </div>
													</div>
													<div class="col-xs-12">
														<div class="form-group margin_0"> <label for="comment_email">Email</label> <input type="email" size="30" value="" name="comment_email" id="comment_email" class="form-control text-center" placeholder="Email"> </div>
													</div>
													<div class="col-xs-12">
														<div class="form-group margin_0"> <label for="comment">Comentario</label> <textarea aria-required="true" rows="4" cols="45" name="comment" id="comment" class="form-control text-center" placeholder="Comentario"></textarea> </div>
													</div>
												</div>
												<div class="form-submit topmargin_30"> <button type="submit" id="submit" name="submit" class="theme_button color3 min_width_button margin_0">Enviar </button> </div>
											</form>
										</div>
										<!-- #respond -->

									</div>
									<!--eof .col-sm-8 (main content)-->
									<!-- sidebar -->
									<aside class="col-sm-5 col-md-4 col-lg-4">
										<div class="widget widget_search">
											<form method="get" class="searchform" action="./">
												<div class="form-group margin_0"> <label class="sr-only" for="widget-search">Search for:</label> <input id="widget-search" type="text" value="" name="search" class="form-control" placeholder="Buscar..."> </div> <button type="submit" class="theme_button color1">Search</button>									</form>
											</div>
											<!-- tags -->
											<div class="widget">
												<h4 class="widget-title">Tags</h4>
												<div class="tagcloud">
													<a href="">Igualdad</a>
													<a href="">Género</a>
													<a href="">Metodología</a>
													<a href="">Nicaragua</a>
												</div>
											</div>
											<div class="widget widget_archive">

											</div>

											<div class="widget widget_recent_posts">
												<h4 class="widget-title">Foros Destacados</h4>
												<div class=" loop-colors" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
													<div class="vertical-item content-padding with_border">

														<div class="item-content">
															<h5 class="bottommargin_0"> <a href="blog-single-right.html"> LOS VOLUNTARIOS DE LAS ENTIDADES NO LUCRATIVAS</a> </h5> <span class="entry-meta greylinks">
																<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
																<a href="blog-single-full.html">
																	<time datetime="2017-10-03T08:50:40+00:00">
																	17 enero, 2019</time>
																</a>
															</span> </div>
														</div>
														<div class="vertical-item content-padding with_border">

															<div class="item-content">
																<h5 class="bottommargin_0"> <a href="blog-single-right.html">LA COOPERACIÓN INTERNACIONAL Y AYUDA HUMANITARIA</a> </h5> <span class="entry-meta greylinks">
																	<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
																	<a href="blog-single-full.html">
																		<time datetime="2017-10-03T08:50:40+00:00">
																		17 enero, 2019</time>
																	</a>
																</span> </div>
															</div>
															<div class="vertical-item content-padding with_border">

																<div class="item-content">
																	<h5 class="bottommargin_0"> <a href="blog-single-right.html">FORO DE ESTOCOLMO SOBRE LA IGUALDAD DE GÉNERO.</a> </h5> <span class="entry-meta greylinks">
																		<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
																		<a href="blog-single-full.html">
																			<time datetime="2017-10-03T08:50:40+00:00">
																			17 enero, 2019</time>
																		</a>
																	</span> </div>
																</div>
															</div>
														</div>

														<div class="widget widget_recent_posts">
															<h4 class="widget-title">Foros Seguidos</h4>
															<div class=" loop-colors" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
																<div class="vertical-item content-padding with_border">


																	<div class="vertical-item content-padding with_border">

																		<div class="item-content">
																			<h5 class="bottommargin_0"> <a href="blog-single-right.html">FORO DE ESTOCOLMO SOBRE LA IGUALDAD DE GÉNERO.</a> </h5> <span class="entry-meta greylinks">
																				<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
																				<a href="blog-single-full.html">
																					<time datetime="2017-10-03T08:50:40+00:00">
																					17 enero, 2019</time>
																				</a>
																			</span> </div>
																		</div>
																	</div>
																</div>

															</aside>
															<!-- eof aside sidebar -->
														</div>
													</div>
												</section>

												<footer class="page_footer template_footer ds ms parallax section_padding_top_110 section_padding_bottom_100 columns_padding_25">
													<div class="container">
														<div class="row">

															<div class="col-md-4 col-sm-6 col-xs-12 col-md-push-4 text-center">
																<div class="widget widget_text widget_about">
																	<div class="logo logo_with_text bottommargin_10"> <img src="images/index/cantera-logo.png" alt=""> </div>
																	<p>Somos una organización nicaragüense no gubernamental, de tipo humanitario, sin fines de lucro y con personalidad jurídica propia, fundada en el año 1988.</p>
																	<p class="topmargin_25"> <a class="social-icon border-icon rounded-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon border-icon rounded-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon border-icon rounded-icon socicon-youtube" href="#" title="Youtube"></a> </p>
																</div>
															</div>
															<div class="col-md-4 col-sm-6 col-xs-12 col-md-pull-4 text-center">
																<div class="widget widget_text">
																	<h3 class="widget-title">Contáctanos</h3>
																	<ul class="list-unstyled greylinks">
																		<li class="media"> <i class="fa fa-map-marker highlight rightpadding_5" aria-hidden="true"></i> Plaza El Sol 2c. sur 1c. arriba. Managua, Nicaragua.</li>
																		<li class="media"> <i class="fa fa-phone highlight rightpadding_5" aria-hidden="true"></i> (505) 2278-0103 </li>
																		<li class="media"> <i class="fa fa-envelope highlight rightpadding_5" aria-hidden="true"></i> <a href="mailto: comunicacionescantera@gmail.com"> comunicacionescantera@gmail.com</a> </li>

																	</ul>
																</div>
															</div>
															<div class="col-md-4 col-sm-6 col-xs-12 hidden-xs hidden-sm text-center">
																<div class="widget widget_recent_posts">
																	<h3 class="widget-title">Explorar </h3>

																</div>
																<div class="widget widget_text">
																	<ul class="list1 no-bullets no-top-border no-bottom-border greylinks">
																		<li> <a href="#">Actualidad</a> </li>
																		<li> <a href="#">Foro</a> </li>
																		<li> <a href="#">Iniciativas destacadas</a> </li>
																		<li> <a href="#">Recursos Metodológicos</a> </li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</footer>

												<section class="ds ms parallax page_copyright overlay_color section_padding_top_30 section_padding_bottom_30">
													<div class="container">
														<div class="row">
															<div class="col-sm-12 text-center">
																<p>&copy; Copyright 2019. Todos los derechos reservados.</p>
															</div>
														</div>
													</div>
												</section>
											</div>
											<!-- eof #box_wrapper -->
										</div>
										<!-- eof #canvas -->
										<script src="js/compressed.js"></script>
										<script src="js/selectize.min.js"></script>
										<script src="js/main.js"></script>
									</body>

									</html>