{% extends "base.html"%}

{% block bannertitle%}
<h2>Centro Cultural de España en Nicaragua inaugura Exposición “Vivan las mujeres”</h2>
{% endblock bannertitle %}

{% block content %}
<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="blog-details">
					<div class="article-img">
						<img src="/static/img/espania_en_nicaragua.png" alt="blog-details">
						<div class="date">20 <br> Enero</div>
					</div>

					<div class="article-content">
						<ul class="category">
									<!-- <li><a href="#">IT</a></li>
									<li><a href="#">Mobile</a></li>
									<li><a href="#">Marketing</a></li>
									<li><a href="#">Design</a></li>
									<li><a href="#">Development</a></li> -->
									<li><a href="#">Informémonos</a></li>
									<li><a href="#">Reflexiones</a></li>

								</ul>

								<h3>Centro Cultural de España en Nicaragua inaugura Exposición “Vivan las mujeres”</h3>

								<p>La Embajada de España/Centro Cultural de España en Nicaragua (CCEN), en conmemoración al Día Internacional de la Mujer, invitan a la inauguración de la Exposición Vivan las mujeres, en la que más de 90 artistas plásticas, ilustradoras, escritoras y músicas buscan a través de sus obras poner en relieve la problemática de la violencia hacia las mujeres, las secuelas que deja, pero también crear conciencia sobre la responsabilidad de todos los seres humanos para frenarla.</p>

								<p>Esta exposición será inaugurada el viernes 22 de marzo a las 6:00 PM y permanecerá abierta al público hasta el viernes 24 de mayo, en horarios de 9:00 a 5:00 PM.</p>

								<p>En esta exposición, que está bajo la curaduría de Clarisa Moura (Argentina-México) y Abril Castillo, de Vértigo Galería (México), algunas de las obras están basadas en vivencias personales, historias conocidas, casos concretos, como parte de una campaña que busca concientizar sobre todos los tipos de violencia, además de crear comunidad en Iberoamérica, donde la problemática es alarmante.</p>

								<blockquote class="blockquote">
									<p>Desde su creación, Vivan las mujeres ha recorrido diferentes ciudades de España, México, Argentina y Uruguay, y se ha ido nutriendo cada vez con nuevas obras de artistas de la región interesadas en incidir a través de su trabajo en la erradicación de la violencia de género. </p>
								</blockquote>

								<!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque eum alias debitis suscipit, sint dignissimos minus quisquam recusandae nostrum quas eligendi odit, fugiat eius rem. Cumque, labore placeat! Velit, vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, iste? Aut ipsam consequuntur non rem tenetur dolore consequatur ducimus a labore excepturi quae nisi, quisquam, maxime voluptates magnam aliquid. Cupiditate!</p>
								-->
								<div class="share-post">
									<ul>
										<li><a href="#"><i class="icofont-facebook"></i></a></li>
										<li><a href="#"><i class="icofont-twitter"></i></a></li>
										<li><a href="#"><i class="icofont-linkedin"></i></a></li>
										<li><a href="#"><i class="icofont-instagram"></i></a></li>
										<li><a href="#"><i class="icofont-vimeo"></i></a></li>
									</ul>
								</div>
							</div>
						</div>

						

						<div class="post-comments">
							<div>
								<img src="/static/img/disqusCantera.png">
							</div>
						</div>
<!--
						<div class="leave-a-reply">
							<h3>Deja un comentario</h3>
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Nombre completo">
									</div>
								</div>

								<div class="col-lg-6 col-md-6">
									<div class="form-group">
										<input type="email" class="form-control" placeholder="E-Mail">
									</div>
								</div>

								<div class="col-lg-12 col-md-12">
									<div class="form-group">
										<textarea name="comment" cols="30" rows="5" class="form-control" placeholder="Tu Comentario"></textarea>
									</div>
								</div>

								<div class="col-lg-12 col-md-12">
									<button type="submit" class="btn btn-primary">Enviar</button> 
									<input type="button" class="btn btn-primary" name="sendComment" value="&#xf1d8;">		
								</div>
							</div>
						</div>-->
					</div>
					
					<div class="col-lg-4">
						<div class="sidebar-area">
							<div class="widget widget-search">
								<form>
									<input type="text" class="form-control" placeholder="Buscar">
									<button type="submit"><i class="icofont-search-2"></i></button>
								</form>
							</div>

							<div class="widget widget_post_categories">
								<h3 class="widget-title">Categorías</h3>
								<div class="bar"></div>

								<ul>
									<li><a href="#"><i class="icofont-bubble-right"></i> Informémonos</a></li>
									<li><a href="#"><i class="icofont-bubble-right"></i> Situación regional de género</a></li>
									<li><a href="#"><i class="icofont-bubble-right"></i> Reflexiones</a></li>
								</ul>
							</div>
							
							<div class="widget widget_recent_posts">
								<h3 class="widget-title">Actualidad</h3>
								<div class="bar"></div>
								
								<ul>
									<li>
										<div class="recent-post-thumb">
											<a href="#">
												<img src="/static/img/circulo_mujeres.jpg" alt="blog-image">
											</a>
										</div>

										<div class="recent-post-content">
											<h3><a href="#">Círculo de mujeres</a></h3>
											<span class="date">23 Abril 2018</span>
										</div>
									</li>

									<li>
										<div class="recent-post-thumb">
											<a href="#">
												<img src="/static/img/learn_english.jpg" alt="blog-image">
											</a>
										</div>

										<div class="recent-post-content">
											<h3><a href="#">Curso de inglés básico</a></h3>
											<span class="date">23 Abril 2018</span>
										</div>
									</li>

									<li>
										<div class="recent-post-thumb">
											<a href="#">
												<img src="/static/img/circulo_mujeres.jpg" alt="blog-image">
											</a>
										</div>

										<div class="recent-post-content">
											<h3><a href="#">Círculo de mujeres</a></h3>
											<span class="date">28 Abril 2018</span>
										</div>
									</li>

									<li>
										<div class="recent-post-thumb">
											<a href="#">
												<img src="/static/img/learn_english.jpg" alt="blog-image">
											</a>
										</div>

										<div class="recent-post-content">
											<h3><a href="#">Curso de inglés básico</a></h3>
											<span class="date">30 Abril 2018</span>
										</div>
									</li>
								</ul>
							</div>

							<div class="widget widget_tag_cloud">
								<h3 class="widget-title">Tags</h3>
								<div class="bar"></div>

								<div class="tagcloud">
									<a href="#">España</a>
									<a href="#">Nicaragua</a>
									<a href="#">Cultura</a>
									<a href="#">CCEN</a>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
</section>
		<!-- End Blog Details Area -->

{% endblock content %}