{% load thumbnail %}
{% load compress %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        {% block title %}
            <title>Plataforma Regional Género y Metodologías</title>
        {% endblock title %}
        <meta charset="utf-8">
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
        <link rel="manifest" href="/static/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {% block extra_head %}{% endblock extra_head %}

        {% compress css %}

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/animations.css">
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/icofont.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/shop.css">
        <link rel="stylesheet" href="/static/css/maincustom.css">
        <link rel="stylesheet" type="text/css" href="/static/css/lato-font.css">
        {% block extra_css %}{% endblock extra_css %}
        {% endcompress %}

        {% compress js %}
        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
        {% endcompress %}

        <!-- Metas GEO -->
        <meta name="copyright" content="Plataforma Regional Género y Metodologías" />
        <meta name="geo.region" content="NI-MN" />
        <meta name="DC.title" content="Plataforma Regional Género y Metodologías" />
        <meta name="geo.placename" content="Managua" />
        <meta name="geo.position" content="12.1283402, -86.2609456" />
        <meta name="ICBM" content="12.1283402, -86.2609456" /> 
        <!-- Metas DC -->
        <meta name="author" content="Plataforma Regional Género y Metodologías" />
        <meta name="publisher" content="Plataforma Regional Género y Metodologías" />
        <meta name="DC.creator" content="Plataforma Regional Género y Metodologías" />
        <meta name="DC.publisher" content="Plataforma Regional Género y Metodologías" />
        <meta name="DC.language" scheme="RFC1766" content="es" />

        <!-- robots -->
        <meta name="robots" content="index,follow" />
        <meta name="robots" content="noodp,noydir"/> 
        <!-- /robots -->

        {% block meta_keywords %}
        <meta name="keywords" content="" />
        {% endblock meta_keywords %}

        {% block meta_keywords_google %}
        <meta name="keywords" content="" />
        {% endblock meta_keywords_google %}

        {% block meta_description %}
        <meta name="description" content="La Plataforma Regional Género y Metodologías es un espacio de comunicación e intercambio cuyo propósito es contribuir a fortalecer los procesos de cambio hacia relaciones de género justas y sostenibles en la región centroamericana." />
        {% endblock meta_description %}

        {% block canonical %}
        <link rel="canonical" href='https://generoymetodologias.org/'>
        {% endblock canonical %} 

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144367316-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-144367316-1');
        </script>

    </head>

    <body>

        <style>
            .goog-te-gadget-simple{
                background: Transparent !important;
                border: none;
            }
            .goog-te-gadget-simple::after{
                content: "\ea67";
                font-family: IcoFont!important;
                font-weight: 400;
                font-size: 16px;
                color: white !important;
            }
            .goog-te-gadget img {
                display: none;
            }
            .goog-te-gadget-simple .goog-te-menu-value span:first-child{
                font-size: 16px !important;
                font-family: 'Lato', sans-serif;
                line-height: 19px !important;
                color: white !important;
                border-color: white !important;
            }
            .goog-te-gadget-simple .goog-te-menu-value span:last-child{
                display: none;
            }
            
            .goog-te-gadget-simple .goog-te-menu-value span{
                border: none !important;
            }
        </style>
        <div id="canvas">
            <div id="box_wrapper">
                <!-- template sections -->
                <section class="page_topline ds table_section table_section_lg section_padding_top_15 section_padding_bottom_15 columns_margin_0 bg_customgreen">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 text-center text-lg-left hidden-xs">
                                <div class="inline-content big-spacing">
                                    <div class="page_social"> 
                                        <a class="social-icon socicon-facebook white-color" href="https://www.facebook.com/generoymetodologias/" target="_blank" title="Facebook"></a> 
                                        <a class="social-icon socicon-twitter white-color" href="https://twitter.com/PMetodologias" target="_blank" title="Twitter"></a>  
                                        <a class="social-icon socicon-youtube white-color" href="https://www.youtube.com/channel/UCdKHGzo0grM2e7rVpAWSR9A?view_as=subscriber" target="_blank" title="Youtube"></a> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 text-center text-lg-right">
                                <div id="topline-animation-wrap">
                                    <div id="topline-hide" class="inline-content big-spacing"> 

                                    
                                        <ul class="inline-list menu">
                                            {% if request.user.is_authenticated %}

                                            <li>
                                                <div class="comment-author">
                                                    {% if user.avatar %}
                                                    {% thumbnail user.avatar "34x34" crop="center" as im %}
                                                    <img class="" src="{{ im.url }}" alt="">
                                                    {% endthumbnail %}
                                                    {% elif user.socialaccount_set.all.0.get_avatar_url %}
                                                    {% thumbnail user.socialaccount_set.all.0.get_avatar_url "34x34" crop="center" as im %}
                                                    <img class="" src="{{ im.url }}" alt="">
                                                    {% endthumbnail %}
                                                    {% else %}

                                                    <span><i class="icofont-ui-user white-color"></i></span>

                                                    {% endif %}
                                                </div>
                                            </li>
                                            <li>

                                                <div class="dropdown dp-user">
                                                    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        {{user.get_full_name|default:user.username}}
                                                        <i class="icofont-caret-down rotate"></i>
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        
                                                        <li><a href="{% url 'perfil' %}">Administrador</a></li> 
                                                        

                                                        <li><a href="{% url 'editar_perfil' user.id %}?next={{ request.path }}">Editar perfil</a></li>

                                                        <li><a href="{% url 'account_change_password' %}">Cambiar contraseña</a></li>

                                                        <li role="separator" class="divider"></li>
                                                        <li><a href="/accounts/logout/">Cerrar Sesión</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            {% else %}
                                            <li>
                                                <a href="{% url 'account_login' %}?next={{ request.path }}" class="white-color small-text"><i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesión </a> 
                                            </li>
                                            {% endif%}

                                                <li><div id="google_translate_element"></div></li>
                                                    <script type="text/javascript">
                                                        function googleTranslateElementInit() {
                                                            new google.translate.TranslateElement({
                                                                pageLanguage: 'es',
                                                                includedLanguages: 'en,fr',
                                                                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                                                                gaTrack: true},
                                                                'google_translate_element'
                                                                );
                                                            }
                                                    </script>
                                                    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                                        </ul>
                                    
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <header class="page_header header_white toggler_xs_right columns_margin_0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 display_table">
                                <div class="header_left_logo display_table_cell"> 
                                    <a href="/" class="logo">
                                        <img src="/static/img/logo.png" alt="">
                                    </a> 
                                </div>
                                <div class="header_mainmenu display_table_cell text-right">
                                    <!-- main nav start -->
                                    <nav class="mainmenu_wrapper">
                                        <ul class="mainmenu nav sf-menu">
                                            
                                        
                                                {% comment %} <li class="{% if request.path == '/' %} active {% endif %}"> <a href="/">Inicio</a> </li>{% endcomment %}

                                                <li> 
                                                    <a class="{% if request.path == '/quienes-somos' %} active {% endif %}" href="/quienes-somos/">¿Quiénes Somos?</a>
                                                </li>

                                                
                                                
                                            
                                                <li> 
                                                    <a href="#">Actualidad</a>
                                                    <ul>
                                                        <li> <a href="/actualidad/noticias">Noticias</a> </li>
                                                        <li> <a href="/actualidad/situacion-regional-genero">Situación regional de género</a> </li>
                                                    </ul>
                                                </li>
                                                <li> 
                                                    <a href="/puntos-vista">Puntos de vista</a>
                                                </li>

                                                <li> 
                                                    <a href="/foros">Foros</a>
                                                </li>

                                                <li> 
                                                    <a href="#">Recursos metodológicos</a>
                                                    <ul>
                                                            <li> <a href="/recursos-metodologicos/publicaciones">Publicaciones</a> </li>
                                                            <li> <a href="/recursos-metodologicos/galerias/imagenes">Imágenes</a> </li>
                                                            <li> <a href="/recursos-metodologicos/galerias/videos">Videos</a> </li>
                                                            <li><a href="/recursos-metodologicos/galerias/audios/">Audios</a></li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    <a>Iniciativas destacadas</a>
                                                    <ul>
                                                        <li> <a href="/iniciativas-destacadas/campanias/">Campañas</a> </li>
                                                        <li> <a href="/iniciativas-destacadas/eventos/">Eventos</a> </li>
                                                        <li> <a href="/iniciativas-destacadas/concursos/">Concursos</a> </li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    <a class="{% if '/alianzas' in request.path %} active {% endif %}" href="/alianzas">Alianzas y Colaboraciones</a>
                                                </li>
                                        
                                                
                                            
                                            

                                            <div id="mobile_menu" class="nav">
                                                <hr>
                                                <li class="">

                                                        <a>
                                                            <span>Actualidad</span>
                                                        </a>
                                                        <ul>
                                                            <li> <a href="/actualidad/noticias">Noticias</a> </li>
                                                            <li> <a href="/actualidad/situacion-regional-genero">Situación regional de género</a> </li>
                                                        </ul>
                                                    </li>

                                                <li> 
                                                    <a href="/puntos-vista">Puntos de vista</a>
                                                </li>

                                                <li> 
                                                    <a href="/foros">Foros</a>
                                                </li>

                                                <li class="">

                                                    <a>
                                                        <span>Recursos metodológicos</span>
                                                    </a>
                                                    <ul>
                                                        <li> <a href="/recursos-metodologicos/publicaciones">Publicaciones</a> </li>
                                                        <li> <a href="/recursos-metodologicos/galerias/imagenes">Imágenes</a> </li>
                                                        <li> <a href="/recursos-metodologicos/galerias/videos">Videos</a> </li>
                                                        <li><a href="/recursos-metodologicos/galerias/audios/">Audios</a></li>
                                                    </ul>
                                                </li>

                                                <li class="">

                                                    <a>
                                                        <span>Iniciativas destacadas</span>
                                                    </a>
                                                    <ul>
                                                        <li> <a href="/iniciativas-destacadas/campanias/">Campañas</a> </li>
                                                        <li> <a href="/iniciativas-destacadas/eventos/">Eventos</a> </li>
                                                        <li> <a href="/iniciativas-destacadas/concursos/">Concursos</a> </li>
                                                    </ul>
                                                </li>
                                                
                                            </div>

                                        </ul>

                                    </nav>
                                    <!-- eof main nav -->
                                    <!-- header toggler -->
                                    <span class="toggle_menu"><span></span></span>

                                </div>



                            </div>
                        </div>
                    </div>
                </header>
                {% comment %} {% if request.path != '/' %}
                <section id="services" class="hidden-xs ls section_intro_overlap columns_padding_0 columns_margin_0 container_padding_0 mt-10">
                    <div id="show_services" class="container-fluid">
                        <div class="row flex-wrap v-center-content">

                            <div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                                <div class="teaser main_bg_color transp with_padding big-padding margin_0">
                                    <div class="xxs-media-left">
                                        <div class="dropdown text-center">
                                            <a class="orangefont visible_hover white-color actual_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/actualidad">
                                                <span>Actualidad</span> <i class="icofont-caret-down rotate"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <!--<a class="dropdown-item" href="/actualidad">Actualidad</a>-->
                                                <a class="dropdown-item" href="/actualidad/noticias"> Noticias</a>
                                                <a class="dropdown-item" href="/actualidad/situacion-regional-genero"> Situación regional de género</a>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle text-center">
                                            
                                            <h4>
                                            </h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                                <div class="teaser bg_customgreen transp with_padding big-padding margin_0" id="p_vista">
                                    <a href="/puntos-vista">
                                        <div class="xxs-media-left">
                                            <div class="text-center">
                                                <a class="visible_hover white-color puntos_content" href="/puntos-vista" aria-haspopup="true" aria-expanded="false">
                                                    <span id ="txtpuntos">Puntos de vista</span>
                                                </a>
                                            </div>

                                            <div class="media-body media-middle text-center">
                                                <h4 class="white-color"></h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                                <div class="teaser main_bg_color2 transp with_padding big-padding margin_0">
                                    <a href="/foros">
                                        <div class="xxs-media-left">

                                            <div class="text-center">
                                                <a class="visible_hover white-color foro_content" href="/foros" aria-haspopup="true" aria-expanded="false"><span>Foros</span>
                                                </a>
                                            </div>
                                            <div class="media-body media-middle text-center">
                                                <h4></h4>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                                <div class="teaser main_bg_color4 transp with_padding big-padding margin_0">
                                    <div class="xxs-media-left">

                                        <div class="dropdown text-center">
                                            <a class="visible_hover white-color recurso_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span>Recursos metodológicos</span> <i class="icofont-caret-down rotate"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="/recursos-metodologicos/galerias/audios/">Audios</a>
                                                <a class="dropdown-item" href="/recursos-metodologicos/galerias/imagenes/">Imágenes</a>
                                                <a class="dropdown-item" href="/recursos-metodologicos/publicaciones/">Publicaciones</a>
                                                <a class="dropdown-item" href="/recursos-metodologicos/galerias/videos/">Videos</a>
                                                
                                            </div>
                                        </div>

                                        <div class="media-body media-middle text-center">
                                            <h5><a href="#0"> </a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                                <div class="teaser main_bg_color3 transp with_padding big-padding margin_0">
                                    <div class="xxs-media-left">

                                        <div class="dropdown text-center">
                                            <a class="visible_hover white-color iniciativa_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span>Iniciativas destacadas</span> <i class="icofont-caret-down rotate"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="/iniciativas-destacadas/campanias">Campañas</a>
                                                <a class="dropdown-item" href="/iniciativas-destacadas/eventos">Eventos</a>
                                                <a class="dropdown-item" href="/iniciativas-destacadas/concursos">Concursos</a>
                                            </div>
                                        </div>

                                        <div class="media-body media-middle text-center">

                                            <h4>
                                            </h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %} {% endcomment %}
                    


                {% block content %}{% endblock content %}
        
                {% comment %} <footer class="page_footer template_footer ds ms parallax section_padding_top_110 section_padding_bottom_100 columns_padding_25">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-4 col-sm-12 col-md-push-4 text-center">
                                <div class="widget widget_text">
                                    <div class="logo logo_with_text"> <img src="/static/img/logo.png" alt=""></div>
                                    <p>La Plataforma Regional Género y Metodologías es un espacio de comunicación e intercambio cuyo propósito es contribuir a fortalecer los procesos de cambio hacia relaciones de género justas y sostenibles en la región centroamericana. La Plataforma es administrada por Cantera Nicaragua.</p>
                                    <p class="topmargin_25">
                                        <a class="social-icon border-icon rounded-icon socicon-facebook" href="https://www.facebook.com/generoymetodologias/" target="_blank" title="Facebook">
                                            
                                        </a>
                                        <a class="social-icon border-icon rounded-icon socicon-twitter" href="https://twitter.com/PMetodologias" target="_blank" title="Twitter">
                                            
                                        </a>
                                        <a class="social-icon border-icon rounded-icon socicon-youtube" href="https://www.youtube.com/channel/UCdKHGzo0grM2e7rVpAWSR9A?view_as=subscriber" target="_blank" title="Youtube"></a>
                                    </p>                          
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-md-pull-4 text-center">
                                <div class="widget widget_text widget_media_margin">
                                    <h3 class="widget-title">Explorar</h3>
                                    <ul class="list1 no-bullets no-top-border no-bottom-border greylinks">
                                        <li> 
                                            <a class="visible_hover"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span>Actualidad</span> <i class="icofont-caret-down rotate"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a id="bg-drop-footer" class="dropdown-item" href="/actualidad/noticias">Noticias</a>
                                                <a id="bg-drop-footer" class="dropdown-item" href="/actualidad/situacion-regional-genero">Situación regional de género</a>
                                            </div> 
                                        </li>
                                        <li> <a class="visible_hover" href="/puntos-vista/"><span>Puntos de vista</span</a> </li>
                                        <li> <a class="visible_hover" href="/foros/"><span>Foros</span></a> </li>
                                        <li> 
                                            <a class="visible_hover"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span>Recursos metodológicos</span> <i class="icofont-caret-down rotate"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a id="bg-drop-footer" class="dropdown-item" href="/recursos-metodologicos/publicaciones">Publicaciones</a>
                                                <!--<a class="dropdown-item" href="/recursos-metodologicos/guias-metodologicas">Guías metodológicas</a>-->
                                                <a class="dropdown-header">Galeria</a>
                                                <a class="dropdown-item" href="/recursos-metodologicos/galerias/imagenes/">Imágenes</a>
                                                <a class="dropdown-item" href="/recursos-metodologicos/galerias/videos">Videos</a>


                                                <a class="dropdown-item" href="/recursos-metodologicos/galerias/audios/">Audios</a>
                                            </div> 
                                        </li>
                                        <li>
                                            <a class="visible_hover"  id="dropdownMenuButton12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Iniciativas destacadas</span> <i class="icofont-caret-down rotate"></i></a>
                                            <div class="dropdown-menu highlight" aria-labelledby="dropdownMenuButton12">
                                                <a class="dropdown-item highlight" href="/iniciativas-destacadas/campanias">Campañas</a>
                                                <a class="dropdown-item" href="/iniciativas-destacadas/eventos">Eventos</a>
                                                <a class="dropdown-item highlight-font" href="/iniciativas-destacadas/concursos">Concursos</a>
                                            </div>
                                        </li>
                                        <li> <a class="visible_hover" href="/quienes-somos/"><span>¿Quiénes Somos?</span></a> </li>
                                            <li> <a class="visible_hover" href="/alianzas/"><span>Alianzas y Colaboraciones</span></a> </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="widget widget_mailchimp widget_media_margin">
                                    <h3 class="widget-title">Contáctanos</h3>
                                    <!--<div class="media small-teaser">
                                        <div class="media-left"> <i class="icofont-google-map highlight fontsize_24"></i> </div>
                                        <div class="media-body"> Plaza El Sol 2c. sur 1c. arriba. Managua, Nicaragua </div>
                                    </div>
                                    <div class="media small-teaser">
                                        <div class="media-left"> <i class="icofont-phone-circle highlight fontsize_24"></i> </div>
                                        <div class="media-body"> (505) 2278-0103 </div>
                                    </div>-->
                                    <div class="media small-teaser">
                                        <div class="media-left"></div>
                                        <div class="media-body">  </div>
                                    </div>
                                    <div class="media small-teaser greylinks">
                                        <div class="media-left"> <i class="icofont-email highlight fontsize_24"></i> </div>
                                        <div class="media-body"> <a href="mailto: generoymetodologias@gmail.com"> generoymetodologias@gmail.com</a> </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </footer> {% endcomment %}
                <section class="page_copyright ds ms section_padding_top_5 section_padding_bottom_5 table_section table_section_sm">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 text-center text-sm-left">
                                <div class="logo logo_with_text"> <img src="/static/img/logo.png" alt=""></div>
                            </div>
                            <div class="col-sm-6 text-center text-sm-right">
                                <p class="small-text">© Copyright 2021. Todos los derechos reservados</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    {% compress js %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/compressed.js"></script>
    <script src="/static/js/selectize.min.js"></script>
    <script src="/static/js/social.js"></script>
    <script src="/static/js/main.js"></script>

    {% block extra_js %}{% endblock extra_js %}
    {% endcompress %}

    </body>
</html>