{% extends "base.html" %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">Contáctenos</h2>
				<ol class="breadcrumb">
					<li class="white-color"> <a href="/">
						Inicio
					</a> </li>
					<li class="active">Contáctenos</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="ls section_padding_top_110 section_padding_bottom_100">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<section id="map" class="ls ms" data-address="Terracina, LT, Italia">
					<!-- marker description and marker icon goes here -->
					<div class="map_marker_description">
						<h3>Ubicación</h3>
						<p></p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.763238846403!2d-86.26313428565331!3d12.128345436101517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f7155f98d7f7bc1%3A0xec729c495c1df490!2sCANTERA!5e0!3m2!1ses!2sni!4v1560881013933!5m2!1ses!2sni" width="1160" height="500" frameborder="0" style="border:0" allowfullscreen></iframe></div>
					</section>
				</div>
			</div>
			<div class="row topmargin_40">
				<div class="col-sm-4 to_animate" data-animation="pullDown">
					<div class="teaser text-center">
						<div class="teaser_icon highlight size_normal"> <i class="rt-icon2-phone5"></i> </div>
						<p> <span class="grey">Teléfono:</span> +(505) 2278-0103 </p>
					</div>
				</div>
				<div class="col-sm-4 to_animate" data-animation="pullDown">
					<div class="teaser text-center">
						<div class="teaser_icon highlight size_normal"> <i class="rt-icon2-location2"></i> </div>
						<p> Casa N° 8<br> Plaza El Sol 2c. sur 1c. arriba,<br> Managua, Nicaragua </p>
					</div>
				</div>
				<div class="col-sm-4 to_animate" data-animation="pullDown">
					<div class="teaser text-center">
						<div class="teaser_icon highlight size_normal"> <i class="rt-icon2-mail"></i> </div>
						<p>generoymetodologia@gmail.com</p>
					</div>
				</div>
			</div>
			<div class="row topmargin_40">
				<div class="col-sm-12 to_animate">
					<form class="contact-form columns_padding_5" method="post" action="./">
						<div class="row">
							<div class="col-sm-6">
								<p class="form-group"> <label for="name">Nombre completo <span class="required">*</span></label> <i class="fa fa-user highlight" aria-hidden="true"></i> <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Nombre completo">											</p>
								<p class="form-group"> <label for="email">Correo electrónico<span class="required">*</span></label> <i class="fa fa-envelope highlight" aria-hidden="true"></i> <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Correo electrónicos">											</p>
								<p class="form-group"> <label for="subject">Asunto<span class="required">*</span></label> <i class="fa fa-flag highlight" aria-hidden="true"></i> <input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Asunto">											</p>
							</div>
							<div class="col-sm-6">
								<p class="contact-form-message form-group"> <label for="message">Message</label> <i class="fa fa-comment highlight" aria-hidden="true"></i> <textarea aria-required="true" rows="3" cols="45" name="message" id="message" class="form-control" placeholder="Mensaje"></textarea> </p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<p class="contact-form-submit text-center topmargin_30"> <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color1 margin_0"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Enviar</button> </p>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	
	{% endblock content %}