{% extends "base.html" %}
{% load thumbnail %}
<!--{% load embed_video_tags %}-->
{% load disqus_tags %}

{% block extra_head %}
<meta property="al:android:url" content="generoymetodologias:/{{request.path}}">
<meta property="al:android:package" content="com.facebook.samples.sharesample">
<meta property="al:android:app_name" content="ShareSample">

<meta property="og:title" content="{{object.titulo}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="https://generoymetodologias.org/media/{{object.imagen}}">


<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{object.contenido|striptags}}" />
<meta property="og:url" content="https://generoymetodologias.org{{request.path}}" />
<meta property="og:locale" content="es_ES" />

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{object.titulo|truncatechars:70}}">
<meta name="twitter:description" content="{{object.contenido|striptags|truncatechars:200}}">
<meta name="twitter:image" content="https://generoymetodologias.org/media/{{object.imagen}}">

<meta name="twitter:domain" content="https://generoymetodologias.org">
{% endblock extra_head %}

{% block extra_css %}
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% thumbnail foto_galerias_imagenes.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
}
</style>
{% endblock extra_css %}

{% block fb_comments %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v11.0&appId=321664011858070&autoLogAppEvents=1" nonce="ipNfobKc"></script>
{% endblock fb_comments %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">Galería imágenes</h2>
				<ol class="breadcrumb">
					<li class=" white-color"> <a href="/">
						Inicio
					</a> </li>
					<li class=" white-color"> <a href="/recursos-metodologicos/galerias/imagenes/">Galería imágenes</a> </li>
					<li class="active">Detalle</li>
				</ol>
			</div>
		</div>
	</div>
</section>


<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
	<div class="container">
		{% if object.descripcion %}
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h4>Descripción</h4>
					{{object.descripcion|safe}}
					<hr>
				</div>
			</div>
		{% endif %}
		<div class="row">			
			<div class="col-sm-12">
				<div class="isotope_container isotope row masonry-layout columns_margin_bottom_20" data-filters=".isotope_filters">
					
					{% for galeria in object.imagenes_set.all %}

					<div class="isotope-item col-lg-4 col-md-6 col-sm-12 category-1">
						<div class="vertical-item gallery-item content-absolute text-center ds">
							<div class="item-media">
								{% thumbnail galeria.imagen "830x620" crop="center" as im %}
								<img src="{{ im.url }}" alt="">
								{% empty %}
								<img src="http://via.placeholder.com/830x620" alt="">
								{% endthumbnail %}

								<div class="media-links">
									<div class="links-wrap"> 
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="{{galeria.imagen.url}}"></a>
										<a class="download" href="{{galeria.imagen.url}}" download></a> 
									</div>
								</div>
							</div>
							<div class="item-content">
								<h4> <a class="white-color">{{galeria.nombre}}</a> </h4>
							</div>
						</div>
					</div>
					{% endfor %}


				</div>
			</div>

			<section class="ls section_padding_top_25 section_padding_bottom_50 columns_margin_bottom_20">
				<div class="container">
					<!-- {% disqus_show_comments %} -->
					<div class="fb-comments" data-href="https://generoymetodologias.org/" data-width="100%" data-numposts="20"></div>
				</div>	
			</section>
			
		</div>
	</div>
</section>


<section class="ls columns_margin_bottom_20">
	<div class="container">
		<div class="row">
			<h4><i class="fa fa-tags highlight3 rightpadding_5" aria-hidden="true"></i>Galerias Relacionadas</h4>
			<hr>
		</div>
		<div class="row flex-wrap">
			<div class="col-md-4 col-sm-6">
				{% for galeria in related_gal %}
				<article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
					<div class="item-media">
						{% thumbnail galeria.portada "830x620" crop="center" as im %}
						<img src="{{ im.url }}" alt="">
						{% empty %}
						<img src="http://via.placeholder.com/830x620" alt="">
						{% endthumbnail %}
					</div>

					<div class="item-content">
						<header class="entry-header">
							<h3 class="entry-title small"> <a href="{% url 'detalle_galeriaImagenes' galeria.slug %}">{{galeria}}</a> </h3>
						</header>
					</div>
					<div class="entry-meta greylinks inline-content">
						<span>
							<i class="icofont-ui-user-group highlight" aria-hidden="true"></i>
							<a> {{ galeria.usuario.organizacion.siglas}}</a>
						</span>

						<span>
							<i class="fa fa-pencil-square-o highlight" aria-hidden="true"></i> {{obj.author.get_full_name|default:galeria.usuario.username}}
						</span>
					</div>
				</article>
				{% endfor %}
			</div>


		</div>
	</div>
</section>


{% endblock content %}