{% extends "base.html" %}
{% load thumbnail %}
{% block extra_head %}

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{detail_object.nombre|truncatechars:70}}">
<meta name="twitter:description" content="{{detail_object.generalidades|striptags|truncatechars:200}}">
<meta name="twitter:image" content="https://generoymetodologias.org/media/{{detail_object.logo}}">

<meta name="twitter:domain" content="https://generoymetodologias.org">
<!-- Facebook -->
<meta property="al:android:url" content="generoymetodologias:/{{request.path}}">
<meta property="al:android:package" content="com.facebook.samples.sharesample">
<meta property="al:android:app_name" content="ShareSample">

<meta property="og:title" content="{{detail_object.nombre}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="https://generoymetodologias.org/media/{{detail_object.logo}}">


<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{detail_object.generalidades|striptags}}" />
<meta property="og:url" content="https://generoymetodologias.org{{request.path}}" />
<meta property="og:locale" content="es_ES" />

{% endblock extra_head %}
{% block extra_css %}
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% thumbnail foto_alianzas.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
}
</style>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">Alianzas</h2>
				<ol class="breadcrumb">
					<li> <a href="/" class="white-color">
						Inicio
					</a> </li>
					<li> <a href="/alianzas" class="white-color">Alianzas</a> </li>
					<li class="active">Detalle</li>
				</ol>
			</div>
		</div>
	</div>
</section>


<section id ="detail_alianza" class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_30">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<article class="vertical-item content-padding big-padding with_border bottom_color_border text-center">
					<div class="item-media"> 
						{% thumbnail detail_object.logo "350x252" format='PNG' as im %}
						<img src="{{ im.url }}" alt="" width="100%">
						{% empty %}
						<img src="http://via.placeholder.com/400x300" alt="">
						{% endthumbnail %}
					</div>
					<div class="item-content">
						<header class="entry-header">
							<h1 class="entry-title small bottommargin_0 highlight"> {{detail_object.siglas}} </h1>
						</header>
						<ul class="social-org">
							{% for red in detail_object.redes_set.all %}
							<li><a target="_blank" class="{% if red.opcion == 'Sitio web' %}
							fa fa-globe
							{% elif red.opcion == 'Facebook' %}
							socicon-facebook
							{% elif red.opcion == 'Twitter' %}
							socicon-twitter
							{% elif red.opcion == 'Youtube' %}
							socicon-youtube
							{% elif red.opcion == 'Instagram' %}
							socicon-instagram
							{% elif red.opcion == 'Linkedin' %}
							socicon-linkedin
							{% elif red.opcion == 'Flickr' %}
							socicon-flickr
							{% elif red.opcion == 'Pinterest' %}
							socicon-pinterest
							{% elif red.opcion == 'Vimeo' %}
							socicon-vimeo
							{% elif red.opcion == 'Otra' %}
							fa fa-link
							{% endif %}" href="{{red.url}}" title="{{red.opcion}}"></a></li>
							{% endfor %}
						</ul>
					</div>
				</article>
				<br>

				<article id ="contact_alliance" class="vertical-item content-padding big-padding with_border bottom_color_border margin_bottom_30">
					<div class="item-content">
						{% if detail_object.contacto %}
						<p class="entry-title "><a><i class="icofont-contact-add font-alliance"></i></a> {{detail_object.contacto}}</p>
						{% endif %}
						{% if detail_object.pais %}
						<p class="entry-title "><a><i class="icofont-location-pin font-alliance"></i></a> {{detail_object.pais}}</p>
						{% endif %}
						{% if detail_object.fundacion %}
						<p class="entry-title "><a><i class="icofont-ui-calendar font-alliance"></i></a> {{detail_object.fundacion}}</p>
						{% endif %}
						{% if detail_object.correo %}
						<p class="entry-title "><a href="mailto:{{detail_object.correo}}"><i class="icofont-email font-alliance"></i>{{detail_object.correo}}</a> </p>
						{% endif %}

						{% if detail_object.telefono %}
						<p class="entry-title"><a><i class="icofont-phone-circle font-alliance"></i></a> {{detail_object.telefono}}</p>
						{% endif %}

					</div>
				</article>
				
				<!-- Compartir post en pantallas mayores a 700px-->
				<section class='section_padding_top_65 section_padding_bottom_65 hidden-xs with_border bottom_color_border'>
					<div class="container">
						<div  class="post-share  compu row">
							<div class="col-md-12 text-center margin_bottom_20">
								<h5 class='widget-title text-base'>Comparte este contenido tus en las redes sociales</h5 class='widget-title'>
							</div>
							<div class="col-md-12 text-center">
								<a target="blank" href="https://twitter.com/share?url={{request.build_absolute_uri}}" class="social-icon color-bg-icon socicon-twitter customer share">
								</a>
								<a href="https://www.facebook.com/sharer.php?u=https://generoymetodologias.org/{{request.get_full_path}}" target="blank" class="social-icon color-bg-icon socicon-facebook customer share">
								</a>
								<a href=" https://wa.me/?text={{request.build_absolute_uri}}" class="social-icon color-bg-icon socicon-whatsapp" target="_blank"></a>
							</div>
							
						</div>
					</div>
				</section>

				<!-- Compartir post en celulares con las apps-->
				<section class='section_padding_top_65 section_padding_bottom_65 visible-xs with_border bottom_color_border'>
					<div class="container">
						<div  class="post-share movil row">
							<div class="col-md-12 text-center margin_bottom_20">
								<h5 class='widget-title text-base'>Comparte este contenido tus en las redes sociales</h5 class='widget-title'>
							</div>
							<div class="col-md-12 text-center">
								<a target="blank" href="twitter://post?message={{request.build_absolute_uri}}" class="social-icon color-bg-icon socicon-twitter">
								</a> 
								<a href="https://www.facebook.com/sharer.php?u=https://generoymetodologias.org/{{request.get_full_path}}&amp;src=sdkpreparse" target="blank" class="social-icon color-bg-icon socicon-facebook">
								</a>
								<a id="wpMovil" href="whatsapp://send?text={{ request.build_absolute_uri }}" data-action="share/whatsapp/share" class="social-icon color-bg-icon socicon-whatsapp" target="_blank"></a> 
							</div>
							
						</div>
					</div>
				</section>

			</div>
			<div class="col-sm-7">
				<h3>{{detail_object.nombre|safe}}</h3>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs color2 topmargin_40" role="tablist">
					<li class="active"><a href="#tab1" role="tab" data-toggle="tab">Generalidades</a></li>
					<li><a href="#tab2" role="tab" data-toggle="tab">Temas</a></li>

				</ul>
				<!-- Tab panes -->
				<div class="tab-content big-padding top-color-border color2 bottommargin_40">
					<div class="tab-pane fade in active" id="tab1">
						{{detail_object.generalidades|safe}}
					</div>

					<div class="tab-pane fade" id="tab2">
						{{detail_object.temas|safe}}
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}