
{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" />

{% endblock extra_css %}

{% block content %}
titulo: {{object.nombre}}

<h1>Aportes</h1>
{% for aporte in object.aportes_set.all %}
{{aporte.contenido|safe}}--{{aporte.usuario}}<br>

comentarios

<a data-fancybox data-type="iframe" data-src="{% url 'add_comentario' aporte.id %}" href="javascript:;">
	Agregar comentario
</a>


{% for coment in aporte.comentarios_set.all %}
{{coment.comentario|safe}}

{% endfor %}
{% endfor %}

{% if request.user.is_authenticated %}
<h1>Agregar aportes</h1>
<form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
	{{form.media}}
	{{form.errors}}
	{{form}}
	<input type="submit" name="Agregar aporte" value="Agregar aporte">
</form>
{% endif %}
{% endblock content %}

{% block extra_js %}
<script src="/static/js/jquery.fancybox.min.js"></script>
{% endblock extra_js %}