{% extends "base.html" %}
{% load thumbnail %}

{% block extra_css %}
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% thumbnail foto_actualidad.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
}
</style>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">{{object.tittle}}</h2>
				<ol class="breadcrumb">
					<li class=" white-color"> <a href="/">
						Inicio
					</a> </li>
					<li class=" white-color"> <a href="/actualidad/">Actualidad</a> </li>
					<li class="active">{{object.tittle}}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_30">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-push-1">
				<article class="event-single vertical-item content-padding big-padding with_border bottom_color_border color2">
					<div class="item-media entry-thumbnail text-center">
						{% thumbnail object.photo "965x550" crop="center" as im %}
						    <img src="{{ im.url }}" alt="">
						{% empty %}
							<img src="http://via.placeholder.com/965x550" alt="">
						{% endthumbnail %}
					</div>

					<div class="item-content">
						<header class="entry-header">
							<div class="entry-meta greylinks color4 inline-content"> <span>
								<i class="fa fa-calendar highlight4 rightpadding_5" aria-hidden="true"></i>
								<time datetime="2017-10-03T08:50:40+00:00">{{object.created_on|date:"d N, Y"}}</time>
							</span> 
							<span class=""><i class="fa fa-sitemap highlight4 rightpadding_5" aria-hidden="true"></i>{{object.category}}</span>
							<span>
								<i class="fa fa-users highlight4 rightpadding_5"></i>{{object.author.organizacion}}
							</span>

						</div>
							<h1 class="entry-title"> {{object.tittle}} </h1>
						</header>
						<div class="entry-content">
							{{object.content|safe}}
						</div>
					</div>
					<!-- .item-content -->
				</article>
				<div class="post-share"> <a href="#" class="social-icon color-bg-icon socicon-twitter"></a> <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="social-icon color-bg-icon socicon-facebook"></a> <a href=" https://wa.me/?text=http://127.0.0.1:8000/iniciativas-destacadas/eventos/{{object.slug}}" class="social-icon color-bg-icon socicon-whatsapp" target="_blank"></a>
				</div>

			</div>
			<!--eof .col-sm-10 (main content)-->
		</div>
	</div>
</section>
{% endblock content %}