
{% extends "base.html" %}
{% load thumbnail %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" />

{% endblock extra_css %}

{% block content %}

<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color ">{{object.nombre}}</h2>
				<ol class="breadcrumb white-color">
					<li> <a href="/">
						Inicio
					</a> </li>
					<li> <a href="/foros/">Foro</a> </li>
					<li class="active">{{object.nombre}}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="ls section_padding_top_110 section_padding_bottom_100 columns_padding_30">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-md-8 col-lg-8">
				<article class="vertical-item content-padding big-padding with_border single-post post">

					<div class="item-media entry-thumbnail"> 
						{% thumbnail object.foto "760x507" crop="center" as im %}
						    <img src="{{ im.url }}" alt="">
						{% empty %}
							<img src="http://via.placeholder.com/728x640" alt="">
						{% endthumbnail %}
					</div>

					<div class="item-content">
						<header class="entry-header">
							<div class="entry-meta greylinks color4 inline-content"> <span>
								<i class="fa fa-calendar highlight4 rightpadding_5" aria-hidden="true"></i>
								<time datetime="2017-10-03T08:50:40+00:00">Apertura {{object.apertura|date:"d N, Y"}} - Cierre {{object.cierre|date:"d N, Y"}}</time>
							</span> <span>
								<i class="fa fa-comment highlight4 rightpadding_5" aria-hidden="true"></i>
								<a href="">{{object.aportes_set.all.count}} aportes</a>
							</span> <span class="categories-links">
								<i class="icofont-comment highlight4 rightpadding_5" aria-hidden="true"></i>
								<a href="">{{object.usuario.get_full_name|default:object.usuario.username}}</a>
							</span> 
							<span class="text-right">

							</span>

						</div>

						<div class="highlight1 small-text text-right">	
							<!-- <i class="icofont-tack-pin"></i>

								<a href="">Seguir</a> -->

								<div class="theme_button color2 inverse"> <i class="icofont-tack-pin"></i><a href="#" class=""> Seguir</a></div>
							</div>


							<h1 class="entry-title"> {{object.nombre}} </h1>
						</header>
						<div class="entry-content">
							{{object.contenido|safe}}
						</div>
						<!-- .entry-content -->
					</div>
					<!-- .item-content -->
				</article>
				<div class="post-share"> <a href="#" class="social-icon color-bg-icon socicon-twitter"></a> <a href="#" class="social-icon color-bg-icon socicon-facebook"></a>  </div>
				<div class="row page-nav columns_padding_10">
					<div class="col-md-6 col-xs-12">
						<div class="nav-item prev-item with_padding big-padding ds bg_teaser after_cover darkgrey_bg ms"> <img src="images/side-image.jpg" alt="">
							<div>
								<div class="highlight4 small-text"> Foro Anterior </div>
								<h4 class="entry-title">LA COOPERACIÓN INTERNACIONAL Y AYUDA HUMANITARIA</h4>
							</div>
							<!-- eof .item-content -->
							<div class="media-links"> <a href="#" class="abs-link"></a> </div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="nav-item next-item with_padding big-padding ds bg_teaser after_cover darkgrey_bg ms"> 
							<img src="images/side-image.jpg" alt="">
							<div class="item-content">
								<div class="highlight4 small-text"> Siguiente Foro </div>
								<h4 class="entry-title">
									<a href="blog-single-right.html">LOS VOLUNTARIOS DE LAS ENTIDADES NO LUCRATIVAS</a> </h4>
								</div>
								<!-- eof .item-content -->
								<div class="media-links"> <a href="#" class="abs-link"></a> </div>
							</div>
						</div>
					</div>

					<div class="comments-area" id="comments">
						<h3>{{object.aportes_set.all.count}} Aportes en este foro</h3>
						<ol class="comment-list">
							{% for aporte in object.aportes_set.all %}
							<li class="comment even thread-even depth-1 parent">
								<article class="comment">
									<div class="comment-author"> <img class="media-object" alt="" src="images/user2.jpg"> </div>
									<div class="comment-body">
										<div class="comment-meta darklinks"> <a class="author_url" rel="external nofollow" href="#">{{aporte.usuario.get_full_name|default:aporte.usuario.username}} </a> <span class="comment-date">
											<i class="fa fa-calendar highlight4 rightpadding_5" aria-hidden="true"></i>
											<time datetime="2017-10-03T08:50:40+00:00">
												{{aporte.fecha|date:"d N, Y"}}
											</time>
										</span> </div>
										<div class="comment-text">
											{{aporte.contenido|safe}}
										</div> 
										{% if request.user.is_authenticated %}
										<span class="reply">
											<a class="fancybox" data-fancybox data-type="iframe" data-options='{"iframe" : {"css" : {"height" : "600px"}}}' data-src="{% url 'add_comentario' aporte.id %}" href="javascript:;">
												<i class="fa fa-reply" aria-hidden="true"></i>
												<span class="sr-only">Reply</span> 
											</a>
										</span>
										{% endif %}

									</div>
								</article>
								<!-- .comment-body -->
								{% if aporte.comentarios_set.all %}
								<ol class="children">
									{% for comment in aporte.comentarios_set.all %}
									<li class="comment byuser odd alt depth-2 parent">
										<article class="comment">
											<div class="comment-author"> <img class="media-object" alt="" src="images/forumuser2.jpg"> </div>
											<div class="comment-body">
												<div class="comment-meta darklinks"> <a class="author_url" rel="external nofollow" href="#">{{comment.usuario.get_full_name|default:comment.usuario.username}} </a> <span class="comment-date">
													<i class="fa fa-calendar highlight4 rightpadding_5" aria-hidden="true"></i>
													<time datetime="2017-10-03T08:50:40+00:00">
														{{comment.fecha|date:"d N, Y"}}
													</time>
												</span> </div>
												<div class="comment-text">
													{{comment.comentario|safe}}
												</div>
												<a class="fancybox" data-fancybox data-type="iframe" data-src="{% url 'editar_comentario' comment.id %}" data-options='{"iframe" : {"css" : {"height" : "600px"}}}' href="javascript:;">
													Modificar
												</a> 
											</div>
										</article>
										<!-- .comment-body -->

										<!-- .children -->
									</li>
									{% endfor %}
									<!-- #comment-## -->
								</ol>
								{% endif %}

								<!-- .children -->
							</li>
							{% endfor %}
						</ol>
						<!-- .comment-list -->
					</div>
					<!-- #comments -->

					{% if request.user.is_authenticated %}
					<div class="comment-respond text-center" id="respond">
						<h3>Agrega un aporte</h3>
						<form class="comment-form" id="commentform" action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
							{{form.media}}
							{{form.errors}}
							<div class="row columns_padding_10">
								<div class="col-xs-12">
									{{form}}
								</div>
							</div>
							<div class="form-submit topmargin_30"> <button type="submit" id="submit" name="submit" class="theme_button color3 min_width_button margin_0">Enviar </button> </div>
						</form>

					</div>
					{% endif %}
					<!-- #respond -->

				</div>
				<!--eof .col-sm-8 (main content)-->
				<!-- sidebar -->
				<aside class="col-sm-5 col-md-4 col-lg-4">
					<div class="widget widget_search">
						<form method="get" class="searchform" action="./">
							<div class="form-group margin_0"> <label class="sr-only" for="widget-search">Search for:</label> <input id="widget-search" type="text" value="" name="search" class="form-control" placeholder="Buscar..."> </div> <button type="submit" class="theme_button color1">Search</button>									</form>
						</div>
						<!-- tags -->
						<div class="widget">
							<h4 class="widget-title">Tags</h4>
							<div class="tagcloud">
								<a href="">Igualdad</a>
								<a href="">Género</a>
								<a href="">Metodología</a>
								<a href="">Nicaragua</a>
							</div>
						</div>
						<div class="widget widget_archive">

						</div>

						<div class="widget widget_recent_posts">
							<h4 class="widget-title">Foros Destacados</h4>
							<div class=" loop-colors" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
								<div class="vertical-item content-padding with_border">

									<div class="item-content">
										<h5 class="bottommargin_0"> <a href="blog-single-right.html"> LOS VOLUNTARIOS DE LAS ENTIDADES NO LUCRATIVAS</a> </h5> <span class="entry-meta greylinks">
											<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
											<a href="blog-single-full.html">
												<time datetime="2017-10-03T08:50:40+00:00">
												17 enero, 2019</time>
											</a>
										</span> 
									</div>
								</div>
								<div class="vertical-item content-padding with_border">

									<div class="item-content">
										<h5 class="bottommargin_0"> <a href="blog-single-right.html">LA COOPERACIÓN INTERNACIONAL Y AYUDA HUMANITARIA</a> </h5> <span class="entry-meta greylinks">
											<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
											<a href="blog-single-full.html">
												<time datetime="2017-10-03T08:50:40+00:00">
												17 enero, 2019</time>
											</a>
										</span> 
									</div>
								</div>
								<div class="vertical-item content-padding with_border">

									<div class="item-content">
										<h5 class="bottommargin_0"> <a href="blog-single-right.html">FORO DE ESTOCOLMO SOBRE LA IGUALDAD DE GÉNERO.</a> </h5> <span class="entry-meta greylinks">
											<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
											<a href="blog-single-full.html">
												<time datetime="2017-10-03T08:50:40+00:00">
												17 enero, 2019</time>
											</a>
										</span> </div>
									</div>
								</div>
							</div>

							<div class="widget widget_recent_posts">
								<h4 class="widget-title">Foros Seguidos</h4>
								<div class=" loop-colors" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
									<div class="vertical-item content-padding with_border">


										<div class="vertical-item content-padding with_border">

											<div class="item-content">
												<h5 class="bottommargin_0"> <a href="blog-single-right.html">FORO DE ESTOCOLMO SOBRE LA IGUALDAD DE GÉNERO.</a> </h5> <span class="entry-meta greylinks">
													<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
													<a href="blog-single-full.html">
														<time datetime="2017-10-03T08:50:40+00:00">
														17 enero, 2019</time>
													</a>
												</span> </div>
											</div>
										</div>
									</div>

								</aside>
								<!-- eof aside sidebar -->
							</div>
						</div>
					</section>

					{% endblock content %}

					{% block extra_js %}
					<script src="/static/js/jquery.fancybox.min.js"></script>

					<script>
					$('.fancybox').fancybox({ 
						afterShow: function(){     
							$('.fancybox-iframe').contents().find('input').click(function(){
								window.parent.location.reload();
								window.parent.$.fancybox.close();
							}); 
						}
					});
					</script>
					{% endblock extra_js %}