{% extends "base.html" %}
{% load thumbnail %}
{% load disqus_tags %}

{% block extra_head %}
<meta property="al:android:url" content="generoymetodologias:/{{request.path}}">
<meta property="al:android:package" content="com.facebook.samples.sharesample">
<meta property="al:android:app_name" content="ShareSample">

<meta property="og:title" content="{{object.tittle}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="https://generoymetodologias.org/media/{{object.photo}}">


<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{object.content|striptags}}" />
<meta property="og:url" content="https://generoymetodologias.org{{request.path}}" />
<meta property="og:locale" content="es_ES" />

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{object.tittle|truncatechars:70}}">
<meta name="twitter:description" content="{{object.content|striptags|truncatechars:200}}">
<meta name="twitter:image" content="https://generoymetodologias.org/media/{{object.photo}}">

<meta name="twitter:domain" content="https://generoymetodologias.org">
{% endblock extra_head %}

{% block extra_css %}
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% thumbnail foto_campanias.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
}
</style>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">{{object.tittle}}</h2>
				<ol class="breadcrumb">
					<li class=" white-color"> <a href="/">
						Inicio
					</a> </li>
					<li class=" white-color"> <a href="{% url 'indexCampanias' %}">Campañas</a> </li>
					<li class="active">{{object.get_category_display}}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_30">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-md-8 col-lg-8">
				<article class="event-single vertical-item content-padding big-padding with_border bottom_color_border color2">
					<div class="item-media entry-thumbnail text-center">
						{% thumbnail object.photo "830x620" crop="center" as im %}
						<img src="{{ im.url }}" alt="">
						{% empty %}
						<img src="http://via.placeholder.com/830x620" alt="">
						{% endthumbnail %}
					</div>

					<div class="item-content">
						
						<header class="entry-header">
							<div class="entry-meta greylinks color4 inline-content"> 
								<span>
									<i class="fa fa-calendar highlight4 rightpadding_5" aria-hidden="true"></i>
									<time datetime="2017-10-03T08:50:40+00:00">{{object.created_on|date:"d N, Y"}}</time>
								</span>

								<span>
									<i class="fa fa-users highlight4" aria-hidden="true"></i>
									{{object.author.organizacion.siglas}}
								</span>
								<span>
									<i class="fa fa-pencil-square-o highlight4" aria-hidden="true"></i>
									{{object.author}}
								</span> 
							</div>
							<h1 class="entry-title"> {{object.tittle}} </h1>
						</header>
						<div class="entry-content">
							{{object.content|safe}}
						</div>
					</div>
					<!-- .item-content -->
				</article>
				<!-- Compartir post en pantallas mayores a 700px-->
				<div  class="post-share hidden-xs compu"> 
						<a target="blank" href="https://twitter.com/share?url={{request.build_absolute_uri}}" class="social-icon color-bg-icon socicon-twitter customer share">
						</a>
						<!--<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false"></a>-->
		
						<a href="https://www.facebook.com/sharer.php?u=https://generoymetodologias.org/{{request.get_full_path}}" target="blank" class="social-icon color-bg-icon socicon-facebook customer share">
						</a>
		
						<a href=" https://wa.me/?text={{request.build_absolute_uri}}" class="social-icon color-bg-icon socicon-whatsapp" target="_blank"></a>
					</div>
		
					<!-- Compartir post en celulares con las apps-->
					<div class="post-share visible-xs movil"> 
						<a target="blank" href="twitter://post?message={{request.build_absolute_uri}}" class="social-icon color-bg-icon socicon-twitter">
						</a>
						<a href="https://www.facebook.com/sharer.php?u=https://generoymetodologias.org/{{request.get_full_path}}" target="blank" class="social-icon color-bg-icon socicon-facebook">
						</a>
						<a id="wpMovil" href="whatsapp://send?text={{ request.build_absolute_uri }}" data-action="share/whatsapp/share" class="social-icon color-bg-icon socicon-whatsapp" target="_blank"></a> 
					</div>


				<!-- #respond -->
				<div class="topmargin_30">
					{% disqus_show_comments %}
				</div>
			</div>
			<!--eof .col-sm-10 (main content)-->

			<aside class="col-sm-5 col-md-4 col-lg-4">
				<div class="widget widget_search">
					<form class="" action='.' method='GET'>
						<div class="form-group margin_0"> 
							<label class="sr-only" for="widget-search">Buscar:</label> 
							<input id="widget-search" type="text" {% if q %}value="{{q}}"{% endif %} name="buscador" class="form-control" placeholder="Buscar..."> 
						</div> 
						<button type="submit" class="theme_button color1">Search</button>	
					</form>
				</div>
				<div class="widget">
					<h4 class="widget-title">Categorías</h4>
					<div class="">
						<ul>
							<li><a href="/iniciativas-destacadas/campanias/">Campañas</a></li>
							<li><a href="/iniciativas-destacadas/eventos/">Eventos</a></li>									
							<li><a href="/iniciativas-destacadas/concursos/">Concursos</a></li>								
						</ul>
					</div>
				</div>
				<div class="widget">
					<h4 class="widget-title">Tags</h4>
					<div class="tagcloud">
						{% for tag in tags %}
						<a href="{% url 'filtro-tag-camp' tag.slug %}">{{tag}}</a>
						{% endfor %}
					</div>
				</div>

				<!-- paises -->
				<div class="widget">
					<h4 class="widget-title">Paises</h4>
					<div class="">
						<ul>
							{% for pais in list_paises %}
								<li>
									<a href="{% url 'filtro_pais_camp' pais.1 %}">{{pais.0}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				
				<div class="widget widget_slider widget_recent_posts">
					<h4 class="widget-title"> Próximos Eventos </h4>
					<div class="owl-carousel loop-colors" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
						{% for obj in prox_eventos %}
						<div class="vertical-item content-padding with_border">
							<div class="item-media"> 
								{% thumbnail obj.foto "830x620" crop="center" as im %}
								<img src="{{ im.url }}" alt="">
								{% empty %}
								<img src="http://via.placeholder.com/830x620" alt="">
								{% endthumbnail %}
								<div class="media-links"> <a class="abs-link" title="" href="{% url 'detailEventos' obj.slug %}"></a> </div>
							</div>
							<div class="item-content">
								<h5 class="bottommargin_0"> <a href="{% url 'detailEventos' obj.slug %}">{{obj.tittle}}</a> </h5> <span class="entry-meta greylinks">
									<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
									<a href="{% url 'detailEventos' obj.slug %}">
										<time datetime="2017-10-03T08:50:40+00:00">
										{{obj.inicio|date:"d N, Y"}}</time>
									</a>


								</span> 
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</aside>
		</div>
	</div>
</section>
{% endblock content %}

{% block extra_js %}


{% endblock extra_js %}