{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" />
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% thumbnail foto_publicaciones.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
}
</style>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">{% if '/recursos-metodologicos/publicaciones/' in request.path %}
					Publicaciones
					{% else %} Guías metodológicas
				{% endif %}</h2>
				<ol class="breadcrumb white-color">
					<li> <a href="/" class="white-color">
						Inicio
					</a> </li>
					<li> <a class="white-color">Recursos Metodológicos</a> </li>
					<li class="white-color">
						{% if '/recursos-metodologicos/publicaciones/' in request.path  %}
						<a href="/recursos-metodologicos/publicaciones">Publicaciones</a>
						
						{% else %}
						<a href="/recursos-metodologicos/guias-metodologicas">Guías metodológicas</a>
						{% endif %}
					</li>
					<li class="active">Detalles</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<blockquote class="text-center">
	<div class="item-meta">
		<h5 class="highlight">{{object.titulo}}</h5> 
	</div>
</blockquote>


<section class="ls section_padding_bottom_100 columns_padding_30">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<article class="vertical-item content-padding big-padding with_border bottom_color_border text-center">
					<div class="item-media">
						{% thumbnail object.imagen "365x370" crop="center" as im %}
						<img src="{{ im.url }}" alt="">
						{% empty %}
						<img src="http://via.placeholder.com/365x370" alt="">
						{% endthumbnail %}
					</div>
					<div class="item-content">
						<header class="entry-header">
							<h1 class="entry-title small "> {{object.tematica}} </h1>
							<span class="small-text highlight"><i class="fa fa-users highlight rightpadding_5"></i>{{object.usuario.organizacion.siglas}} <i class="leftpadding_10 fa fa-pencil-square-o highlight rightpadding_5"></i> {{object.usuario}}
							</span>

						</header>
					</div>
				</article>
			</div>
			<div class="col-sm-7">
				<p>{{object.resumen|safe}}</p>
				<hr>

				<!-- Nav vertical tabs -->
				<div class="row vertical-tabs color2">
					<div class="col-sm-4">
						<!-- Nav tabs -->
						<ul class="nav" role="tablist">
							{% if object.archivospublicacion_set.all %}
								<li class="active"> <a href="#vertical-tab1" role="tab" data-toggle="tab">
								<i class="rt-icon2-files"></i> Archivos
							</a> </li>
							{% endif %}
							
							
							{% if object.audiospublicacion_set.all %}
								<li> <a href="#vertical-tab2" role="tab" data-toggle="tab">
								<i class="rt-icon2-file-sound-o"></i> Audio
							</a> </li>
							{% endif %}
							{% if object.videospublicacion_set.all %}
								<li> <a href="#vertical-tab3" role="tab" data-toggle="tab">
								<i class="rt-icon2-file-video"></i> Video
							</a> </li>
							{% endif %}
							
						</ul>
					</div>
					<div class="col-sm-8">
						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane fade in active" id="vertical-tab1">
								<ul style="list-style-type:none;">
									{% for pdf in object.archivospublicacion_set.all %}
									<li>
										<a href="/media/{{pdf.archivo_pdf}}" class="base-color" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{pdf.nombre}}</a>
									</li>
									{% endfor %}
								</ul>
							</div>
							<div class="tab-pane fade" id="vertical-tab2">
								<ul style="list-style-type:none;">
									{% for audio in object.audiospublicacion_set.all %}        					
									<li><a href="/media/{{audio.archivo_audio}}" target="_blank"><i class="fa fa-file-audio-o" aria-hidden="true"></i> {{audio.nombre}}</a></li>
									{% endfor %}
								</ul>
							</div>
							<div class="tab-pane fade" id="vertical-tab3">
								<ul style="list-style-type:none;">
									{% for video in object.videospublicacion_set.all %}
									<li>
										<a data-fancybox href="{{video.url}}&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
											<i class="fa fa-youtube-play" aria-hidden="true"></i> {{video}}
										</a>
									</li>
									{% endfor %}
								</ul>
								<!--<div>
									{% for video in object.videospublicacion_set.all %}
									<div class="col-md-6">
										{% video video.url '100% x 240px' %}
									</div>
									{% endfor %}
								</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}

{% block extra_js %}
<script src="/static/js/jquery.fancybox.min.js"></script>

<script>
$('.fancybox').fancybox({ 
	afterShow: function(){     
		$('.fancybox-iframe').contents().find('input').click(function(){
			window.parent.location.reload();
			window.parent.$.fancybox.close();
		}); 
	}
});
</script>
{% endblock extra_js %}
