{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load disqus_tags %}

{% block extra_head %}
<meta property="al:android:url" content="generoymetodologias:/{{request.path}}">
<meta property="al:android:package" content="com.facebook.samples.sharesample">
<meta property="al:android:app_name" content="ShareSample">

<meta property="og:title" content="{{object.titulo}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="https://generoymetodologias.org/media/{{object.imagen}}">


<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{object.resumen|striptags}}" />
<meta property="og:url" content="https://generoymetodologias.org{{request.path}}" />
<meta property="og:locale" content="es_ES" />

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{object.titulo|truncatechars:70}}">
<meta name="twitter:description" content="{{object.resumen|striptags|truncatechars:200}}">
<meta name="twitter:image" content="https://generoymetodologias.org/media/{{object.imagen}}">

<meta name="twitter:domain" content="https://generoymetodologias.org">
{% endblock extra_head %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" />
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% thumbnail foto_publicaciones.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
}
</style>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">{% if '/recursos-metodologicos/publicaciones/' in request.path %}
					Publicaciones
					{% else %} Guías metodológicas
				{% endif %}</h2>
				<ol class="breadcrumb white-color">
					<li> <a href="/" class="white-color">
						Inicio
					</a> </li>
					<li> <a class="white-color">Recursos Metodológicos</a> </li>
					<li class="white-color">
						{% if '/recursos-metodologicos/publicaciones/' in request.path  %}
						<a href="/recursos-metodologicos/publicaciones">Publicaciones</a>
						
						{% else %}
						<a href="/recursos-metodologicos/guias-metodologicas">Guías metodológicas</a>
						{% endif %}
					</li>
					<li class="active">Detalle</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<blockquote class="text-center">
	<div class="item-meta">
		<h5 class="highlight">{{object.titulo}}</h5> 
	</div>
</blockquote>


<section class="ls section_padding_bottom_100 columns_padding_30">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<article class="vertical-item content-padding big-padding with_border bottom_color_border text-center">
					<div class="item-media">
						{% thumbnail object.imagen "612x792" crop="center" as im %}
						<img src="{{ im.url }}" alt="">
						{% empty %}
						<img src="http://via.placeholder.com/612x792" alt="">
						{% endthumbnail %}
					</div>
					<div class="item-content">
						<header class="entry-header">
							<h1 class="entry-title small "> {{object.tematica}} </h1>
							<span class="small-text highlight"><i class="fa fa-users highlight rightpadding_5"></i>{{object.usuario.organizacion.siglas}} <i class="leftpadding_10 fa fa-pencil-square-o highlight rightpadding_5"></i> {{object.usuario}}
							</span>

						</header>
					</div>
				</article>

			</div>
			<div class="col-sm-7">
				<h4>Descripción</h4>
				<hr>
				<p>{{object.resumen|safe}}</p>
				<h4>Lista de Archivos</h4>
				<hr>
				<ul style="list-style-type:none;">
					{% for pdf in object.archivospublicacion_set.all %}
					<li>
						<a href="/media/{{pdf.archivo_pdf}}" class="base-color" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{pdf.nombre}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div  class="post-share hidden-xs compu"> 
				<a target="blank" href="https://twitter.com/share?url={{request.build_absolute_uri}}" class="social-icon color-bg-icon socicon-twitter">
				</a>
				<!--<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false"></a>-->

				<a href="https://www.facebook.com/sharer.php?u=https://generoymetodologias.org/{{request.get_full_path}}&amp;src=sdkpreparse" target="blank" class="social-icon color-bg-icon socicon-facebook">
				</a>

				<a href=" https://wa.me/?text={{request.build_absolute_uri}}" class="social-icon color-bg-icon socicon-whatsapp" target="_blank"></a>
			</div>

			<!-- Compartir post en celulares con las apps-->
			<div class="post-share visible-xs movil"> 
				<a target="blank" href="twitter://post?message={{request.build_absolute_uri}}" class="social-icon color-bg-icon socicon-twitter">
				</a> 
				<a href="https://www.facebook.com/sharer.php?u=https://generoymetodologias.org/{{request.get_full_path}}&amp;src=sdkpreparse" target="blank" class="social-icon color-bg-icon socicon-facebook">
				</a>
				<a id="wpMovil" href="whatsapp://send?text={{ request.build_absolute_uri }}" data-action="share/whatsapp/share" class="social-icon color-bg-icon socicon-whatsapp" target="_blank"></a> 
		</div>
		<div class="topmargin_30">
			{% disqus_show_comments %}
		</div>
	</div>
</section>

{% endblock content %}

{% block extra_js %}

<script src="/static/js/jquery.fancybox.min.js"></script>

<script>
$('.fancybox').fancybox({ 
	afterShow: function(){     
		$('.fancybox-iframe').contents().find('input').click(function(){
			window.parent.location.reload();
			window.parent.$.fancybox.close();
		}); 
	}
});
</script>
{% endblock extra_js %}
