{% extends "base.html" %}
{% load thumbnail %}

{% block content %}

<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">{{detail_object.nombre}}</h2>
				<ol class="breadcrumb greylinks">
					<li> <a href="./">
						Inicio
					</a> </li>
					<li> <a href="/alianzas">Alianzas</a> </li>
					<li class="active">{{detail_object.siglas}}</li>
				</ol>
			</div>
		</div>
	</div>
</section>


<section id ="detail_alianza" class="ls section_padding_top_100 section_padding_bottom_80 columns_padding_30">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<article class="vertical-item content-padding big-padding with_border bottom_color_border text-center">
					<div class="item-media"> 
						{% thumbnail detail_object.logo "350x252" format='PNG' as im %}
						<img src="{{ im.url }}" alt="" width="100%">
						{% empty %}
						<img src="http://via.placeholder.com/400x300" alt="">
						{% endthumbnail %}
					</div>
					<div class="item-content">
						<header class="entry-header">
							<h1 class="entry-title small bottommargin_0 highlight"> {{detail_object.siglas}} </h1>
						</header>
						<p class="member-social greylinks"> 
							{% for red in detail_object.redes_set.all|slice:":3" %}
							<a class="social-icon {% if red.opcion == 'Sitio web' %}
							socicon-globe
							{% elif red.opcion == 'Facebook' %}
							socicon-facebook
							{% elif red.opcion == 'Twitter' %}
							socicon-twitter
							{% elif red.opcion == 'Youtube' %}
							socicon-youtube
							{% elif red.opcion == 'Instagram' %}
							socicon-instagram
							{% elif red.opcion == 'Linkedin' %}
							socicon-linkedin
							{% elif red.opcion == 'Flickr' %}
							socicon-flickr
							{% elif red.opcion == 'Pinterest' %}
							socicon-pinterest
							{% elif red.opcion == 'Vimeo' %}
							socicon-vimeo
							{% elif red.opcion == 'Otra' %}
							socicon-link
							{% endif %}" href="{{red.url}}" title="{{red.opcion}}"></a>
							{% endfor %}
						</p>
					</div>
				</article>
				<br>

				<article id ="contact_alliance" class="vertical-item content-padding big-padding with_border bottom_color_border">
					<div class="item-content">
						<p class="entry-title "><a><i class="icofont-contact-add font-alliance"></i></a> {{detail_object.contacto}}</p>
						<p class="entry-title "><a><i class="icofont-location-pin font-alliance"></i></a> {{detail_object.pais}}</p>
						<p class="entry-title "><a><i class="icofont-ui-calendar font-alliance"></i></a> {{detail_object.fundacion}}</p>
						<p class="entry-title "><a href="mailto:{{detail_object.correo}}"><i class="icofont-email font-alliance"></i>{{detail_object.correo}}</a> </p>
						<p class="entry-title"><a><i class="icofont-phone-circle font-alliance"></i></a> {{detail_object.telefono}}</p>
					</div>
				</article>
			</div>
			<div class="col-sm-7">
				<h3>{{detail_object.nombre|safe}}</h3>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs color2 topmargin_40" role="tablist">
					<li class="active"><a href="#tab1" role="tab" data-toggle="tab">Generalidades</a></li>
					<li><a href="#tab2" role="tab" data-toggle="tab">Temas</a></li>

				</ul>
				<!-- Tab panes -->
				<div class="tab-content big-padding top-color-border color2 bottommargin_40">
					<div class="tab-pane fade in active" id="tab1">
						{{detail_object.generalidades|safe}}
					</div>

					<div class="tab-pane fade" id="tab2">
						{{detail_object.temas|safe}}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock content %}