{% extends "base.html" %}

{% block content %}

<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">{{detail_object.nombre}}</h2>
				<ol class="breadcrumb greylinks">
					<li> <a href="./">
						Inicio
					</a> </li>
					<li> <a href="/alianzas">Alianzas</a> </li>
					<li class="active">{{detail_object.nombre}}</li>
				</ol>
			</div>
		</div>
	</div>
</section>


<section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_30">
				<div class="container">
					<div class="row">
						<div class="col-sm-5">
							<article class="vertical-item content-padding big-padding with_border bottom_color_border text-center">
								<div class="item-media"> <img src="images/team/01.jpg" alt=""> </div>
								<div class="item-content">
									<header class="entry-header">
										<h1 class="entry-title small bottommargin_0"> Adeline Barnett </h1> <span class="small-text highlight">leader</span> </header>
									<p class="member-social greylinks"> <a class="social-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon socicon-google" href="#" title="Google"></a> </p>
								</div>
							</article>
						</div>
						<div class="col-sm-7">
							<p>{{detail_object.generalidades|safe}}</p>
							<!-- Nav tabs -->
							<ul class="nav nav-tabs color2 topmargin_40" role="tablist">
								<li class="active"><a href="#tab1" role="tab" data-toggle="tab">Biography</a></li>
								<li><a href="#tab2" role="tab" data-toggle="tab">Skills</a></li>
								
							</ul>
							<!-- Tab panes -->
							<div class="tab-content big-padding top-color-border color2 bottommargin_40">
								<div class="tab-pane fade in active" id="tab1">
									<h4>Biography:</h4>
								
								</p>
								</div>
								<div class="tab-pane fade" id="tab2">
									<p class="progress-bar-title"> Skill Name </p>
									<div class="progress">
										<div class="progress-bar" role="progressbar" data-transitiongoal="90"> <span>90%</span> </div>
									</div>
									
								</div>
							</div>
							
							<blockquote
							    class="with_padding big-padding with_border">
								<p>«Prosciutto pork belly pork loin sirloin picanha. Turkey hamburger chuck, ham pork belly tri-tip pork chop pork loin buffalo. Capicola fatback chuck buffalo tail.» </p>
								<div class="item-meta">
									<h5>Alma Chandler</h5> <span class="small-text highlight2">Client</span> </div>
								</blockquote>
						</div>
					</div>
				</div>
			</section>


<p>{{detail_object.nombre }}</p>

{{detail_object.generalidades|safe}}
{% endblock content %}