{% extends "base.html" %}
{% load thumbnail %}

{% block extra_css %}
<link rel = "stylesheet" href = "/static/css/leaflet.css"/>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">{{object.tittle}}</h2>
				<ol class="breadcrumb white-color">
					<li> <a href="/">
						Inicio
					</a> </li>
					<li> <a href="/eventos/">Evento</a> </li>
					<li class="active">{{object.tittle}}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_30">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-md-8 col-lg-8">
				<article class="event-single vertical-item content-padding big-padding with_border bottom_color_border color2">
					<div class="item-media entry-thumbnail"> 
						{% thumbnail object.foto "728x640" crop="center" as im %}
						    <img src="{{ im.url }}" alt="">
						{% empty %}
							<img src="http://via.placeholder.com/728x640" alt="">
						{% endthumbnail %}
					</div>
					<div class="item-content">
						<header class="entry-header">
							<div class="entry-meta greylinks color4 inline-content">

							<span>
								<i class="fa fa-genderless highlight4 rightpadding_5"></i>{{object.usuario.organizacion}}
							</span>
							</div>
							<h1 class="entry-title"> {{object.tittle}} </h1>
						</header>
						<div class="entry-content">
							{{object.contenido|safe}}

						</div>
					</div>
					<!-- .item-content -->
				</article>
				<div class="post-share"> <a href="#" class="social-icon color-bg-icon socicon-twitter"></a> <a href="#" class="social-icon color-bg-icon socicon-facebook"></a> </div>
			</div>
			<!--eof .col-sm-8 (main content)-->
			<!-- sidebar -->
			<aside class="col-sm-5 col-md-4 col-lg-4">
				<div class="widget widget_search">
					<form method="get" class="searchform" action="./">
						<div class="form-group margin_0"> <label class="sr-only" for="widget-search">Search for:</label> <input id="widget-search" type="text" value="" name="search" class="form-control" placeholder="Buscar..."> </div> <button type="submit" class="theme_button color1">Search</button>									</form>
				</div>

				<div class="widget widget_recent_posts">
					<h4 class="widget-title">Próximos Eventos</h4>
					<div class=" loop-colors" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
						<div class="vertical-item content-padding with_border">
							<div class="item-media"> <img src="images/circulo_mujeres.jpg" alt="">
								<div class="media-links"> <a class="abs-link" title="" href="blog-single-left.html"></a> </div>
							</div>

							<div class="item-content">
								<h5 class="bottommargin_0"> <a href="blog-single-right.html">Cantera participará en mesa técnica de género </a> </h5> <span class="entry-meta greylinks">
									<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
									<a href="blog-single-full.html">
										<time datetime="2017-10-03T08:50:40+00:00">
										17 enero, 2019</time>
									</a>
								</span> </div>
						</div>
							<div class="vertical-item content-padding with_border">
								<div class="item-media"> <img src="http://www.programas-gtz.org.ni/thumb/evento/600x600/1234657882_Grupos%20de%20trabajo.JPG" alt="">
									<div class="media-links"> <a class="abs-link" title="" href="blog-single-left.html"></a> </div>
								</div>
								<div class="item-content">
									<h5 class="bottommargin_0"> <a href="blog-single-right.html">Elaboración Estrategia De Género Para CANTERA</a> </h5> <span class="entry-meta greylinks">
										<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
										<a href="blog-single-full.html">
											<time datetime="2017-10-03T08:50:40+00:00">
											18 enero, 2019</time>
										</a>
									</span> 
								</div>
							</div>
							<div class="vertical-item content-padding with_border">
								<div class="item-media"> <img src="https://lavozdetarija.com/wp-content/uploads/2019/05/MG_0020-e1556894630498.jpg" alt="">
									<div class="media-links"> <a class="abs-link" title="" href="blog-single-left.html"></a> </div>
								</div>
								<div class="item-content">
									<h5 class="bottommargin_0"> <a href="blog-single-right.html">1º Congreso Internacional de equidad de género</a> </h5> <span class="entry-meta greylinks">
										<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
										<a href="blog-single-full.html">
											<time datetime="2017-10-03T08:50:40+00:00">
											19 enero, 2019</time>
										</a>
									</span> </div>
							</div>
						</div>
					</div>



				</aside>
						<!-- eof aside sidebar -->
			</div>
		</div>
</section>
{% endblock content %}

{% block extra_js %}
<script src="/static/js/leaflet.js"></script>
<script>
	var map = L.map('map').setView([{{object.position}}], 17);
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
        }).addTo(map);
    var blueIcon = new L.Icon({
	  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
	  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
	  iconSize: [25, 41],
	  iconAnchor: [12, 41],
	  popupAnchor: [1, -34],
	  shadowSize: [41, 41]
	});
   	marker = L.marker([{{object.position}}], {icon: blueIcon}).addTo(map);
</script>
{% endblock extra_js %}