
{% extends "base.html" %}

{% block bannertitle%}
<h2>Eventos</h2>
{%endblock bannertitle%}

{% block content %}

<!-- Start Blog Area -->
<section class="blog-area blog-section ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="single-blog-post">
							<a href="#" class="post-image"><img src="/static/img/Turismonic.jpg" alt="blog-image"></a>

							<div class="blog-post-content">
								<ul>
									<li><i class="icofont-user-male"></i> <a href="#">Admin</a></li>
									<li><i class="icofont-wall-clock"></i> Abril 23, 2019</li>
								</ul>
								<h3><a href="#">Turismo Nicaraguense con rostro de mujer</a></h3>
								<p>Un estudio realizado por la Organización Mundial de Turismo y ONU Mujeres refleja que en el mundo hay..</p>
								<a href="#" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
						<div class="single-blog-post">
							<a href="#" class="post-image"><img src="/static/img/espania_en_nicaragua.png" alt="blog-image"></a>

							<div class="blog-post-content">
								<ul>
									<li><i class="icofont-user-male"></i> <a href="#">Admin</a></li>
									<li><i class="icofont-wall-clock"></i> Abril 16, 2019</li>
								</ul>
								<h3><a href="#">Centro Cultural de España en Nicaragua”</a></h3>
								<p>La Embajada de España/Centro Cultural de España en Nicaragua (CCEN), en conmemoración al Día Internac..</p>
								<a href="#" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
						<div class="single-blog-post">
							<a href="#" class="post-image"><img src="/static/img/que necesitan ellas.jpg" alt="blog-image"></a>

							<div class="blog-post-content">
								<ul>
									<li><i class="icofont-user-male"></i> <a href="#">Admin</a></li>
									<li><i class="icofont-wall-clock"></i> Abril 14, 2019</li>
								</ul>
								<h3><a href="#">
									La región necesita que mas mujeres trabajen, pero..
								</a></h3>
								<p>Una forma de definirlo es pensar cómo puedes integrar el análisis de género en el análisis financiero..</p>
								<a href="#" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
						<div class="single-blog-post">
							<a href="#" class="post-image"><img src="/static/img/onu_cambios.jpg" alt="blog-image"></a>

							<div class="blog-post-content">
								<ul>
									<li><i class="icofont-user-male"></i> <a href="#">Admin</a></li>
									<li><i class="icofont-wall-clock"></i> Abril 06, 2019</li>
								</ul>
								<h3><a href="#">La ONU pide cambios para impulsar la igualdad..</a></h3>
								<p>La ONU exigió este viernes cambios "rápidos y radicales" para impulsar la igualdad de género y dar ..</p>
								<a href="#" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
							</div>
						</div>
					</div>

							<!-- <div class="col-lg-6 col-md-6">
								<div class="single-blog-post">
									<a href="#" class="post-image"><img src="/static/img/portada-productividad.jpg" alt="blog-image"></a>

									<div class="blog-post-content">
										<ul>
											<li><i class="icofont-user-male"></i> <a href="#">Admin</a></li>
											<li><i class="icofont-wall-clock"></i> Abril 04, 2019</li>
										</ul>
										<h3><a href="#">En países como Nicaragua la igualdad de género..</a></h3>
										<p>Empresas pueden fomentar políticas que favorezcan la repartición de las responsabilidades en el hogar..</p>
										<a href="#" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="single-blog-post">
									<a href="#" class="post-image"><img src="/static/img/dialogo_mujer.png" alt="blog-image"></a>

									<div class="blog-post-content">
										<ul>
											<li><i class="icofont-user-male"></i> <a href="#">Admin</a></li>
											<li><i class="icofont-wall-clock"></i> Abril 26, 2019</li>
										</ul>
										<h3><a href="#">Polémica por ausencia de mujeres en primer enc..</a></h3>
										<p>De 15 personas en una mesa de diálogo político por el futuro de Nicaragua, ninguna era mujer</p>
										<a href="#" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
									</div>
								</div>
							</div> -->

							<div class="col-lg-12 col-md-12">
								<div class="pagination-area">
									<nav aria-label="Page navigation example">
										<ul class="pagination justify-content-center">

											<li class="page-item"><a class="page-link" href="#"><i class="icofont-double-left"></i></a></li>

											<li class="page-item active"><a class="page-link" href="#">1</a></li>

											<li class="page-item"><a class="page-link" href="#">2</a></li>

											<li class="page-item"><a class="page-link" href="#">3</a></li>

											<li class="page-item"><a class="page-link" href="#"><i class="icofont-double-right"></i></a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-12">
						<div class="sidebar-area">
							<div class="widget widget-search">
								<form>
									<input type="text" class="form-control" placeholder="Search">
									<button type="submit"><i class="icofont-search-2"></i></button>
								</form>
							</div>

							<div class="widget widget_post_categories">
								<h3 class="widget-title">Categorías</h3>
								<div class="bar"></div>

								<ul>
									<li><a href="#"><i class="icofont-bubble-right"></i> Informémonos</a></li>
									<li><a href="#"><i class="icofont-bubble-right"></i> Situación regional de género</a></li>
									<li><a href="#"><i class="icofont-bubble-right"></i> Reflexiones</a></li>
								</ul>
							</div>
							
							<div class="widget widget_recent_posts">
								<h3 class="widget-title">Actualidad</h3>
								<div class="bar"></div>
								
								<ul>
									<li>
										<div class="recent-post-thumb">
											<a href="#">
												<img src="/static/img/circulo_mujeres.jpg" alt="blog-image">
											</a>
										</div>

										<div class="recent-post-content">
											<h3><a href="#">Círculo de mujeres</a></h3>
											<span class="date">23 Abril 2018</span>
										</div>
									</li>

									<li>
										<div class="recent-post-thumb">
											<a href="#">
												<img src="/static/img/learn_english.jpg" alt="blog-image">
											</a>
										</div>

										<div class="recent-post-content">
											<h3><a href="#">Curso de inglés básico</a></h3>
											<span class="date">23 Abril 2018</span>
										</div>
									</li>

									<li>
										<div class="recent-post-thumb">
											<a href="#">
												<img src="/static/img/circulo_mujeres.jpg" alt="blog-image">
											</a>
										</div>

										<div class="recent-post-content">
											<h3><a href="#">Círculo de mujeres</a></h3>
											<span class="date">28 Abril 2018</span>
										</div>
									</li>

									<li>
										<div class="recent-post-thumb">
											<a href="#">
												<img src="/static/img/learn_english.jpg" alt="blog-image">
											</a>
										</div>

										<div class="recent-post-content">
											<h3><a href="#">Curso de inglés básico</a></h3>
											<span class="date">30 Abril 2018</span>
										</div>
									</li>
								</ul>
							</div>

							<div class="widget widget_tag_cloud">
								<h3 class="widget-title">Tags Populares</h3>
								<div class="bar"></div>

								<div class="tagcloud">
									<a href="#">Arte</a>
									<a href="#">Libros</a>
									<a href="#">Tecnología</a>
									<a href="#">Galería</a>
									<a href="#">Diseño</a>
									<!-- <a href="#">Smart TV</a>
										<a href="#">Design</a> -->
									</div>
								</div>

							<!-- <div class="widget widget_text">
								<h3 class="widget-title">Instagram</h3>
								<div class="bar"></div>
								
								<ul>
									<li>
										<a href="#">
											<img src="/static/img/work-img1.jpg" alt="image">
										</a>
									</li>

									<li>
										<a href="#">
											<img src="/static/img/work-img2.jpg" alt="image">
										</a>
									</li>

									<li>
										<a href="#">
											<img src="/static/img/work-img3.jpg" alt="image">
										</a>
									</li>

									<li>
										<a href="#">
											<img src="/static/img/work-img4.jpg" alt="image">
										</a>
									</li>

									<li>
										<a href="#">
											<img src="/static/img/work-img5.jpg" alt="image">
										</a>
									</li>

									<li>
										<a href="#">
											<img src="/static/img/work-img6.jpg" alt="image">
										</a>
									</li>
								</ul>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Blog Area -->

{% endblock content%}
