<style>
.widget_search .form-group + .send_icon:before, .widget_product_search [type="submit"]:before, .widget_mailchimp .form-group + .send_icon:before, .widget_mc4wp_form_widget .form-group + .send_icon:before {
    content: "\f1d9" !important;
}
</style>
<div class="widget widget_search">
    <h4 class="widget-title">¿No encontraste lo que buscabas?</h4>
    <p>Escribe la temática que te gustaría encontrar en la Plataforma.</p>
    <form id="my-form" method="post">{% csrf_token %}
        <div class="form-group margin_0"> 
            <input id="tematica" type="text" name="tematica" class="form-control" placeholder="Temática" required> 
        </div> 
        <button type="submit" class="theme_button color1 send_icon">Enviar</button>	
    </form>
    <br>
    <div class="alert alert-success" role="alert" id="msg" style="display:none">Gracias por enviar tus comentarios!!!</div>
</div>