<div class="widget widget_search">
    <p class="widget-title">¿No encontraste lo que buscabas?</p> 
    <form id="my-form" method="post">{% csrf_token %}
        <div class="form-group margin_0"> 
            <input id="tematica" type="text" name="tematica" class="form-control" placeholder="Escribe la temática que te gustaría encontrar en la Plataforma." required> 
        </div> 
        <button type="submit" class="theme_button color1">Enviar</button>	
    </form>
    <br>
    <div class="alert alert-success" role="alert" id="msg" style="display:none">Gracias por enviar tus comentarios!!!</div>
</div>