{% extends 'base.html'%}

{% block bannertitle%}
<h2>Dtalle</h2>
{% endblock bannertitle%}

{% block content%}

<!-- Start Forum Area -->
<section class="blog-details-area ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">

				<div class="post-comments">
					<div class="single-comment">
						<div class="comment-img">
							<img src="assets/img/ghost.jpg" alt="client">
							<p align="center">Ghost</p>
						</div>
						<div class="comment-content">
							<h4></h4>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et minus, saepe porro a voluptatem, quidem aut libero consequatur unde molestiae quae impedit accusantium dolor est corporis! Dolores ut dignissimos doloribus?</p>
							<p>Dolore aliquip incididunt, occaecat ne quorum o enim incurreret de occaecat quo sunt si iis veniam iudicem. Multos cohaerescant pariatur nisi cupidatat ex legam deserunt voluptate quo est dolore coniunctione, aliquip consectetur ut occaecat sed non lorem malis o commodo si excepteur minim quamquam pariatur eu hic nulla eiusmod incurreret te ex minim coniunctione. Eiusmod velit ingeniis ullamco e irure voluptate quo quorum quae.</p>
							<span style="color:"><input type="button" class="btn btn-primary" name="none1" value="&#xf27a; 200">
								<input type="button" class="btn btn-primary" name="none2" value="&#xf06e; 200"> <input type="button" name="none3" class="btn btn-primary" value="&#xf133; En 19, 2018">
							</span>
						</div>

					</div>

				</div>

				<div class="post-comments">
					<h3>Comentarios</h3>
					<div class="single-comment">
						<div class="comment-img">
							<img src="assets/img/client1.jpg" alt="client">
						</div>
						<div class="comment-content">
							<h4>John Smith</h4>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et minus, saepe porro a voluptatem, quidem aut libero consequatur unde molestiae quae impedit accusantium dolor est corporis! Dolores ut dignissimos doloribus?</p>
							<span>Jan 19, 2018 - 9:10AM</span>
							<a href="#">Responder</a>
						</div>
					</div>

					<div class="single-comment left-m">
						<div class="comment-img">
							<img src="assets/img/client2.jpg" alt="client">
						</div>
						<div class="comment-content">
							<h4>Doe John</h4>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et minus, saepe porro a voluptatem, quidem aut libero consequatur unde molestiae quae impedit accusantium dolor est corporis! Dolores ut dignissimos doloribus?</p>
							<span>Jan 19, 2018 - 9:10AM</span>
							<a href="#">Responder</a>
						</div>
					</div>

					<div class="single-comment">
						<div class="comment-img">
							<img src="assets/img/client3.jpg" alt="client">
						</div>
						<div class="comment-content">
							<h4>Steven Doe</h4>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et minus, saepe porro a voluptatem, quidem aut libero consequatur unde molestiae quae impedit accusantium dolor est corporis! Dolores ut dignissimos doloribus?</p>
							<span>Jan 19, 2018 - 9:10AM</span>
							<a href="#">Responder</a>
						</div>
					</div>

					<div class="single-comment">
						<div class="comment-img">
							<img src="assets/img/client4.jpg" alt="client">
						</div>
						<div class="comment-content">
							<h4>John Cina</h4>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et minus, saepe porro a voluptatem, quidem aut libero consequatur unde molestiae quae impedit accusantium dolor est corporis! Dolores ut dignissimos doloribus?</p>
							<span>Jan 19, 2018 - 9:10AM</span>
							<a href="#">Responder</a>
						</div>
					</div>
				</div>

				<div class="leave-a-reply">
					<h3>Deja un comentario</h3>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Nombre completo">
							</div>
						</div>

						<div class="col-lg-6 col-md-6">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="E-Mail">
							</div>
						</div>

						<div class="col-lg-12 col-md-12">
							<div class="form-group">
								<textarea name="comment" cols="30" rows="5" class="form-control" placeholder="Tu Comentario"></textarea>
							</div>
						</div>

						<div class="col-lg-12 col-md-12">
							<!-- <button type="submit" class="btn btn-primary">Enviar</button> -->
							<input type="button" class="btn btn-primary" name="sendComment" value="&#xf1d8;">		
						</div>
					</div>
				</div>

			</div>
			<div class="col-lg-4">
				<div class="sidebar-area">
					<div class="widget widget-search">
						<form>
							<input type="text" class="form-control" placeholder="Buscar">
							<button type="submit"><i class="icofont-search-2"></i></button>
						</form>
					</div>

					<div class="widget widget_post_categories">
						<h3 class="widget-title">Categorías</h3>
						<div class="bar"></div>

						<ul>
							<li><a href="#"><i class="icofont-bubble-right"></i> Informémonos</a></li>
							<li><a href="#"><i class="icofont-bubble-right"></i> Situación regional de género</a></li>
							<li><a href="#"><i class="icofont-bubble-right"></i> Reflexiones</a></li>
						</ul>
					</div>

					<div class="widget widget_recent_posts">
						<h3 class="widget-title">Siguiendo</h3>
						<div class="bar"></div>

						<ul>
							<li>
								<div class="recent-post-thumb">
									<a href="#">
										<img src="assets/img/circulo_mujeres.jpg" alt="blog-image">
									</a>
								</div>

								<div class="recent-post-content">
									<h3><a href="#">Círculo de mujeres</a></h3>
									<span class="date">23 Abril 2018</span>
								</div>
							</li>

							<li>
								<div class="recent-post-thumb">
									<a href="#">
										<img src="assets/img/learn_english.jpg" alt="blog-image">
									</a>
								</div>

								<div class="recent-post-content">
									<h3><a href="#">Curso de inglés básico</a></h3>
									<span class="date">23 Abril 2018</span>
								</div>
							</li>

							<li>
								<div class="recent-post-thumb">
									<a href="#">
										<img src="assets/img/circulo_mujeres.jpg" alt="blog-image">
									</a>
								</div>

								<div class="recent-post-content">
									<h3><a href="#">Círculo de mujeres</a></h3>
									<span class="date">28 Abril 2018</span>
								</div>
							</li>

							<li>
								<div class="recent-post-thumb">
									<a href="#">
										<img src="assets/img/learn_english.jpg" alt="blog-image">
									</a>
								</div>

								<div class="recent-post-content">
									<h3><a href="#">Curso de inglés básico</a></h3>
									<span class="date">30 Abril 2018</span>
								</div>
							</li>
						</ul>
					</div>

					<div class="widget widget_tag_cloud">
						<h3 class="widget-title">Tags</h3>
						<div class="bar"></div>

						<div class="tagcloud">
							<a href="#">Tag </a>
							<a href="#">Tag</a>
							<a href="#">Tag</a>
							<a href="#">Tag</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- End Forum Area -->


{% endblock content%}