{% extends "base.html" %}
{% load thumbnail %}
{% load solo_tags %}
{% load custom_tags %}
	
{% block content %}
<section class="intro_section page_mainslider ds all-scr-cover bottom-overlap-teasers">
	<div class="flexslider" data-dots="true" data-nav="true">
		<ul class="slides">
			{% for obj in slider %}
			<li>
				<div class="slide-image-wrap"> 
					{% thumbnail obj.foto_1 "1905x550" crop="center" as im %}
					<img src="{{ im.url }}" alt="">
					{% empty %}
					<img src="http://via.placeholder.com/"1905x550"" alt="">
					{% endthumbnail %}
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									
									{% if obj.texto_1 %}
									<div class="intro-layer" data-animation="fadeInLeft">
										<h2 class="bgtext"> <span class="highlight3" style="color:{{obj.color_texto_1}}">“{{obj.texto_1}}”</span></h2>
									</div>
									{% endif %}
									
									{% if obj.credito_1 %}
									<div class="intro-layer" data-animation="fadeInRight">
										<p class="thin "><em class="bgtext">- {{obj.credito_1}}</em></p>
									</div>
									{% endif %}
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			
			{% if obj.foto_2 %}
			<li>
				<div class="slide-image-wrap"> 
					{% thumbnail obj.foto_2 "1905x550" crop="center" as im %}
					<img src="{{ im.url }}" alt="">
					{% empty %}
					<img src="http://via.placeholder.com/1905x550" alt="">
					{% endthumbnail %}
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									
									{% if obj.texto_2 %}
									<div class="intro-layer" data-animation="fadeInLeft">
										<h2 class="bgtext"> <span class="highlight3" style="color:{{obj.color_texto_2}}">“{{obj.texto_2}}”</span></h2>
									</div>
									{% endif %}
									
									{% if obj.credito_2 %}
									<div class="intro-layer" data-animation="fadeInRight">
										<p class="thin "><em class="bgtext">- {{obj.credito_2}}</em></p>
									</div>
									{% endif %}
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			{% endif %}
			
			
			{% if obj.foto_3 %}
			<li>
				<div class="slide-image-wrap"> 
					{% thumbnail obj.foto_3 "1905x550" crop="center" as im %}
					<img src="{{ im.url }}" alt="">
					{% empty %}
					<img src="http://via.placeholder.com/1905x550" alt="">
					{% endthumbnail %}
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									
									{% if obj.texto_3 %}
									<div class="intro-layer" data-animation="fadeInLeft">
										<h2 class="bgtext"> <span class="highlight3" style="color:{{obj.color_texto_3}}">“{{obj.texto_3}}”</span></h2>
									</div>
									{% endif %}
									
									{% if obj.credito_3 %}
									<div class="intro-layer" data-animation="fadeInRight">
										<p class="thin "><em class="bgtext">- {{obj.credito_3}}</em></p>
									</div>
									{% endif %}
									<!--<div class="intro-layer" data-animation="fadeInUp">
										<div class="slide_buttons"> <a href="/contactenos" class="theme_button color1 min_width_button">Contáctanos</a> </div>
									</div>-->
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			{% endif %}
			
			{% endfor %}

		</ul>
	</div>
	<!-- eof flexslider -->
</section>

<section class="ls servicios section_padding_bottom_65">
	<div class="menu_service">
		<ul class="sf-menu menu-index">
			<li id="actual_content" class='teaser main_bg_color transp with_padding big-padding margin_0 to_animate' data-animation="fadeInUp">				
				<a id="dropdownMenuButton" >
					<div class="media- media-middle text-center">
						<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-news highlight" aria-hidden="true"></i> </div>
					</div>
					<h4>Actualidad</h4>
				</a>
				<ul>
					<li> <a href="/actualidad/noticias">Noticias</a> </li>
					<li> <a href="/actualidad/situacion-regional-genero">Situación regional de género</a> </li>
				</ul>
			</li>
			<li id="puntos_content"  class='teaser main_bg_color5 transp with_padding big-padding margin_0 to_animate' data-animation="fadeInUp"> 
				<a id="dropdownMenuButton" href="/puntos-vista">
					<div class="media- media-middle text-center">
						<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-eye highlight5" aria-hidden="true"></i> </div>
					</div>
					<h4>Miradas</h4>
				</a>
			</li>

			<li id="foro_content" class='teaser main_bg_color2 transp with_padding big-padding margin_0 to_animate' data-animation="fadeInUp">
				<a id="dropdownMenuButton" href="/foros">
					<div class="media- media-middle text-center">
						<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-ui-chat highlight2" aria-hidden="true"></i> </div>
					</div>
					<h4>Foros</h4>
				</a>
			</li>

			<li id="recurso_content" class='teaser main_bg_color4 transp with_padding big-padding margin_0 to_animate' data-animation="fadeInUp">
				<a   id="dropdownMenuButton">
					<div class=" media-middle text-center">
						<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-read-book highlight4" aria-hidden="true"></i> </div>
					</div>
					<h4>Recursos</h4> 
				</a>
				<ul>
						<li> <a href="/recursos-metodologicos/publicaciones">Publicaciones</a> </li>
						<li> <a href="/recursos-metodologicos/galerias/imagenes">Imágenes</a> </li>
						<li> <a href="/recursos-metodologicos/galerias/videos">Videos</a> </li>
						<li><a href="/recursos-metodologicos/galerias/audios/">Audios</a></li>
				</ul>
			</li>

			<li id="iniciativa_content" class='teaser main_bg_color3 transp with_padding big-padding margin_0 to_animate' data-animation="fadeInUp">
				<a id="dropdownMenuButton" >
					<div class="media-middle text-center">
						<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-favourite highlight3" aria-hidden="true"></i> </div>
					</div>
					<h4>Iniciativas</h4>
				</a>
				<ul>
					<li> <a href="/iniciativas-destacadas/campanias/">Campañas</a> </li>
					<li> <a href="/iniciativas-destacadas/eventos/">Eventos</a> </li>
					<li> <a href="/iniciativas-destacadas/concursos/">Concursos</a> </li>
				</ul>
			</li>
		</ul>
	</div>
</section>


<section id="actualidad" class="ls section_padding_top_20">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 bottommargin_0 to_animate" data-animation="fadeInUp">
				<div class="flex-wrap v-center">
					<div class="col-sm-8 to_animate" data-animation="fadeInRight">
						<h2 class="section_header color1">Actualidad</h2>
					</div>
					<div class="col-sm-3 text-right hidden-xs to_animate" data-animation="fadeInRight"> <a href="/actualidad/noticias/" class="view-more">Ver más</a> </div>
				</div>
				<div class="owl-carousel loop-colors topmargin_40" data-dots="false" data-nav="true" data-responsive-lg="3">

					{% for obj in actualidad %}
					<article class="vertical-item content-padding big-padding with_border bottom_color_border">
						<div class="item-media"> 
							{% thumbnail obj.photo "830x620" crop="center" as im %}
							<img src="{{ im.url }}" srcset="{{ im.url }} {{ im.x }}w" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/830x620" alt="">
							{% endthumbnail %}
						</div>
						<div class="item-content">
							<header class="entry-header">
								<h3 class="entry-title small bottommargin_0" style="height: 52px;"> 
									<a href="{% url 'detalle-actualidad' obj.slug %}"><span class="small-text">{{obj.tittle|striptags|truncatechars:71}}</span></a>
								</h3>
							</header>
							<p>
								<a href="{% url 'detalle-actualidad' obj.slug %}" class="more-link">Leer más</a>
							</p>

							<div class="entry-meta greylinks inline-content">

								<span>
									<i class="fa fa-pencil-square-o highlight" aria-hidden="true"></i> {{obj.author.get_full_name|default:obj.author.username}}
								</span>

								<span>
									<i class="icofont-calendar highlight" aria-hidden="true"></i>
									<time datetime="2017-10-03T08:50:40+00:00">{{obj.created_on|date:"d N, Y"}}</time>
								</span>  
							</div>
						</div>
					</article>
					{% endfor %}							
				</div>
			</div>
		</div>
	</div>
</section>

{% get_solo 'configuracion.InformacionIndex' as info_index %}
{% if info_index.activo %}
<section class="ls section_padding_top_100 section_map">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 bottommargin_0 to_animate" data-animation="fadeInUp">
				<div class="flex-wrap v-center">
					<div class="col-sm-8 to_animate" data-animation="fadeInRight">
						<h2 class="section_header color1">{{info_index.titulo}}</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-12 to_animate" data-animation="fadeInUp">
				<div class="row">
					{{info_index.contenido|safe}}
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}

<section class="ls section_padding_top_100 section_padding_bottom_110 section_map">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 bottommargin_10 to_animate" data-animation="fadeInUp">
				<div class="flex-wrap v-center">
					<div class="col-sm-8" >
						<h2 class="section_header color3">Campaña Juntxs Comprometidxs por la Equidad</h2>
					</div>
				</div>
			</div>

			<div class="col-sm-12 to_animate" data-animation="fadeInUp">
				<div class="row">
					<div class="col-sm-12 col-md-9 to_animate bottommargin_30" data-animation="fadeInLeft">
						<div class="content-padding big-padding ">
							<h4 class="text-center color2">Comprueba cuántos compromisos por la igualdad de género hay en tu país.</h4>
							<p class="text-center">NÚMERO DE COMPROMISOS DE MUJERES Y HOMBRES COMPROMETIDXS CON LA IGUALDAD DE GÉNERO:</p>
							<div class="row flex-wrap conteo_map">
								<div class="col-sm-4">
									<div class="text-center topmargin_20 "><div class="value main_value" akhi="{{compromisos|default:'0'}}">0</div></div>
									<h4 class="title_count text-center to_animate" data-animation="fadeInUp">Total</h4>
								</div>
								<div class="col-sm-4">
									<div class="text-center topmargin_20 "><div class="value" akhi="{{hombres|default:'0'}}">0</div></div>
									<h4 class="title_count text-center to_animate" data-animation="fadeInUp">Hombres</h4>
								</div>
								<div class="col-sm-4">
									<div class="text-center topmargin_20 "><div class="value" akhi="{{mujeres|default:'0'}}">0</div></div>
									<h4 class="title_count text-center to_animate" data-animation="fadeInUp">Mujeres</h4>
								</div>
							</div>
						</div>		
					</div>
					<div class="col-sm-12 col-md-3 to_animate bottommargin_30" data-animation="fadeInRight">
						<div class="content-padding big-padding">
							<h4 class="text-center color2">INSPÍRATE</h4>
							<p class="text-center">Visita el Facebook de la Campaña</p>
							<div class="row">
								<div class="col-sm-12">
									
									<div class="contact-form-submit topmargin_30 text-center">
										<a id="contact_form_submit" href="https://www.facebook.com/JuntxsporlaEquidad" target="_blank" class="theme_button color4 min_width_button margin_0">
											ME COMPROMETO <span class="fa fa-external-link"></span>
										</a> 
									</div>
									
								</div>
							</div>
						</div>		
					</div>
				</div>
			</div>
			<style>
				
				#container {
					height: 600px; 
					width: 100%; 
					margin: 0 auto; 
				}

				.highcharts-tooltip>span {
				}

				.loading {
					margin-top: 10em;
					text-align: center;
					color: gray;
				}

				.f32 .flag {
					vertical-align: middle !important;
				}
			</style>
			<div id="container" style="max-width: 1200px"></div>
		</div>
	</div>
</section>



{% endblock content %}

{% block extra_js %}

<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<script>
	$('.owl-map').owlCarousel({
		loop:true,
		margin:10,
		nav:false,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:1
			},
			1000:{
				items:1
			}
		}
	});

</script>
<script>
	Highcharts.getJSON('/compromisos/get-json/', function (data) {

		// Prevent logarithmic errors in color calulcation
		data.forEach(function (p) {
			p.value = (p.value < 1 ? 1 : p.value);
		});

		// Initiate the chart
		Highcharts.mapChart('container', {

			chart: {
				map: 'custom/world'
			},

			title: {
				text: ''
			},

			// legend: {
			// 	title: {
			// 		text: 'Compromisos por país',
			// 		style: {
			// 			color: ( // theme
			// 				Highcharts.defaultOptions &&
			// 				Highcharts.defaultOptions.legend &&
			// 				Highcharts.defaultOptions.legend.title &&
			// 				Highcharts.defaultOptions.legend.title.style &&
			// 				Highcharts.defaultOptions.legend.title.style.color
			// 			) || 'black'
			// 		}
			// 	}
			// },

			legend: {
				enabled: false
			},

			mapNavigation: {
				enabled: true,
				enableMouseWheelZoom: false,
				enableTouchZoom: false,
				mouseWheelSensitivity: 2,
				enableDoubleClickZoomTo: false,
				buttonOptions: {
					verticalAlign: 'bottom'
				}
			},

			tooltip: {
				// backgroundColor: 'none',
				with: 600,
				borderWidth: 0,
				shadow: false,
				useHTML: true,
				padding: 0,
				pointFormat: '{point.fotos}',
				//positioner: function () {
				    //return { x: 0, y: 150 };
				//}
			},

			legend: {
				enabled: false
			},

			series: [{
				data: data,
				joinBy: ['iso-a3', 'code3'],
				name: 'Compromisos',
				color: '#e85242',
				states: {
					hover: {
						color: '#03a8cb'
					}
				}
			}]
		});
	});
</script>
<script>
	const counters = document.querySelectorAll('.value');
	const speed = 800;

	counters.forEach( counter => {
	const animate = () => {
		const value = +counter.getAttribute('akhi');
		const data = +counter.innerText;
		
		const time = value / speed;
		if(data < value) {
			counter.innerText = Math.ceil(data + time);
			setTimeout(animate, 1);
			}else{
			counter.innerText = value;
			}
		
	}
	
	animate();
	});
</script>
<script>
	$(document).ready(function(){
		$('#actual_content').hover(function() {
			$(this).find('h4').text('Infórmate');
		}, function() {
			$(this).find('h4').text('Actualidad');
		});
		$('#puntos_content').hover(function() {
			$(this).find('h4').text('Opina');
		}, function() {
			$(this).find('h4').text('Miradas');
		});
		$('#foro_content').hover(function() {
			$(this).find('h4').text('Participa');
		}, function() {
			$(this).find('h4').text('Foros');
		});
		$('#recurso_content').hover(function() {
			$(this).find('h4').text('Comparte');
		}, function() {
			$(this).find('h4').text('Recursos');
		});
		$('#iniciativa_content').hover(function() {
			$(this).find('h4').text('Únete');
		}, function() {
			$(this).find('h4').text('Iniciativas');
		});
	});
</script>
{% endblock extra_js %}