{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
{% comment %} <section id="services" class="hidden-xs ls section_intro_overlap columns_padding_0 columns_margin_0 container_padding_0 mt-10">
	<div id="show_services" class="container-fluid">
		<div class="row flex-wrap v-center-content">

			<div class="col-lg-20 col-sm-20 col-xs-12 to_animate" data-animation="fadeInUp">
				<div class="teaser main_bg_color transp with_padding big-padding margin_0">
					<div class="xxs-media-left">
						<div class="media- media-middle text-center">
							<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-news highlight" aria-hidden="true"></i> </div>
						</div>

						<div class="dropdown dropup text-center">
							<a class="orangefont visible_hover white-color actual_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/actualidad">
								<span>Actualidad</span> <i class="icofont-caret-down rotate"></i>
							</a>
							<div class="dropdown-menu arrow-down" aria-labelledby="dropdownMenuButton">
								<!--<a class="dropdown-item" href="/actualidad">Actualidad</a>-->
								<a class="dropdown-item" href="/actualidad/noticias"> Noticias</a>
								<a class="dropdown-item" href="/actualidad/situacion-regional-genero"> Situación regional de género</a>
							</div>
						</div>
						<div class="media-body media-middle text-center">
							
							<h4>
							</h4>

						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-20 col-sm-20 col-xs-12 to_animate" data-animation="fadeInUp">
				<div class="teaser bg_customgreen transp with_padding big-padding margin_0" id="p_vista">
					<a href="/puntos-vista">
						<div class="xxs-media-left">
							<div class="media- media-middle text-center">
								<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-eye highlight5" aria-hidden="true"></i> </div>
							</div>
							<div class="text-center">
								<a class="visible_hover white-color puntos_content" href="/puntos-vista" aria-haspopup="true" aria-expanded="false">
									<span id ="txtpuntos">Puntos de vista</span>
								</a>
							</div>

							<div class="media-body media-middle text-center">
								<h4 class="white-color"></h4>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-20 col-sm-20 col-xs-12 to_animate" data-animation="fadeInUp">
				<div class="teaser main_bg_color2 transp with_padding big-padding margin_0">
					<a href="/foros">
						<div class="xxs-media-left">
							<div class="media- media-middle text-center">
								<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-ui-chat highlight2" aria-hidden="true"></i> </div>
							</div>

							<div class="text-center">
								<a class="visible_hover white-color foro_content" href="/foros" aria-haspopup="true" aria-expanded="false"><span>Foros</span>
								</a>
							</div>
							<div class="media-body media-middle text-center">
								<h4></h4>

							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-20 col-sm-20 col-xs-12 to_animate" data-animation="fadeInUp">
				<div class="teaser main_bg_color4 transp with_padding big-padding margin_0">
					<div class="xxs-media-left">
						<div class=" media-middle text-center">
							<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-read-book highlight4" aria-hidden="true"></i> </div>
						</div>

						<div class="dropdown dropup text-center">
							<a class="visible_hover white-color recurso_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span>Recursos metodológicos</span> <i class="icofont-caret-down rotate"></i>
							</a>
							<div class="dropdown-menu arrow-down" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="/recursos-metodologicos/galerias/audios/">Audios</a>
								<a class="dropdown-item" href="/recursos-metodologicos/galerias/imagenes/">Imágenes</a>
								<a class="dropdown-item" href="/recursos-metodologicos/publicaciones/">Publicaciones</a>
								<a class="dropdown-item" href="/recursos-metodologicos/galerias/videos/">Videos</a>
								
							</div>
						</div>

						<div class="media-body media-middle text-center">
							<h5><a href="#0"> </a></h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-20 col-sm-20 col-xs-12 to_animate" data-animation="fadeInUp">
				<div class="teaser main_bg_color3 transp with_padding big-padding margin_0">
					<div class="xxs-media-left">
						<div class="media-middle text-center">
							<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-favourite highlight3" aria-hidden="true"></i> </div>
						</div>

						<div class="dropdown dropup text-center">
							<a class="visible_hover white-color iniciativa_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span>Iniciativas destacadas</span> <i class="icofont-caret-down rotate"></i>
							</a>
							<div class="dropdown-menu arrow-down" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="/iniciativas-destacadas/campanias">Campañas</a>
								<a class="dropdown-item" href="/iniciativas-destacadas/eventos">Eventos</a>
								<a class="dropdown-item" href="/iniciativas-destacadas/concursos">Concursos</a>
							</div>
						</div>

						<div class="media-body media-middle text-center">

							<h4>
							</h4>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>  {% endcomment %}


<section class="intro_section page_mainslider ds all-scr-cover bottom-overlap-teasers">
	<div class="flexslider" data-dots="true" data-nav="true">
		<ul class="slides">
			{% for obj in slider %}
			<li>
				<div class="slide-image-wrap"> 
					{% thumbnail obj.foto_1 "1350x500" crop="center" as im %}
					<img src="{{ im.url }}" alt="">
					{% empty %}
					<img src="http://via.placeholder.com/1350x810" alt="">
					{% endthumbnail %}
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									
									{% if obj.texto_1 %}
									<div class="intro-layer" data-animation="fadeInLeft">
										<h2 class="bgtext"> <span class="highlight3" style="color:{{obj.color_texto_1}}">“{{obj.texto_1}}”</span></h2>
									</div>
									{% endif %}
									
									{% if obj.credito_1 %}
									<div class="intro-layer" data-animation="fadeInRight">
										<p class="thin "><em class="bgtext">- {{obj.credito_1}}</em></p>
									</div>
									{% endif %}
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			
			{% if obj.foto_2 %}
			<li>
				<div class="slide-image-wrap"> 
					{% thumbnail obj.foto_2 "1350x810" crop="center" as im %}
					<img src="{{ im.url }}" alt="">
					{% empty %}
					<img src="http://via.placeholder.com/1350x810" alt="">
					{% endthumbnail %}
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									
									{% if obj.texto_2 %}
									<div class="intro-layer" data-animation="fadeInLeft">
										<h2 class="bgtext"> <span class="highlight3" style="color:{{obj.color_texto_2}}">“{{obj.texto_2}}”</span></h2>
									</div>
									{% endif %}
									
									{% if obj.credito_2 %}
									<div class="intro-layer" data-animation="fadeInRight">
										<p class="thin "><em class="bgtext">- {{obj.credito_2}}</em></p>
									</div>
									{% endif %}
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			{% endif %}
			
			
			{% if obj.foto_3 %}
			<li>
				<div class="slide-image-wrap"> 
					{% thumbnail obj.foto_3 "1350x810" crop="center" as im %}
					<img src="{{ im.url }}" alt="">
					{% empty %}
					<img src="http://via.placeholder.com/1350x810" alt="">
					{% endthumbnail %}
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									
									{% if obj.texto_3 %}
									<div class="intro-layer" data-animation="fadeInLeft">
										<h2 class="bgtext"> <span class="highlight3" style="color:{{obj.color_texto_3}}">“{{obj.texto_3}}”</span></h2>
									</div>
									{% endif %}
									
									{% if obj.credito_3 %}
									<div class="intro-layer" data-animation="fadeInRight">
										<p class="thin "><em class="bgtext">- {{obj.credito_3}}</em></p>
									</div>
									{% endif %}
									<!--<div class="intro-layer" data-animation="fadeInUp">
										<div class="slide_buttons"> <a href="/contactenos" class="theme_button color1 min_width_button">Contáctanos</a> </div>
									</div>-->
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			{% endif %}
			
			{% endfor %}

		</ul>
	</div>
	<!-- eof flexslider -->
</section>


<section class="ls servicios section_padding_bottom_65">
	<div class="container">
		<ul class="sf-menu menu-index">
			<li class='teaser main_bg_color transp with_padding big-padding margin_0'>
				<div class="media- media-middle text-center">
					<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-news highlight" aria-hidden="true"></i> </div>
				</div>
				<a class="actual_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/actualidad">
					<span>Actualidad</span>
				</a>
				<ul>
					<li> <a href="/actualidad/noticias">Noticias</a> </li>
					<li> <a href="/actualidad/situacion-regional-genero">Situación regional de género</a> </li>
				</ul>
			</li>
			<li class="teaser main_bg_color5 transp with_padding big-padding margin_0"> 
				<div class="media- media-middle text-center">
					<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-eye highlight5" aria-hidden="true"></i> </div>
				</div>
				<a class="puntos_content" href="/puntos-vista">
					<span id ="txtpuntos">Puntos de vista</span>
				</a>
			</li>

			<li class='teaser main_bg_color2 transp with_padding big-padding margin_0'>
				<div class="media- media-middle text-center">
					<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-ui-chat highlight2" aria-hidden="true"></i> </div>
				</div>
				<a class="foro_content" href="/foros">
					<span>Foros</span>
				</a>
			</li>

			<li class='teaser main_bg_color4 transp with_padding big-padding margin_0'>
				<div class=" media-middle text-center">
					<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-read-book highlight4" aria-hidden="true"></i> </div>
				</div>
				<a class="recurso_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>Recursos metodológicos</span> 
				</a>
				<ul>
						<li> <a href="/recursos-metodologicos/publicaciones">Publicaciones</a> </li>
						<li> <a href="/recursos-metodologicos/galerias/imagenes">Imágenes</a> </li>
						<li> <a href="/recursos-metodologicos/galerias/videos">Videos</a> </li>
						<li><a href="/recursos-metodologicos/galerias/audios/">Audios</a></li>
				</ul>
			</li>

			<li class='teaser main_bg_color3 transp with_padding big-padding margin_0'>
				<div class="media-middle text-center">
					<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-favourite highlight3" aria-hidden="true"></i> </div>
				</div>
				<a class="iniciativa_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>Iniciativas destacadas</span>
				</a>
				<ul>
					<li> <a href="/iniciativas-destacadas/campanias/">Campañas</a> </li>
					<li> <a href="/iniciativas-destacadas/eventos/">Eventos</a> </li>
					<li> <a href="/iniciativas-destacadas/concursos/">Concursos</a> </li>
				</ul>
			</li>
		</ul>
	</div>
</section>


<section id="actualidad" class="ls section_padding_top_20">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 bottommargin_0 to_animate" data-animation="fadeInUp">
				<div class="flex-wrap v-center">
					<div class="col-sm-8 to_animate" data-animation="fadeInRight">
						<h2 class="section_header color1">Actualidad</h2>
					</div>
					<div class="col-sm-3 text-right hidden-xs to_animate" data-animation="fadeInRight"> <a href="/actualidad/noticias/" class="view-more">Ver más</a> </div>
				</div>
				<div class="owl-carousel loop-colors topmargin_40" data-dots="false" data-nav="true" data-responsive-lg="3">

					{% for obj in actualidad %}
					<article class="vertical-item content-padding big-padding with_border bottom_color_border">
						<div class="item-media"> 
							{% thumbnail obj.photo "830x620" crop="center" as im %}
							<img src="{{ im.url }}" srcset="{{ im.url }} {{ im.x }}w" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/830x620" alt="">
							{% endthumbnail %}
						</div>
						<div class="item-content">
							<header class="entry-header">
								<h3 class="entry-title small bottommargin_0" style="
								height: 52px;
								"> <a href="{% url 'detalle-actualidad' obj.slug %}"><span class="small-text">{{obj.tittle|striptags|truncatechars:71}}</span></a>
							</header>
							<p>
								<a href="{% url 'detalle-actualidad' obj.slug %}" class="more-link">Leer más</a>
							</p>

							<div class="entry-meta greylinks inline-content">

								<span>
									<i class="fa fa-pencil-square-o highlight" aria-hidden="true"></i> {{obj.author.get_full_name|default:obj.author.username}}
								</span>

								<span>
									<i class="icofont-calendar highlight" aria-hidden="true"></i>
									<time datetime="2017-10-03T08:50:40+00:00">{{obj.created_on|date:"d N, Y"}}</time>
								</span>  
							</div>
						</div>
					</article>
					{% endfor %}							
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_110">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 bottommargin_10 to_animate" data-animation="fadeInUp">
				<div class="flex-wrap v-center">
					<div class="col-sm-8 to_animate" data-animation="fadeInRight">
						<h2 class="section_header color3">Compromisos Mundiales</h2>
					</div>
				</div>
			</div>

			<div class="col-sm-12 bottommargin_20 to_animate" data-animation="fadeInUp">
				<div class="flex-wrap">
					<div class="col-sm-6 to_animate" data-animation="fadeInRight">
						<div class="content-padding big-padding ">
							<div class="row">
								<div class="col-sm-12">
									<h4 class="text-center color2">COMPROMÉTETE CON LA IGUALDAD DE GÉNERO</h4>
									<p class="text-center">hic repudiandae eum corporis labore ducimus voluptate nemo vel quos</p>
									<div class="conteo_map text-center topmargin_50 ">2,500</div>
									
								</div>
							</div>
						</div>		
					</div>
					<div class="col-sm-6 to_animate" data-animation="fadeInRight">
						<div class="content-padding big-padding ">
							<div class="row">
								<div class="col-sm-12">
									<h4 class="text-center color2">INSPÍRATE</h4>
									<p class="text-center">hic repudiandae eum corporis labore ducimus voluptate nemo vel quos</p>
									<div class="contact-form-submit topmargin_30 text-center">
										<a id="contact_form_submit" name="contact_submit" class="theme_button color4 min_width_button margin_0">ME COMPROMETO <span class="fa fa-external-link"></span></a> 
									</div>
									
								</div>
							</div>
						</div>		
					</div>
				</div>
			</div>
			<style>
				
				#container {
					height: 600px; 
					width: 100%; 
					margin: 0 auto; 
				}

				.highcharts-tooltip>span {
					padding: 10px;
					white-space: normal !important;
					width: 200px;
				}

				.loading {
					margin-top: 10em;
					text-align: center;
					color: gray;
				}

				.f32 .flag {
					vertical-align: middle !important;
				}
			</style>
			<div id="container" style="max-width: 1200px"></div>
		</div>
	</div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_110">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="subscribe" class="widget widget_mailchimp with_padding cs main_color2 parallax overlay_color topmargin_0" style="background-position: 50% 1px;">
					<h2 class="widget-title">Únete</h2>
					<p class="fontsize_18 text-white">Suscríbete a nuestro boletín y no te pierdas de nada</p>
					<form class="signup" action="./" method="get">
						<div class="form-group-wrap">
							<div class="form-group"> <label for="mailchimp" class="sr-only">Enter your email here</label> <input name="email" type="email" id="mailchimp" class="mailchimp_email form-control text-center" placeholder="Correo electrónico"> </div> <button type="submit" class="theme_button color2">Subscribe now</button>										</div>
						<div class="response"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}

{% block extra_js %}

<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<script>
	Highcharts.getJSON('/compromisos/get-json/', function (data) {

		// Prevent logarithmic errors in color calulcation
		data.forEach(function (p) {
			p.value = (p.value < 1 ? 1 : p.value);
		});

		// Initiate the chart
		Highcharts.mapChart('container', {

			chart: {
				map: 'custom/world'
			},

			title: {
				text: ''
			},

			legend: {
				title: {
					text: 'Compromisos por país',
					style: {
						color: ( // theme
							Highcharts.defaultOptions &&
							Highcharts.defaultOptions.legend &&
							Highcharts.defaultOptions.legend.title &&
							Highcharts.defaultOptions.legend.title.style &&
							Highcharts.defaultOptions.legend.title.style.color
						) || 'black'
					}
				}
			},

			mapNavigation: {
				enabled: true,
				buttonOptions: {
					verticalAlign: 'bottom'
				}
			},

			tooltip: {
				// backgroundColor: 'none',
				borderWidth: 0,
				shadow: false,
				useHTML: true,
				padding: 0,
				pointFormat: '<span class="f32"><span class="flag {point.properties.hc-key}">' +
					'</span></span> {point.name}<br>' +
					'<span style="font-size:30px">{point.value}</span><br>' + 
					'{point.fotos}',
				// positioner: function () {
				//     return { x: 0, y: 250 };
				// }
			},

			colorAxis: {
				min: 1,
				max: 1000,
				type: 'logarithmic',
				// minColor: '#EEEEFF',
				// maxColor: '#000022',
			},

			series: [{
				data: data,
				joinBy: ['iso-a3', 'code3'],
				name: 'Compromisos',
				color: '#E0E0E0',
				states: {
					hover: {
						color: '#a4edba'
					}
				}
			}]
		});
	});
</script>
{% endblock extra_js %}