{% extends "base.html" %}
{% load thumbnail %}

{% block content %}

<section class="intro_section page_mainslider ds all-scr-cover bottom-overlap-teasers">
	<div class="flexslider" data-dots="true" data-nav="true">
		<ul class="slides">
			{% for obj in slider %}
			<li>
				<div class="slide-image-wrap"> 
					{% thumbnail obj.foto_1 "1350x500" crop="center" as im %}
					<img src="{{ im.url }}" alt="">
					{% empty %}
					<img src="http://via.placeholder.com/1350x810" alt="">
					{% endthumbnail %}
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									
									<div class="intro-layer" data-animation="fadeInLeft">
										<h2 class="bgtext"> <span class="highlight3" style="color:{{obj.color_texto_1}}">“{{obj.texto_1}}”</span></h2>
									</div>
									<div class="intro-layer" data-animation="fadeInRight">
										<p class="thin "><em class="bgtext">- {{obj.credito_1}}</em></p>
									</div>
									<!--<div class="intro-layer" data-animation="fadeInUp">
										<div class="slide_buttons"> <a href="/contactenos" class="theme_button color1 min_width_button">Contáctanos</a> </div>
									</div>-->
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			
			{% if obj.foto_2 %}
			<li>
				<div class="slide-image-wrap"> 
					{% thumbnail obj.foto_2 "1350x810" crop="center" as im %}
					<img src="{{ im.url }}" alt="">
					{% empty %}
					<img src="http://via.placeholder.com/1350x810" alt="">
					{% endthumbnail %}
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									
									<div class="intro-layer" data-animation="fadeInLeft">
										<h2 class="bgtext"> <span class="highlight3" style="color:{{obj.color_texto_2}}">“{{obj.texto_2}}”</span></h2>
									</div>
									<div class="intro-layer" data-animation="fadeInRight">
										<p class="thin "><em class="bgtext">- {{obj.credito_2}}</em></p>
									</div>
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			{% endif %}
			
			
			{% if obj.foto_3 %}
			<li>
				<div class="slide-image-wrap"> 
					{% thumbnail obj.foto_3 "1350x810" crop="center" as im %}
					<img src="{{ im.url }}" alt="">
					{% empty %}
					<img src="http://via.placeholder.com/1350x810" alt="">
					{% endthumbnail %}
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									
									<div class="intro-layer" data-animation="fadeInLeft">
										<h2 class="bgtext"> <span class="highlight3" style="color:{{obj.color_texto_3}}">“{{obj.texto_3}}”</span></h2>
									</div>
									<div class="intro-layer" data-animation="fadeInRight">
										<p class="thin "><em class="bgtext">- {{obj.credito_3}}</em></p>
									</div>
									<!--<div class="intro-layer" data-animation="fadeInUp">
										<div class="slide_buttons"> <a href="/contactenos" class="theme_button color1 min_width_button">Contáctanos</a> </div>
									</div>-->
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			{% endif %}
			
			{% endfor %}

		</ul>
	</div>
	<!-- eof flexslider -->
</section>
<section id="services" class="hidden-xs ls section_intro_overlap columns_padding_0 columns_margin_0 container_padding_0">
	<div id="show_services" class="container-fluid">
		<div class="row flex-wrap v-center-content">

			<div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
				<div class="teaser main_bg_color transp with_padding big-padding margin_0">
					<div class="xxs-media-left">
						<div class="media- media-middle text-center">
							<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-news highlight" aria-hidden="true"></i> </div>
						</div>

						<div class="dropdown dropup text-center">
							<a class="orangefont visible_hover white-color actual_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/actualidad">
								<span>Actualidad</span> <i class="icofont-caret-down rotate"></i>
							</a>
							<div class="dropdown-menu arrow-down" aria-labelledby="dropdownMenuButton">
								<!--<a class="dropdown-item" href="/actualidad">Actualidad</a>-->
								<a class="dropdown-item" href="/actualidad/noticias"> Noticias</a>
								<a class="dropdown-item" href="/actualidad/situacion-regional-genero"> Situación regional de género</a>
							</div>
						</div>
						<div class="media-body media-middle text-center">
							
							<h4>
							</h4>

						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
				<div class="teaser bg_customgreen transp with_padding big-padding margin_0" id="p_vista">
					<a href="/puntos-vista">
						<div class="xxs-media-left">
							<div class="media- media-middle text-center">
								<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-eye highlight5" aria-hidden="true"></i> </div>
							</div>
							<div class="text-center">
								<a class="visible_hover white-color puntos_content" href="/puntos-vista" aria-haspopup="true" aria-expanded="false">
									<span id ="txtpuntos">Puntos de vista</span>
								</a>
							</div>

							<div class="media-body media-middle text-center">
								<h4 class="white-color"></h4>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
				<div class="teaser main_bg_color2 transp with_padding big-padding margin_0">
					<a href="/foros">
						<div class="xxs-media-left">
							<div class="media- media-middle text-center">
								<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-ui-chat highlight2" aria-hidden="true"></i> </div>
							</div>

							<div class="text-center">
								<a class="visible_hover white-color foro_content" href="/foros" aria-haspopup="true" aria-expanded="false"><span>Foros</span>
								</a>
							</div>
							<div class="media-body media-middle text-center">
								<h4></h4>

							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
				<div class="teaser main_bg_color4 transp with_padding big-padding margin_0">
					<div class="xxs-media-left">
						<div class=" media-middle text-center">
							<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-read-book highlight4" aria-hidden="true"></i> </div>
						</div>

						<div class="dropdown dropup text-center">
							<a class="visible_hover white-color recurso_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span>Recursos metodológicos</span> <i class="icofont-caret-down rotate"></i>
							</a>
							<div class="dropdown-menu arrow-down" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="/recursos-metodologicos/galerias/audios/">Audios</a>
								<a class="dropdown-item" href="/recursos-metodologicos/galerias/imagenes/">Imágenes</a>
								<a class="dropdown-item" href="/recursos-metodologicos/publicaciones/">Publicaciones</a>
								<a class="dropdown-item" href="/recursos-metodologicos/galerias/videos/">Videos</a>
								
							</div>
						</div>

						<div class="media-body media-middle text-center">
							<h5><a href="#0"> </a></h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-20 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
				<div class="teaser main_bg_color3 transp with_padding big-padding margin_0">
					<div class="xxs-media-left">
						<div class="media-middle text-center">
							<div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="icofont-favourite highlight3" aria-hidden="true"></i> </div>
						</div>

						<div class="dropdown dropup text-center">
							<a class="visible_hover white-color iniciativa_content"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span>Iniciativas destacadas</span> <i class="icofont-caret-down rotate"></i>
							</a>
							<div class="dropdown-menu arrow-down" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="/iniciativas-destacadas/campanias">Campañas</a>
								<a class="dropdown-item" href="/iniciativas-destacadas/eventos">Eventos</a>
								<a class="dropdown-item" href="/iniciativas-destacadas/concursos">Concursos</a>
							</div>
						</div>

						<div class="media-body media-middle text-center">

							<h4>
							</h4>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="actualidad" class="ls section_padding_top_90">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 bottommargin_0 to_animate" data-animation="fadeInUp">
				<!--<h2 class="section_header color">Actualidad</h2>-->
				<div class="flex-wrap v-center">
					<div class="col-sm-8 to_animate" data-animation="fadeInRight">
						<h2 class="section_header">Actualidad</h2>
					</div>
					<div class="col-sm-3 text-right hidden-xs to_animate" data-animation="fadeInRight"> <a href="/actualidad/noticias/" class="view-more">Ver más</a> </div>
				</div>
				<div class="owl-carousel loop-colors topmargin_40" data-dots="false" data-nav="true" data-responsive-lg="3">

					{% for obj in actualidad %}
					<article class="vertical-item content-padding big-padding with_border bottom_color_border">
						<div class="item-media"> 
							{% thumbnail obj.photo "830x620" crop="center" as im %}
							<img src="{{ im.url }}" srcset="{{ im.url }} {{ im.x }}w" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/830x620" alt="">
							{% endthumbnail %}
						</div>
						<div class="item-content">
							<header class="entry-header">
								<h3 class="entry-title small bottommargin_0" style="
								height: 52px;
								"> <a href="{% url 'detalle-actualidad' obj.slug %}"><span class="small-text">{{obj.tittle|striptags|truncatechars:71}}</span></a>
							</header>
							<p>
								<a href="{% url 'detalle-actualidad' obj.slug %}" class="more-link">Leer más</a>
							</p>

							<div class="entry-meta greylinks inline-content">

								<span>
									<i class="fa fa-pencil-square-o highlight" aria-hidden="true"></i> {{obj.author.get_full_name|default:obj.author.username}}
								</span>

								<span>
									<i class="icofont-calendar highlight" aria-hidden="true"></i>
									<time datetime="2017-10-03T08:50:40+00:00">{{obj.created_on|date:"d N, Y"}}</time>
								</span>  
							</div>
						</div>
					</article>
					{% endfor %}							
				</div>
			</div>
		</div>
	</div>
</section>

<!--<section class="ls section_padding_top_100 section_padding_bottom_110">
	<div class="container">
		<div class="row">															
			<div class="to_animate" data-animation="fadeInUp">
				<div class="flex-wrap v-center">
					<div class="col-sm-8 to_animate" data-animation="fadeInRight">
						<h2 class="section_header">Próximos Eventos</h2>
					</div>
					<div class="col-sm-3 text-right hidden-xs to_animate" data-animation="fadeInRight"> 
						<a href="/iniciativas-destacadas/eventos/" class="view-more">Ver más</a> 
					</div>
				</div>


				<div class="col-sm-10 col-sm-push-1 topmargin_30 loop-colors">
					{% for obj in eventos %}
					<article class="post side-item side-md content-padding with_border bottom_color_border left loop-colors">
						<div class="row">
							<div class="col-md-5">
								<div class="item-media"> 
									{% thumbnail obj.foto "830x620" crop="center" as im %}
									<img src="{{ im.url }}" srcset="{{ im.url }} {{ im.x }}w" alt="">
									{% empty %}
									<img src="http://via.placeholder.com/830x620" alt="">
									{% endthumbnail %}
									<div class="media-links"> 
										<a class="abs-link" title="" href="{% url 'detailEventos' obj.slug %}"></a> 
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="item-content">
									<header class="entry-header">
											
										<h3 class="entry-title small"> <a href="{% url 'detailEventos' obj.slug %}"> {{obj.tittle}}</a> </h3>
										<div class="entry-meta greylinks inline-content"> 
											<span>
												<i class="fa fa-calendar highlight" aria-hidden="true"></i>
												<time datetime="2017-10-03T08:50:40+00:00">{{obj.inicio|date:"d N, Y"}} - {{obj.hora_inicio|time:"h:i a"}}</time>
											</span> 
											<span>
												<i class="fa fa-map-marker highlight" aria-hidden="true"></i>
												{{obj.city}}
											</span>
											<span class="text-center">
												<i class="icofont-ui-user-group highlight rightpadding_5 "></i>{{obj.author.organizacion.siglas}}
											</span>

										</div>
									</header>
									{{obj.descripcion|safe|striptags|truncatechars:265}}<a href="{% url 'detailEventos' obj.slug %}" class="more-link">Ver más</a>
								</div>
							</div>
						</div>
					</article>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</section>-->

<!-- Contenido foro-->
<!--<section id="blog" class="ls section_padding_bottom_110">
	<div class="container">
		<div class="row flex-wrap v-center">
			<div class="col-sm-8 to_animate" data-animation="fadeInRight">
				<h2 class="section_header">Foros destacados</h2>
			</div>
			<div class="col-sm-3 text-right hidden-xs to_animate" data-animation="fadeInRight"> <a href="/foros/" class="view-more">Ver más</a> </div>

			<div class="col-sm-10 col-sm-push-1 topmargin_30 loop-colors">
				{% for obj in foros %}
				<article class="vertical-item content-padding big-padding side-meta with_border bottom_color_border post format-standard">


					<div class="item-content">
						<div class="entry-meta greylinks inline-content"> 
							<span>
								<i class="icofont-ui-user-group highlight" aria-hidden="true"></i>
								<a> {{obj.usuario.organizacion.siglas}}</a>
							</span>
							<span>
								<i class="icofont-quill-pen highlight" aria-hidden="true"></i>
								<a> {{obj.usuario.get_full_name|default:obj.usuario.username}}</a>
							</span>

							<span>
								<i class="fa fa-comment highlight" aria-hidden="true"></i>
								<a>{{obj.conteo}} aportes</a>
							</span> 

						</div>
						<div class="entry-content-wrap">
							<header class="entry-header">
								<h3 class="entry-title highlight"> <a href="{% url 'detalle-foro' obj.slug %}">{{obj.nombre}}</a> </h3>
							</header>
							<div class="entry-content">
								<p>{{obj.contenido|safe|striptags|truncatechars:200}}</p>
							</div>
						</div>
					</div>
				</article>
				{% endfor %}

			</div>
		</div>
	</div>
</section>-->

{% endblock content %}

{% block extra_js %}


{% endblock extra_js %}