{% extends "base.html" %}
{% load el_pagination_tags %}
{% load thumbnail %}

{% block extra_css %}
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% thumbnail foto_puntos_vista.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
}
</style>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">Puntos de vista</h2>
				<ol class="breadcrumb white-color">
					<li> <a href="/">
						Inicio
					</a> </li>
					<li class="active">Puntos de vista</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_30">
	<div class="container">
		<div class="row">
			{% if list_puntos_vista %}
			<div class="col-sm-7 col-md-8 col-lg-8">
				{% paginate 1 list_puntos_vista %}
				{% for obj in list_puntos_vista  %}
				<article class="post side-item side-md content-padding with_border bottom_color_border left loop-color">
					<div class="row">
						<div class="col-md-5">
							<div class="item-media"> 
								{% thumbnail obj.foto "317x196" crop="center" as im %}
								<img src="{{ im.url }}" alt="">
								{% empty %}
								<img src="http://via.placeholder.com/286x196" alt="">
								{% endthumbnail %}

								<div class="media-links"> <a class="abs-link" title="" href="{% url 'point_details' obj.slug %}"></a> </div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="item-content">
								<header class="entry-header">
									<h3 class="entry-title small"><a href="{% url 'point_details' obj.slug %}">{{obj.tittle}}</a> </h3>
									<div class="entry-meta greylinks inline-content">
										<span>
											<i class="fa fa-users highlight" aria-hidden="true"></i>
											{{obj.usuario.organizacion.siglas}}
										</span> 
										<span>
											<i class="fa fa-pencil-square-o highlight" aria-hidden="true"></i>
											{{obj.usuario}}
										</span> 
									</div>									
								</header>
								<p>{{obj.descripcion|safe|striptags|truncatechars:200}} <a href="{% url 'point_details' obj.slug %}" class="more-link">Ver más</a></p>

							</div>
						</div>
					</div>
				</article>
				{% endfor %}


				<div class="row topmargin_60">
					<div class="col-sm-12 text-center">
						<ul class="pagination">

							{% get_pages %}

							{% if pages.paginated %}
							<li class="page-item">
								<a class="page-link" href="{{ pages.previous.path }}" aria-label="Previous">
									<span aria-hidden="true">&lt;</span>
									<span class="sr-only">Anterior</span>
								</a>
							</li>


							{% for page in pages %}

							{% if page.current %}
							<li class="{% if page.is_current %} active {% endif %}"><a href="./{{ page.url }}">{{ page.number }}</a></li>

							{% else %}
							<li class="{% if page.is_current %} active {% endif %}"><a href="./{{ page.url }}">{{ page.number }}</a></li>
							{% endif %}


							{% endfor %}
							<li class="page-item">
								<a class="page-link" href="{{ pages.next.path }}" aria-label="Next">
									<span aria-hidden="true">&gt;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>

							{% endif %}
						</ul>
					</div>
				</div>
			</div>

			{% else %}
			<div class="col-sm-7 col-md-8 col-lg-8">
				<div class="alert alert-danger" role="alert"> <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button> <strong>Oh no!</strong> No hay resultados </div>
			</div>
			{% endif%}

			<!-- sidebar -->
			<aside class="col-sm-5 col-md-4 col-lg-4">
				<div class="widget widget_search">
					<form class="" action='.' method='GET'>
						<div class="form-group margin_0"> 
							<label class="sr-only" for="widget-search">Search for:</label> 
							<input id="widget-search" type="text" {% if q %}value="{{q}}"{% endif %} name="buscador" class="form-control" placeholder="Buscar..."> 
						</div> 
						<button type="submit" class="theme_button color1">Search</button>	
					</form>
				</div>

				<div class="widget widget_slider widget_recent_posts">
					<h4 class="widget-title"> Próximos Eventos </h4>
					<div class="owl-carousel loop-colors" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
						{% for obj in prox_eventos %}
						<div class="vertical-item content-padding with_border">
							<div class="item-media"> 
								{% thumbnail obj.foto "350x279" crop="center" as im %}
								<img src="{{ im.url }}" alt="">
								{% empty %}
								<img src="http://via.placeholder.com/350x279" alt="">
								{% endthumbnail %}
								<div class="media-links"> <a class="abs-link" title="" href="{% url 'detailEventos' obj.slug %}"></a> </div>
							</div>
							<div class="item-content">
								<h5 class="bottommargin_0"> <a href="{% url 'detailEventos' obj.slug %}">{{obj.tittle}}</a> </h5> <span class="entry-meta greylinks">
									<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
									<a href="{% url 'detailEventos' obj.slug %}">
										<time datetime="2017-10-03T08:50:40+00:00">
										{{obj.inicio|date:"d N, Y"}}</time>
									</a>
								</span> 
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</aside>
			<!-- eof aside sidebar -->
		</div>
	</div>
</section>

{% endblock content %}