{% extends "base.html" %}
{% load el_pagination_tags %}
{% load thumbnail %}

{% block extra_css %}
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% thumbnail foto_foros.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
}
</style>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color ">Foro</h2>
				<ol class="breadcrumb">
					<li class="white-color"> <a href="/">
						Inicio
					</a> </li>
					<li class="active">Foros</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="ls section_padding_top_110 section_padding_bottom_100 columns_padding_30">
	<div class="container">
		<div class="row">

			{% if  object_list.count > 0 %}

			
			<div class="col-sm-7 col-md-8 col-lg-8">
				{% paginate 6 object_list %}
				{% for obj in object_list %}
				<article class="post side-item side-md content-padding with_border bottom_color_border left loop-color">
					<div class="row">
						<div class="col-md-5">
							<div class="item-media"></div>
							{% thumbnail obj.foto "286x196" crop="center" as im %}
							<img src="{{ im.url }}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/286x196" alt="">
							{% endthumbnail %}
							<div class="media-links"> <a class="abs-link" title="" href="{% url 'detalle-foro' obj.slug %}"></a> </div>

						</div>
						<div class="col-md-7">
							<div class="item-content">
								<div class="entry-meta greylinks inline-content">
									{% if obj.usuario.organizacion != '' %}
									<span>
										<i class="fa fa-users highlight" aria-hidden="true"></i>
										<a href="">{{obj.usuario.organizacion.siglas}}</a>
									</span>										
									{% endif %}
									<span>
										<i class="fa fa-pencil-square-o highlight" aria-hidden="true"></i>
										<a href="">{{obj.usuario.get_full_name|default:obj.usuario.username}}</a>
									</span> <span>
										<i class="fa fa-comment highlight" aria-hidden="true"></i>
										<a href="">{{obj.aportes_set.all.count}} aportes</a>
									</span>
								</div>
								<div class="entry-content-wrap">
									<header class="entry-header" style="height: 35px;">
										<h3 class="entry-title"> <a href="{% url 'detalle-foro' obj.slug %}">{{obj.nombre|truncatechars:27}}</a> </h3>
									</header>
									<div class="entry-content">
										<p>{{obj.contenido|safe|striptags|truncatechars:39}} <a href="{% url 'detalle-foro' obj.slug %}" class="more-link">Leer más</a></p>
									</div>
								</div>
							</div>
						</div>




					</div>

				<!--	<div class="item-content">
						<div class="entry-meta greylinks inline-content"> <span>
							<i class="fa fa-calendar highlight" aria-hidden="true"></i>
							<a href="blog-single-full.html">
								<time datetime="2017-10-03T08:50:40+00:00">
								{{obj.apertura|date:"d N, Y"}}</time>
							</a>
						</span> <span>
							<i class="icofont-comment highlight" aria-hidden="true"></i>
							<a href="">{{obj.usuario.get_full_name|default:obj.usuario.username}}</a>
						</span> <span>
							<i class="fa fa-comment highlight" aria-hidden="true"></i>
							<a href="">{{obj.aportes_set.all.count}} aportes</a>
						</span> </div>
						<div class="entry-content-wrap">
							<header class="entry-header">
								<h3 class="entry-title"> <a href="{% url 'detalle-foro' obj.slug %}">{{obj.nombre}}</a> </h3>
							</header>
							<div class="entry-content">
								<p>{{obj.contenido|safe|striptags|truncatechars:200}} <a href="{% url 'detalle-foro' obj.slug %}" class="more-link">Read more</a></p>
							</div>
						</div>
					</div>-->
				</article>
				{% endfor %}
				

				<div class="topmargin_60">
					<ul class="pagination">

						{% get_pages %}

						{% if pages.paginated %}
						<li class="page-item">
							<a class="page-link" href="{{ pages.previous.path }}" aria-label="Previous">
								<span aria-hidden="true">&lt;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>


						{% for page in pages %}

						{% if page.current %}
						<li class="{% if page.is_current %} active {% endif %}"><a href="./{{ page.url }}">{{ page.number }}</a></li>

						{% else %}
						<li class="{% if page.is_current %} active {% endif %}"><a href="./{{ page.url }}">{{ page.number }}</a></li>
						{% endif %}


						{% endfor %}
						<li class="page-item">
							<a class="page-link" href="{{ pages.next.path }}" aria-label="Next">
								<span aria-hidden="true">&gt;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>

						{% endif %}
					</ul>
				</div>
			</div>

			{% else %}
			<div class="col-sm-7 col-md-8 col-lg-8">
				<div class="alert alert-danger" role="alert"> <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button> <strong>Oh no!</strong> No hay resultados </div>

			</div>
			{% endif %}


			<!-- sidebar -->
			<aside class="col-sm-5 col-md-4 col-lg-4">
				<div class="widget widget_search">
					<form class="" action='.' method='GET'>
						<div class="form-group margin_0"> 
							<label class="sr-only" for="widget-search">Search for:</label> 
							<input id="widget-search" type="text" {% if q %}value="{{q}}"{% endif %} name="buscador" class="form-control" placeholder="Buscar..."> 
						</div> 
						<button type="submit" class="theme_button color1">Search</button>	
					</form>
				</div>
				<!-- tags -->
					<!--<div class="widget">
						<h4 class="widget-title">Tags</h4>
						<div class="tagcloud">
							<a href="">Igualdad</a>
							<a href="">Género</a>
							<a href="">Metodología</a>
							<a href="">Nicaragua</a>
						</div>
					</div>-->
					<div class="widget widget_archive">

					</div>

					<div class="widget widget_recent_posts">
						<h4 class="widget-title">Foros Destacados</h4>
						<div class=" loop-colors" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
							{% for destacado in foros_destacados %}
							<div class="vertical-item content-padding with_border">
								
								<div class="item-content">
									<h5 class="bottommargin_0"> <a href="{% url 'detalle-foro' destacado.slug %}"> {{destacado.nombre}}</a> </h5> <span class="entry-meta greylinks">
										<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
										<a href="blog-single-full.html">
											<time datetime="2017-10-03T08:50:40+00:00">
											{{destacado.creacion|date:"d N, Y"}}</time>
										</a>
									</span> 
								</div>
								
							</div>
							{% endfor %}
						</div>
					</div>
					

					<!--<div class="widget widget_recent_posts">
						<h4 class="widget-title">Foros Seguidos</h4>
						<div class=" loop-colors" data-nav="true" data-loop="true" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
							<div class="vertical-item content-padding with_border">


								<div class="vertical-item content-padding with_border">

									<div class="item-content">
										<h5 class="bottommargin_0"> <a href="blog-single-right.html">FORO DE ESTOCOLMO SOBRE LA IGUALDAD DE GÉNERO.</a> </h5> <span class="entry-meta greylinks">
											<i class="fa fa-calendar highlight rightpadding_5" aria-hidden="true"></i>
											<a href="blog-single-full.html">
												<time datetime="2017-10-03T08:50:40+00:00">
												17 jun, 2019</time>
											</a>
										</span> 
									</div>
								</div>
							</div>
						</div>
					</div>-->

				</aside>
				<!-- eof aside sidebar -->
			</div>
		</div>
	</section>
	{% endblock content %}