{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}
{% load solo_tags %}

{% block extra_css %}
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% thumbnail foto_alianzas.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
}
</style>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">Alianzas</h2>
				<ol class="breadcrumb">
					<li> <a href="/" class="white-color">
						Inicio
					</a> </li>
					<li class="active">Alianzas</li>
				</ol>
			</div>
		</div>
	</div>
</section>

{% get_solo 'configuracion.InformacionAlianzas' as info %}
{% if info.activo %}
<section class="ls section_padding_top_100 section_map">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 bottommargin_0 to_animate" data-animation="fadeInUp">
				<div class="flex-wrap v-center">
					<div class="col-sm-8 to_animate" data-animation="fadeInRight">
						<h2 class="section_header color1">{{info.titulo}}</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-12 to_animate" data-animation="fadeInUp">
				<div class="row">
					{{info.contenido|safe}}
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}

{% if request.user.is_authenticated %}
<section id="account_login" class="ls section_padding_top_110 columns_padding_30">
	<div class="container">
		<div class="row">
			
			<div class="col-md-12 to_animate animated fadeInRight" data-animation="fadeInRight" data-delay="300">
				<div class="row flex-wrap v-center-content">
					
					{% if user.avatar %}
					{% thumbnail user.avatar "127x127" crop="center" as im %}
						<img class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper" src="{{ im.url }}" width="100%">
					{% endthumbnail %}
					{% elif user.socialaccount_set.all.0.get_avatar_url %}
					{% thumbnail user.socialaccount_set.all.0.get_avatar_url "127x127" crop="center" as im %}
						<img class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper" src="{{ im.url }}" width="100%">
					{% endthumbnail %}
					{% else %}
						<img class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper" src="/static/img/unknown-profile.png" width="100%">
					{% endif %}
					<div class="account_info">
						<h4 class=""> Bienvenido {{user.get_full_name|default:user.username}}</h4>
						<h5> {{user.organizacion}}</h5>
					</div>

				</div>
				<ul class="account_alianza">
					<li><a href="{% url 'perfil' %}">Administrador</a></li>
					<li><a href="{% url 'editar_perfil' user.id %}?next={{ request.path }}">Editar perfil</a></li>
					<li><a href="{% url 'account_change_password' %}">Cambiar contraseña</a></li>
					<li><a href="/accounts/logout/">Cerrar Sesión</a></li>
				</ul>
				
			</div>
		</div>
	</div>
</section>
{% else %}
<section id="about" class="ls section_padding_top_110 columns_padding_30">
	<div class="container">
		<div class="row">
			<div class="col-md-12 to_animate animated fadeInRight" data-animation="fadeInRight" data-delay="300">
				<h2 class="section_header color4">Alianzas y Colaboraciones</h2>
				<p class="section-excerpt grey">
					Participa en nuestras actividades digitales donde podrás compartir contenido con niños, niñas y jóvenes para fomentar una cultura de inclusión.
				</p>
				<a id="contact_form_submit" href="{% url 'account_login' %}?next={{ request.path }}" class="theme_button color4 min_width_button margin_0">
					<span class="fa fa-sign-in"></span>  Iniciar Sesión  
				</a> 
			</div>
		</div>
	</div>
</section>
{% endif%}
<section id = "list_alianza"class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
	<div class="container">
		<div class="row flex-wrap columns_margin_bottom_20">
			{% paginate 9 list_object %}
			{% for obj in list_object %}
			<div class="col-sm-6 col-md-4">
				
				<article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center fixed-height">
					<div class="item-media"> 
						{% thumbnail obj.logo "240x170" format='PNG' as im %}
						<img src="{{ im.url }}" alt="">
						{% empty %}
						<img src="http://via.placeholder.com/240x170" alt="">
						{% endthumbnail %}

						<div class="media-links"> <a class="abs-link" title="" href="{% url 'detalles_organizaciones' obj.slug %}"></a> </div>
					</div>
					<div class="item-content">
						<header class="entry-header">
							<h3 class="entry-title small bottommargin_0" style="height: 53px;overflow: hidden;"> 
								<a href="{% url 'detalles_organizaciones' obj.slug %}">{{obj.siglas}}</a> 
							</h3> 
							<div class=" text-left">{{obj.generalidades|safe|striptags|truncatechars:109}}
								<a href="{% url 'detalles_organizaciones' obj.slug %}" class="more-link"> Leer más</a>
							</div> 
						</header>
						<ul class="social-org">
							{% for red in obj.redes_set.all|slice:":6" %}
							<li><a target="_blank" class="{% if red.opcion == 'Sitio web' %}
							fa fa-globe
							{% elif red.opcion == 'Facebook' %}
							socicon-facebook
							{% elif red.opcion == 'Twitter' %}
							socicon-twitter
							{% elif red.opcion == 'Youtube' %}
							socicon-youtube
							{% elif red.opcion == 'Instagram' %}
							socicon-instagram
							{% elif red.opcion == 'Linkedin' %}
							socicon-linkedin
							{% elif red.opcion == 'Flickr' %}
							socicon-flickr
							{% elif red.opcion == 'Pinterest' %}
							socicon-pinterest
							{% elif red.opcion == 'Vimeo' %}
							socicon-vimeo
							{% elif red.opcion == 'Otra' %}
							fa fa-link
							{% endif %}" href="{{red.url}}" title="{{red.opcion}}"></a></li>
							{% endfor %}

						</p>
					</div>
				</article>

				
			</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="topmargin_20">
					<ul class="pagination">
						{% show_pages %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $(".endless_page_current").addClass("active");
  $('.endless_page_link').wrap('<li></li>');
  $('.endless_page_current').wrap('<li class="active"></li>');
</script>
{% endblock extra_js %}
