{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block extra_css %}
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% thumbnail foto_alianzas.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
}
</style>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">Alianzas</h2>
				<ol class="breadcrumb greylinks">
					<li> <a href="./">
						Inicio
					</a> </li>
					<li class="active">Alianzas</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section id = "list_alianza"class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
	<div class="container">
		<div class="row flex-wrap columns_margin_bottom_20">
			{% for obj in list_object %}
			<div class="col-sm-6 col-md-4">
				
				<article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center fixed-height">
					<div class="item-media"> 
						{% thumbnail obj.logo "238x166" format='PNG' as im %}
						<img src="{{ im.url }}" alt="">
						{% empty %}
						<img src="http://via.placeholder.com/256x166" alt="">
						{% endthumbnail %}

						<div class="media-links"> <a class="abs-link" title="" href="{% url 'detalles_organizaciones' obj.slug %}"></a> </div>
					</div>
					<div class="item-content">
						<header class="entry-header">
							<h3 class="entry-title small bottommargin_0"> <a href="{% url 'detalles_organizaciones' obj.slug %}">{{obj.siglas}}</a> </h3> <div class=" text-left">{{obj.generalidades|safe|striptags|truncatechars:109}}<a href="{% url 'detalles_organizaciones' obj.slug %}" class="more-link"> Leer más</a></div> 
						</header>
						<p class="member-social greylinks">
							{% for red in obj.redes_set.all|slice:":3" %}
							<a target="_blank" style="margin-left:25px;" class="{% if red.opcion == 'Sitio web' %}
							fa fa-globe
							{% elif red.opcion == 'Facebook' %}
							socicon-facebook
							{% elif red.opcion == 'Twitter' %}
							socicon-twitter
							{% elif red.opcion == 'Youtube' %}
							socicon-youtube
							{% elif red.opcion == 'Instagram' %}
							socicon-instagram
							{% elif red.opcion == 'Linkedin' %}
							socicon-linkedin
							{% elif red.opcion == 'Flickr' %}
							socicon-flickr
							{% elif red.opcion == 'Pinterest' %}
							socicon-pinterest
							{% elif red.opcion == 'Vimeo' %}
							socicon-vimeo
							{% elif red.opcion == 'Otra' %}
							fa fa-link
							{% endif %}" href="{{red.url}}" title="{{red.opcion}}"></a>
							{% endfor %}

						</p>
					</div>
				</article>

				
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock content %}