{% extends "base.html" %}
{% load el_pagination_tags %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" />
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% if '/audios/' in request.path %}
	{% thumbnail foto_galerias_audios.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
	{% elif '/imagenes/' in request.path %}
	{% thumbnail foto_galerias_imagenes.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
	{% elif '/videos/' in request.path %}
	{% thumbnail foto_galerias_videos.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
	{% endif %}
	
}
</style>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">{% if '/imagenes/' in request.path %}Imágenes{% elif '/videos/' in request.path %}Videos{% else %}Audios{% endif %}</h2>
				<ol class="breadcrumb white-color">
					<li> <a href="/">
						Inicio
					</a> </li>
					<li class="">Galería</li>
					<li class="active">{% if '/imagenes/' in request.path %}Imágenes{% elif '/videos/' in request.path %}Videos{% else %}Audios{% endif %}  </li>
				</ol>
			</div>
		</div>
	</div>
</section>



<section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_30">
	<div class="container">
		<div class="row">
			{% if list_galeria %}
			<div class="col-sm-7 col-md-8 col-lg-8">
				<div class="isotope_container isotope row masonry-layout columns_margin_bottom_20" data-filters=".isotope_filters">
					{% paginate 8 list_galeria %}
					{% for obj in list_galeria %}
					<div class="isotope-item col-lg-6 col-md-12 col-sm-12 category-1">
						<article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color">
							<div class="item-media">
								{% if '/videos/' in request.path %}
									{% if obj.portada %}
										{% thumbnail obj.portada "365x229" crop="center" as im %}
										<img src="{{ im.url }}" alt="">
										{% endthumbnail %}
									{% elif obj.listvideos_set.all %}
										{% video obj.listvideos_set.first.url as my_video %}
											{% thumbnail my_video.thumbnail "365x229" crop="center" as im %}
												<img src="{{ im.url }}" alt="">
											{% endthumbnail %}
										{% endvideo %}
									{% else %}
										<img src="http://via.placeholder.com/365x229" alt="">
									{% endif %}
									<div class="media-links"> <a class="abs-link" title="" href="{% url 'detalle_galeria_vid' obj.slug %}"></a> </div>
								{% else %}
									{% thumbnail obj.portada "365x229" crop="center" as im %}
									<img src="{{ im.url }}" alt="">
									{% empty %}
									<img src="http://via.placeholder.com/365x229" alt="">
									{% endthumbnail %}
									<div class="media-links"> <a class="abs-link" title="" href="{% if '/imagenes/' in request.path %}{% url 'detalle_galeriaImagenes' obj.slug %}{% else %}{% url 'detalle_galeria_audio' obj.slug %}{% endif %}"></a> </div>
								{% endif %}	
							</div>
							<div class="item-content">
								<header class="entry-header">
									<div class="categories-links small-text highlightlinks"> 
										<span class="highlight">{{obj.tematica}}</span> 
									</div>
									<h3 class="entry-title small bottommargin_0" style="height:52px;overflow:hidden;">
										<a rel='bookmark' href="{% if '/videos/' in request.path %}{% url 'detalle_galeria_vid' obj.slug %}{% elif '/imagenes/' in request.path %}{% url 'detalle_galeriaImagenes' obj.slug %}{% else %}{% url 'detalle_galeria_audio' obj.slug %}{% endif %}">
											<span class="small-text">{{obj|striptags|truncatechars:52}}</span>	
										</a>
									</h3>
									<div style="height:90px;overflow:hidden;margin-top: 10px;">{{obj.descripcion|safe|truncatechars:120}}</div>
								</header>
								
							</div>
						</article>
					</div>
					
					{% endfor %}

				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="topmargin_20">
							<ul class="pagination">
								
								{% get_pages %}

								{% if pages.paginated %}
								<li class="page-item">
									<a class="page-link" href="{{ pages.previous.path }}" aria-label="Previous">
										<span aria-hidden="true">&lt;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								

								{% for page in pages %}

								{% if page.current %}
								<li class="{% if page.is_current %} active {% endif %}"><a href="./{{ page.url }}">{{ page.number }}</a></li>

								{% else %}
								<li class="{% if page.is_current %} active {% endif %}"><a href="./{{ page.url }}">{{ page.number }}</a></li>
								{% endif %}
								

								{% endfor %}
								<li class="page-item">
									<a class="page-link" href="{{ pages.next.path }}" aria-label="Next">
										<span aria-hidden="true">&gt;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>

								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<div class="col-sm-7 col-md-8 col-lg-8">
				<div class="alert alert-danger" role="alert"> <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button> <strong>Oh no!</strong> No hay resultados </div>
			</div>
			{% endif %}
			<!--eof .col-sm-8 (main content)-->
			<!-- sidebar -->
			<aside class="col-sm-5 col-md-4 col-lg-4">
				<div class="widget widget_search">
					<form class="" action='.' method='GET'>
						<div class="form-group margin_0"> 
							<label class="sr-only" for="widget-search">Buscar:</label> 
							<input id="widget-search" type="text" {% if q %}value="{{q}}"{% endif %} name="buscador" class="form-control" placeholder="Buscar..."> 
						</div> 
						<button type="submit" class="theme_button color1">Search</button>	
					</form>
				</div>

				<!-- categorias -->
					<div class="widget">
						<h4 class="widget-title">Categorías</h4>
						<div class="">
							<ul>
								<li><a href="/recursos-metodologicos/publicaciones/">Publicaciones</a></li>									
								<!--<li><a href="/recursos-metodologicos/guias-metodologicas/">Guías metodológicas</a></li>-->
								<li><a href="/recursos-metodologicos/galerias/imagenes/">Imágenes</a></li>	
								<li><a href="/recursos-metodologicos/galerias/videos/">Videos</a></li>
								<li><a href="/recursos-metodologicos/galerias/audios/">Audios</a></li>	
							</ul>
						</div>
					</div>

				<div class="widget">
					<h4 class="widget-title">Temáticas</h4>
					<div class="">
						{% for x in list_tematica.keys %}
							{% if forloop.counter < 7 %}
							<ul>
								{% if '/imagenes/' in request.path %}
									<li><a href="{% url 'filtro_temas_img' x.id %}">{{x}}</a></li>
								{% elif '/videos/' in request.path %}
									<li><a href="{% url 'filtro_temas_vid' x.id %}">{{x}}</a></li>
								{% else %}
									<li><a href="{% url 'filtro_temas_audio' x.id %}">{{x}}</a></li>
								{% endif %}
							</ul>	
							{% endif %}
						{% endfor %}
						

					</div>
				</div>
			</aside>

		</section>

		{% endblock content %}
		{% block extra_js %}
		<script src="/static/js/jquery.fancybox.min.js"></script>

		<script>
		$('.fancybox').fancybox({ 
			afterShow: function(){     
				$('.fancybox-iframe').contents().find('input').click(function(){
					window.parent.location.reload();
					window.parent.$.fancybox.close();
				}); 
			}
		});
		</script>
		{% endblock extra_js %}
