{% extends "admin/base_admin.html" %}

{% block content %}
<style type="text/css">
#services, .mainmenu {
	display: none
}
.page_construccion{
	margin: 40px 0;
}
</style>

<section class="page_construccion">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="highlight2">Página en construcción</h2>
			</div>
			<div class="col-lg-offset-2 col-lg-8">
				<iframe width="100%" height="400" src="https://www.youtube.com/embed/AdAW5-lWYo4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>	
	</div>

</section>

{% endblock content %}