{% extends "base.html" %}
{% load thumbnail %}

{% block extra_css %}
<style type="text/css">
.page_breadcrumbs.background_cover {
	{% thumbnail foto_quienes_somos.0 "1350x230" crop="center" as im %}
	background:-webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:-o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({{im.url}});
	{% endthumbnail %}
}
</style>
{% endblock extra_css %}

{% block content %}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="white-color">{{flatpage.title}}</h2>
				<ol class="breadcrumb">
					<li class="white-color"> <a href="/">
						Inicio
					</a> </li>
					<li class="active">Quiénes somos</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_30">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				{{flatpage.content}}
			</div>
		</div>
	</div>
</div>
	
{% endblock content %}